<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="spancommon span_font_size">
                Policies
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row mt-1">
            <div class="col-12 col-md-12 col-lg-12">
                <ng-container *ngIf="quoteData.length!=0">
                    <app-commodity-table [cols]="quoteHeader" [start]="startIndex" [pageCount]="pageCount" [end]="endIndex" [pageNo]="quotePageNo" [totalQuoteRecords]="totalQuoteRecords" (onLoadPreviousData)="onPreviousData($event)" (onLoadNextData)="onNextData($event)" (onSchedule)="onGetSchedule($event)" (onCredit)="onCreditdownload($event)" (onDebit)="onDebitdownload($event)" [data]="quoteData" [innerCols]="innerColumnHeader" [innerData]="innerTableData" (onEdit)="onEditQuotes($event)" (onGetEndorsements)="onGetEndorsements($event)" (onAdd)="onInnerData($event)"  (onView)="onViews($event)">
                    </app-commodity-table>
                </ng-container>
                <ng-container *ngIf="quoteData.length==0">
                    <div class="text-center spancommon span_font_size">
                        No Policy Available
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
