<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="spancommon span_font_size">
                Policies
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row" >
            <div class="col-md-4 col-lg-4 col-xl-4" *ngIf="!show">
                <div class="input-control-container">
                    <label class="input-form-label">Broker Name</label><span class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [(ngModel)]="brokerCode"  [items]="brokerList" bindValue="Code" bindLabel="CodeDesc" (change)="getExistingQuotes(null,'change')">
                    </ng-select>
                </div>
            </div>
            <div  *ngIf="userType == 'Issuer'" [ngClass]="show ? 'col-md-3 col-lg-3 col-xl-3 offset-9' : 'col-md-3 col-lg-3 col-xl-3 offset-5'"><!--[ngClass]="show ? 'col-md-2 col-lg-2 col-xl-2 offset-6' : 'col-md-2 col-lg-2 col-xl-2 offset-6'"-->
                <mat-checkbox class="example-margin" (change)="onSelectCustomer($event.checked)" [checked]="customersearch">Other Policy Search</mat-checkbox>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-md-12 col-lg-12">
                <div *ngIf="!show">
                    <ng-container *ngIf="quoteData.length!=0">
                        <app-commodity-table [cols]="quoteHeader" [start]="startIndex" [pageCount]="pageCount" [end]="endIndex" [pageNo]="quotePageNo" [totalQuoteRecords]="totalQuoteRecords" (onLoadPreviousData)="onPreviousData($event)" (onLoadNextData)="onNextData($event)" (onSchedule)="onGetSchedule($event)" (onCredit)="onCreditdownload($event)" (onDebit)="onDebitdownload($event)" [data]="quoteData" [innerCols]="innerColumnHeader" [innerData]="innerTableData" (onEdit)="onEditQuotes($event)" (onGetEndorsements)="onGetEndorsements($event)" (onAdd)="onInnerData($event)"  (onView)="onViews($event)">
                        </app-commodity-table>
                    </ng-container>
                    <ng-container *ngIf="quoteData.length==0">
                        <div class="text-center spancommon span_font_size">
                            No Policy Available
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="show && userType == 'Issuer'">
                <div class="card-body">
                    <div class="row">
                    <div class="col-12 col-md-4 ml-5">
                        <div class="input-control-container">
                            <div class="input-form-box">
                                <input type="text" class="input-form-control with-icon" [(ngModel)]="searchValue" placeholder="Search">
                                <span class="input-form-icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" *ngIf="searchValue.length > 5 ? '...' : ''" style="margin-top:-6px;"><!--"searchValue.length > 2 ? '...' : ''"-->
                        <button class="custom-btn btn-6" matRipple style="margin: 0.7rem 0;" (click)="eventothers(element,searchValue,'change')"><i class="fas fa-search"></i>&nbsp;Search </button>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <ng-container *ngIf="OthersList.length!=0 && searchValue.length > 5">
                                <app-commodity-table [cols]="quoteHeader" [start]="startIndex" [pageCount]="pageCount" [end]="endIndex" [pageNo]="quotePageNo"  [totalQuoteRecords]="totalQuoteRecords" (onSchedule)="onGetSchedule($event)" (onCredit)="onCreditdownload($event)" (onLoadPreviousData)="onPreviousDataInnergrid($event,searchValue)" (onLoadNextData)="onNextInnerData($event,searchValue)" (onDebit)="onDebitdownload($event)"  [data]="OthersList" [innerCols]="innerColumnHeader" [innerData]="innerTableData" (onEdit)="onEditQuotes($event)" (onGetEndorsements)="ongetEndorsement($event)" (onAdd)="onInnerData($event)"  (onView)="onViews($event)">
                                </app-commodity-table>
                            </ng-container>
                            <ng-container *ngIf="OthersList.length==0">
                                <div class="text-center spancommon span_font_size">
                                    No Other Policy Available
                                </div>
                            </ng-container>
                            </div>
                    </div>
                        <div class="text-center mt-2" *ngIf="show && userType == 'Issuer'">
                            <button class="btn btn-danger" (click)="ongetBacks()">Back</button>
                        </div>
                </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
