<div class="card">
    <div class="card-header">Product Configuration</div>
    <div class="card p-1">
        <div class="vision-grid vision-grid-column-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input id="menu" type="radio" name="menu" value="Product" (click)="onRedirect('Product')" [(ngModel)]="activeMenu">
                    <label for="menu">Product Details</label>
                    <input type="radio" id="menu6" name="menu" value="FactorType" (click)="onRedirect('FactorType')" [(ngModel)]="activeMenu">
                    <label for="menu6">Factor Type</label>
                    <input type="radio" id="menu1" name="menu" value="Section" (click)="onRedirect('Section')" [(ngModel)]="activeMenu">
                    <label for="menu1">Section</label>
                    <input type="radio" id="menu2" name="menu" value="Cover" (click)="onRedirect('Cover')" [(ngModel)]="activeMenu">

                    <label for="menu2">Cover</label>
                    <ng-container *ngIf="productId=='4'">
                        <input type="radio" id="menu20" name="menu" value="PlanType" (click)="onRedirect('PlanType')" [(ngModel)]="activeMenu">
                        <label for="menu20">PlanType Benefit</label>
                    </ng-container> 
                    <input type="radio" id="menu20" name="menu" value="Benefit" (click)="onRedirect('Benefit')" [(ngModel)]="activeMenu">
                    <label for="menu20">Product Benefit</label>
                    <input type="radio" id="menu15" name="menu" value="Policy"(click)="onRedirect('Policy')" [(ngModel)]="activeMenu">
                    <label for="menu15">Policy Type</label>
                    <input type="radio" id="menu10" name="menu" value="Emi" (click)="onRedirect('Emi')" [(ngModel)]="activeMenu">
                    <label for="menu10">EMI</label>
                    <!-- <input type="radio" id="menu3" name="menu" value="SubCover" (click)="onRedirect('SubCover')" [(ngModel)]="activeMenu">
                    <label for="menu3">SubCover</label> -->
                    <input type="radio" id="menu8" name="menu" value="Tax" (click)="onRedirect('Tax')" [(ngModel)]="activeMenu">
                    <label for="menu8">Tax</label>
                    <input type="radio" id="menu9" name="menu" value="Prorata" (click)="onRedirect('Prorata')" [(ngModel)]="activeMenu">
                    <label for="menu9">ProRata</label>
                    <input type="radio" id="menu7" name="menu" value="UwQues" (click)="onRedirect('UwQues')" [(ngModel)]="activeMenu">
                    <label for="menu7">UnderWriter Questions</label>
                    <input type="radio" id="menu5" name="menu" value="Referral" (click)="onRedirect('Referral')" [(ngModel)]="activeMenu">
                    <label for="menu5">Referral</label>
                    <input type="radio" id="menu4" name="menu" value="Document" (click)="onRedirect('Document')" [(ngModel)]="activeMenu">
                    <label for="menu4">Attached Documents</label>
                    <input type="radio" id="menu11" name="menu" value="Payment" (click)="onRedirect('Payment')" [(ngModel)]="activeMenu">
                    <label for="menu11">Payment</label>
                    <input type="radio" id="menu12" name="menu" value="Notification"(click)="onRedirect('Notification')" [(ngModel)]="activeMenu">
                    <label for="menu12">Notification</label>
                    <input type="radio" id="menu13" name="menu" value="TinyUrl"(click)="onRedirect('TinyUrl')" [(ngModel)]="activeMenu">
                    <label for="menu13">TinyUrl</label>
                    <input type="radio" id="menu14" name="menu" value="Premia"(click)="onRedirect('Premia')" [(ngModel)]="activeMenu">
                    <label for="menu14">Premia Configuration</label>
                    <!--<input type="radio" id="menu16" name="menu" value="Industry"(click)="onRedirect('Industry')" [(ngModel)]="activeMenu">
                    <label for="menu16">Industry</label>-->
                    <input type="radio" id="menu17" name="menu" value="Promo"(click)="onRedirect('Promo')" [(ngModel)]="activeMenu">
                    <label for="menu17">PromoCode</label>
                    <input type="radio" id="menu19" name="menu" value="EndorsementField"(click)="onRedirect('EndorsementField')" [(ngModel)]="activeMenu">
                    <label for="menu19">EndorsementField Type</label>
                    <input type="radio" id="menu18" name="menu" value="Endorsement"(click)="onRedirect('Endorsement')" [(ngModel)]="activeMenu">
                    <label for="menu18">Endorsement Type</label>
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>Endorsement Type Details</div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Endorsement Type Name<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.EndtType" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Category<span class="text-required">*</span></label>
                                    <ng-select class="input-form-select" disabled appendTo="body" [items]="categoryList" [(ngModel)]="endorsementDetails.EndtTypeCategoryId" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" >
                                <div class="input-control-container">
                                    <label class="input-form-label">Fields To be Enabled<span class="text-required">*</span></label>
                                    <ng-select class="input-form-select" appendTo="body" [items]="fieldList" [multiple]="true" [(ngModel)]="endorsementDetails.EndtDependantIds" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Priority<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.Priority" maxlength="3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Core App Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.CoreAppCode" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Endorsement Fee Required?<span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes1" type="radio" name="originatingWarehouse1" [(ngModel)]="endorsementDetails.EndtFeeYn" (change)="onChangeEndFeeYN()" value="Y">
                                            <label for="orginwarehouse_Yes1">Yes</label>
                                            <input type="radio" id="orginwarehouse_No1" name="originatingWarehouse1" [(ngModel)]="endorsementDetails.EndtFeeYn" (change)="onChangeEndFeeYN()" value="N">
                                            <label for="orginwarehouse_No1">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4 col-lg-4" *ngIf="endorsementDetails.EndtFeeYn=='Y'">
                                <div class="input-control-container">
                                    <label class="input-form-label">Calculation Type<span class="text-required">*</span></label>
                                    <ng-select class="input-form-select" appendTo="body" [items]="calcTypeList" [(ngModel)]="endorsementDetails.CalcTypeId" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" *ngIf="endorsementDetails.CalcTypeId && endorsementDetails.EndtFeeYn=='Y'">
                                    <div class="input-control-container" >
                                        <label class="input-form-label" *ngIf="endorsementDetails.CalcTypeId=='A'">Amount<span class="text-required">*</span></label>
                                        <label class="input-form-label"  *ngIf="endorsementDetails.CalcTypeId=='P'">Percentage<span class="text-required">*</span></label>
                                        <label class="input-form-label"  *ngIf="endorsementDetails.CalcTypeId=='M'">Mile<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.EndtFeePercent" maxlength="10">
                                        </div>
                                    </div>
                            </div>
                            
                            <div class="col-12 col-md-4 col-lg-4 mt-2">
                                <label class="input-form-label">Effective Date<span class="text-required">*</span></label>
                                <mat-form-field appearance="fill">
                                    <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="endorsementDetails.EffectiveDateStart">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Regulatory Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.RegulatoryCode" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <textarea cols="120" rows="2" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.Remarks" maxlength="200"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">EndtTypeDescription<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <textarea cols="120" rows="2" class="input-form-control without-icon" [(ngModel)]="endorsementDetails.EndtTypeDesc" maxlength="200"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5 col-lg-5">
                                <div class="input-control-container">
                                    <label class="input-form-label">Status <span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Pending" type="radio" name="originatingWarehouse" [(ngModel)]="endorsementDetails.Status" value="P">
                                            <label for="orginwarehouse_Pending">Pending</label>
                                            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="endorsementDetails.Status" value="Y">
                                            <label for="orginwarehouse_Yes">Active</label>
                                            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="endorsementDetails.Status" value="N">
                                            <label for="orginwarehouse_No">DeActive</label>
                                            <input type="radio" id="orginwarehouse_Referral" name="originatingWarehouse" [(ngModel)]="endorsementDetails.Status" value="R">
                                            <label for="orginwarehouse_Referral">Referral</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-12 col-md-6 col-lg-6 mt-2">
                                <label class="input-form-label">Fields To be Enabled<span class="text-required">*</span></label>
                                <select
                                class="custom-select"
                                name="ratings"
                                [ngModel]="endorsementDetails.EndtDependantIds">
                                <option 
                                 *ngFor="let orc of fieldList"
                                  [value]="orc.Code">
                                  {{orc.CodeDesc}}
                                </option>
                             </select>
                            </div>-->
                            

                            <!--<div class="col-12 col-md-6 col-lg-6 mt-2">

                                <ng-multiselect-dropdown
                                      [settings]="dropdownSettings"
                                            [data]="dropdownList"
                                     formControlName="myItems">
                                 </ng-multiselect-dropdown>
                            </div>-->
                            
                            

                            
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-danger" (click)="ongetBack()">Back</button>&nbsp;
                            <button class="btn btn-success ml-2" (click)="onSaveEndorsement()">Save</button>
                            <!--(click)="onProceed()-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>