<div class="card">
    <div class="card-header">Product Configuration</div>
    <div class="card p-1">
        <div class="vision-grid vision-grid-column-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input id="menu" type="radio" name="menu" value="Product" (click)="onRedirect('Product')" [(ngModel)]="activeMenu">
                    <label for="menu">Product Details</label>
                    <input type="radio" id="menu6" name="menu" value="FactorType" (click)="onRedirect('FactorType')" [(ngModel)]="activeMenu">
                    <label for="menu6">Factor Type</label>
                    <input type="radio" id="menu1" name="menu" value="Section" (click)="onRedirect('Section')" [(ngModel)]="activeMenu">
                    <label for="menu1">Section</label>
                    <input type="radio" id="menu2" name="menu" value="Cover" (click)="onRedirect('Cover')" [(ngModel)]="activeMenu">
          
                    <label for="menu2">Cover</label>
                    <ng-container *ngIf="productId=='4'">
                        <input type="radio" id="menu20" name="menu" value="Benefit" (click)="onRedirect('Benefit')" [(ngModel)]="activeMenu">
                        <label for="menu20">PlanType Benefit</label>
                    </ng-container> 
                    <input type="radio" id="menu20" name="menu" value="Benefit" (click)="onRedirect('Benefit')" [(ngModel)]="activeMenu">
                    <label for="menu20">Product Benefit</label>
                    <input type="radio" id="menu15" name="menu" value="Policy"(click)="onRedirect('Policy')" [(ngModel)]="activeMenu">
                    <label for="menu15">Policy Type</label>
                    <input type="radio" id="menu10" name="menu" value="Emi" (click)="onRedirect('Emi')" [(ngModel)]="activeMenu">
                    <label for="menu10">EMI</label>
                    <!-- <input type="radio" id="menu3" name="menu" value="SubCover" (click)="onRedirect('SubCover')" [(ngModel)]="activeMenu">
                    <label for="menu3">SubCover</label> -->
                    <input type="radio" id="menu8" name="menu" value="Tax" (click)="onRedirect('Tax')" [(ngModel)]="activeMenu">
                    <label for="menu8">Tax</label>
                    <input type="radio" id="menu9" name="menu" value="Prorata" (click)="onRedirect('Prorata')" [(ngModel)]="activeMenu">
                    <label for="menu9">ProRata</label>
                    <input type="radio" id="menu7" name="menu" value="UwQues" (click)="onRedirect('UwQues')" [(ngModel)]="activeMenu">
                    <label for="menu7">UnderWriter Questions</label>
                    <input type="radio" id="menu5" name="menu" value="Referral" (click)="onRedirect('Referral')" [(ngModel)]="activeMenu">
                    <label for="menu5">Referral</label>
                    <input type="radio" id="menu4" name="menu" value="Document" (click)="onRedirect('Document')" [(ngModel)]="activeMenu">
                    <label for="menu4">Attached Documents</label>
                    <input type="radio" id="menu11" name="menu" value="Payment" (click)="onRedirect('Payment')" [(ngModel)]="activeMenu">
                    <label for="menu11">Payment</label>
                    <input type="radio" id="menu12" name="menu" value="Notification"(click)="onRedirect('Notification')" [(ngModel)]="activeMenu">
                    <label for="menu12">Notification</label>
                    <input type="radio" id="menu13" name="menu" value="TinyUrl"(click)="onRedirect('TinyUrl')" [(ngModel)]="activeMenu">
                    <label for="menu13">TinyUrl</label>
                    <input type="radio" id="menu14" name="menu" value="Premia"(click)="onRedirect('Premia')" [(ngModel)]="activeMenu">
                    <label for="menu14">Premia Configuration</label>
                    <!--<input type="radio" id="menu16" name="menu" value="Industry"(click)="onRedirect('Industry')" [(ngModel)]="activeMenu">
                    <label for="menu16">Industry</label>-->
                    <input type="radio" id="menu17" name="menu" value="Promo"(click)="onRedirect('Promo')" [(ngModel)]="activeMenu">
                    <label for="menu17">PromoCode</label>
                    <input type="radio" id="menu19" name="menu" value="EndorsementField"(click)="onRedirect('EndorsementField')" [(ngModel)]="activeMenu">
                    <label for="menu19">EndorsementField Type</label>
                    <input type="radio" id="menu18" name="menu" value="Endorsement"(click)="onRedirect('Endorsement')" [(ngModel)]="activeMenu">
                    <label for="menu18">Endorsement Type</label>
                  </div>
            </div>
            <div class="vision-grid-item">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                UnderWriter Question Details
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="input-control-container">
                                    <label class="input-form-label">Question<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <textarea class="input-form-control without-icon" [(ngModel)]="questionDesc" maxlength="500" cols="160" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Question Type<span class="text-required">*</span></label>
                                    <ng-select class="custom" name="calcType" [(ngModel)]="typeValue" placeholder="Select Question Type" appendTo="body" [searchable]="true" [clearable]="true" [closeOnSelect]="true">
                                        <ng-option *ngFor="let opt of typeList" [value]="opt.value">{{opt.text}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xl-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Branch<span class="text-required">*</span></label>
                                    <ng-select class="input-form-select" disabled appendTo="body" [items]="branchList" [(ngModel)]="branchValue" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Effective Date <span class="text-required">*</span></label>
                                    <mat-form-field appearance="fill">
                                        <input matInput [matDatepicker]="picker" [min]="minDate" (dateChange)="onStartDateChange()" [(ngModel)]="effectiveDateStart">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Core App Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="coreAppCode" class="input-form-control without-icon" maxlength="20">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Regulatory Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="regCode" class="input-form-control without-icon" maxlength="20">
                                    </div>
                                </div>
                            </div> -->
                            
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <textarea class="input-form-control without-icon" [(ngModel)]="remarks" maxlength="500" cols="160" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Status</label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="statusValue" value="Y">
                                            <label for="orginwarehouse_Yes" class="customLabel">Active</label>
                                            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="statusValue" value="N">
                                            <label for="orginwarehouse_No" class="customLabel">DeActive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Validation Type</label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes1" type="radio" name="originatingWarehouse1" [(ngModel)]="MandatoryYn" value="Y">
                                            <label for="orginwarehouse_Yes1" class="customLabel">Mandatory</label>
                                            <input type="radio" id="orginwarehouse_No1" name="originatingWarehouse1" [(ngModel)]="MandatoryYn" value="N">
                                            <label for="orginwarehouse_No1" class="customLabel">Non Mandatory</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                           
                            <div class="col-12 col-md-4 col-lg-4" *ngIf="typeValue=='02'">
                                <div class="input-control-container">
                                    <label class="input-form-label">DataType<span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes2" type="radio" name="originatingWarehouse2" [(ngModel)]="dataType" value="01">
                                            <label for="orginwarehouse_Yes2" class="customLabel">String</label>
                                            <input type="radio" id="orginwarehouse_No2" name="originatingWarehouse2" [(ngModel)]="dataType" value="02">
                                            <label for="orginwarehouse_No2" class="customLabel">Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="typeValue=='01'">
                            <div >
                                <b>RadioButton - Option Details</b>
                            </div>
                            <div >
                                <button class="btn btn-info" (click)="onAddOptionList()">Add New</button>
                            </div>
                        </div>
                        <div class="row p-2" *ngIf="typeValue=='01'">
                            <div class="col-md-12 col-lg-12 col-xl-12 " style="overflow-x: scroll !important;">
                                <table class="table table-headerRow" >
                                    <tr>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Display Name</th>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Loading</th>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Referral YN</th>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Dependant YN</th>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Dependant Question</th>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Status</th>
                                        <th class="tbl-header"style="font-family: var(--our-font-family-new)!important;font-weight: 500;">Action</th>
                                    </tr>
                                    <tr *ngFor="let row of optionList;let i = index;">
                                        <td class="tbl-content">
                                            <div class="input-control-container">
                                                <input type="text" style="width: 120px;" class="input-form-control without-icon" maxlength="50" [(ngModel)]="row.UwQuesOptionDesc" style="font-family: var(--our-font-family-new)!important;font-weight: 500;font-size: 1.2em;">
                                            </div>
                                        </td>
                                        <!-- <td class="tbl-content" >
                                            <div class="input-control-container">
                                                <input type="text" style="width: 70px !important;" class="input-form-control without-icon" maxlength="10" [(ngModel)]="row.UwQuesOptionId" style="font-family: var(--our-font-family-new)!important;font-weight: 500;font-size: 1.2em;">
                                            </div>
                                        </td> -->
                                        <td class="tbl-content">
                                            <div class="input-control-container">
                                                <input type="text" style="width: 120px;" class="input-form-control without-icon" maxlength="50" [(ngModel)]="row.LoadingPercent" style="font-family: var(--our-font-family-new)!important;font-weight: 500;font-size: 1.2em;">
                                            </div>
                                        </td>
                                        <td class="tbl-content">
                                            <div class="input-form-radio-box">
                                                <div class="radio-toolbar" style="white-space: nowrap;">
                                                    <input [id]="'referral_Yes'+i" type="radio" [name]="'referralYN'+i" [(ngModel)]="row.ReferralYn" value="Y">
                                                    <label class="customRadioLabel" [for]="'referral_Yes'+i">Yes</label>
                                                    <input [id]="'referral_No'+i" type="radio" [name]="'referralYN'+i" [(ngModel)]="row.ReferralYn" value="N">
                                                    <label class="customRadioLabel" [for]="'referral_No'+i">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tbl-content">
                                            <div class="input-form-radio-box">
                                                <div class="radio-toolbar" style="white-space: nowrap;">
                                                    <input [id]="'dependant_Yes'+i" type="radio" [name]="'dependantYN'+i" (change)="onChangeOptionDependant(row)" [(ngModel)]="row.DependentYn" value="Y">
                                                    <label class="customRadioLabel" [for]="'dependant_Yes'+i">Yes</label>
                                                    <input type="radio" [id]="'dependant_No'+i" [name]="'dependantYN'+i" (change)="onChangeOptionDependant(row)" [(ngModel)]="row.DependentYn" value="N">
                                                    <label class="customRadioLabel" [for]="'dependant_No'+i">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tbl-content">
                                            <ng-container *ngIf="row.DependentYn!='Y'">
                                                N/A
                                            </ng-container>
                                            <ng-container *ngIf="row.DependentYn=='Y'">
                                                <ng-select class="custom" name="TaxType" [(ngModel)]="row.DependentUnderwriterId" placeholder="Select Question" appendTo="body" [searchable]="true" [clearable]="true" [closeOnSelect]="true">
                                                    <ng-option *ngFor="let opt of DependantQuesList" [value]="opt.UwQuestionId" style="font-family: var(--our-font-family-new)!important;font-weight: 500;font-size: 1.2em;">{{opt.UwQuestionDesc}}</ng-option>
                                                </ng-select>
                                            </ng-container>
                                            
                                        </td>
                                        <td class="tbl-content">
                                            <div class="input-form-radio-box">
                                                <div class="radio-toolbar" style="white-space: nowrap;">
                                                    <input [id]="'status_Yes'+i" type="radio" [name]="'status'+i" [(ngModel)]="row.Status" value="Y">
                                                    <label class="customRadioLabel" [for]="'status_Yes'+i">Active</label>
                                                    <input type="radio" [id]="'status_No'+i" [name]="'status'+i" [(ngModel)]="row.Status" value="N">
                                                    <label class="customRadioLabel" [for]="'status_No'+i">DeActive</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tbl-content">
                                            <ng-container *ngIf="i==0">
                                                <a mat-raised-button class="mx-1 btn-danger" data-toggle="tooltip" id="remove" data-placement="top" title="Clear" (click)="clearRecords()">Clear</a>
                                            </ng-container>
                                            <ng-container *ngIf="i!=0">
                                                <a mat-raised-button class="mx-1 btn-danger" data-toggle="tooltip" id="remove" data-placement="top" title="Delete" (click)="deleteRow(i,row.OptionId)"><i
                                                    class="fa fa-trash"></i></a>
                                            </ng-container>
                                           
                                        </td>
                                    </tr>
                                </table> 
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-danger" (click)="ongetBack()">Back</button>&nbsp;
                            <button class="btn btn-success ml-2" (click)="onProceed()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
