.vision-grid-column-2 {
    grid-template-columns: 15% 85%;
}

.menu-bar label {
    display: block;
    color: #897d7d;
}

.menu-bar label:hover {
    display: block;
    background-color: dodgerblue;
    color: #fff;
}

.menu-bar input[type="radio"]:checked+label {
    background-color: #530d58;
    background-color: transparent;
    color: #897d7d;
    border-left: 3px solid dodgerblue;
}

.menu-bar label:first-child {
    border: 0;
}
.card{
    display: block;
    color: #897d7d;
    border: 2px solid #eaecf1;
    border-radius: 0.7rem;
    margin: 8px 0px;
    outline: none;
    box-sizing: border-box;
    transition: all .3s;
    background: rgb(255,255,255);
    box-shadow: 1px 1px 1px #1f26875e;
    backdrop-filter: blur(18.5px);
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: #ccc;
}

th.mat-header-cell {
    color: lightslategrey;
    font-size: 100%;
    font-weight: 500;
}

.example-container {
    width: 100%;
    overflow-x: hidden !important;
    background: white;
}

table {
    width: 100%;
}
.mat-table {
    table-layout: auto;
    white-space: nowrap !important;
    border: 2px solid #eaecf1;
    outline: none;
    box-sizing: border-box;
    transition: all .3s;
    height: max-content;
    background: rgb(255, 255, 255);
    box-shadow: 1px 2px 2px #1f26875e !important;
    backdrop-filter: blur(18.5px);
    list-style-type: none;
}
.mat-table th,
.mat-table td {
    white-space: nowrap !important;
    padding: 0px 10px !important;
}

tr.example-detail-row {
    height: 0;
}

.example-element-detail {
    overflow: hidden;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.circle {
    width: 30px;
    height: 30px;
    padding: 3px 0px;
    border-radius: 50% !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}



.example-containers {
    display: flex;
    flex-direction: column;
    height:90%;
    font-weight: 500;
    font-size:14px;
  }
  
  .mat-table {
    overflow: auto;
    height:90%;
  }
  
  .mobile-label {
    display: none;
  }

  @media screen and (min-width: 750px) and (max-width: 20000px) {
    .example-containers{
        display:none;
    }
    ::-webkit-scrollbar-thumb {
        border: 6px solid transparent !important;
    }
  }
  
  @media screen and (min-width: 280px) and (max-width: 750px) {
    .example-container{ display: none; } 
    .mobile-label {
      display: inline-block;
          font-weight: bold;
    }
    .mat-mdc-table .mdc-data-table__header-row {
        display: none !important;
    }
    .mat-row .mat-mdc-row{
        height: unset;
        display: flex !important;
        flex-direction: column;
    }
    .example-element-detail{
        height: 100% !important;
        width: 100% !important;
    }
    .example-element-details{
        height: 0px !important;
        width: 0px !important;
    }
    tr.example-detail-row {
        height:60% !important;
    }

  }
  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px 0px 0px 7px !important;
    border-bottom: none !important;
}
::ng-deep .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 90%;
    right: 0px;
    bottom: 0px;
    z-index: 1050 !important;
}
.modal-dialog2 {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 90%;
    right: 0px;
    bottom: 0px;
    z-index: 1050 !important;
}
.modal-content {
    height: 100%;
    width: 100% !important;
}
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000 !important;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
::ng-deep .cdk-overlay-container {     z-index:2000; }