// th.mat-header-cell,
// td.mat-cell,
// td.mat-footer-cell {
//     border-bottom-color: #ccc;
// }

// th.mat-header-cell {
//     color: lightslategrey;
//     font-size: 100%;
//     font-weight: 500;
// }

// .example-container {
//     width: 100%;
//     overflow-x: auto;
//     background: white;
//     padding: 0.5rem;
// }

// table {
//     width: 100%;
// }

// .mat-table th,
// .mat-table td {
//     white-space: nowrap !important;
//     padding: 8px 10px !important;
// }

// .cutomBg1 {
//     border-left: 10px solid green;
//     color: black !important;
// }
.mdc-data-table__table {
    min-width: 100%;
    // border: 0; 
    // border-spacing: 0;
    table-layout: fixed;
}
::ng-deep  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px !important;
}
::ng-deep .mdc-data-table__row .mdc-data-table__cell {
    // box-shadow: none !important;

}
::ng-deep .ux-table-v {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

}
:host ::ng-deep .ux-table-v thead {
    background:#4b5a676b !important;
    // background-color: rgb(34, 54, 100) !important;
    color: rgb(255, 255, 255) !important;
}
.deletedBg{
    background-color: #fd7e14 !important;
    color: #fff !important;
}

::ng-deep .mat-mdc-table {
    table-layout: fixed !important;
    white-space: normal;
   
}
:host ::ng-deep .mat-sort-header-content{
    white-space: wrap !important;
    padding: 0px !important;
}
:host ::ng-deep .mat-sort-header-container {
    display:flex !important;
    padding:0px !important;
    //justify-content: flex-start !important;
}

@media screen and (min-width: 750px) and (max-width: 20000px) {
    .example-containers{
        display:none;
    }
  }
  
  @media screen and (min-width: 280px) and (max-width: 750px) {
    .example-container{ display: none; } 
    .mobile-label {
      //width: 80px;
      display: inline-block;
          font-weight: bold;
    }
    .mat-mdc-table .mdc-data-table__header-row {
        display: none !important;
    }
    .mat-row .mat-mdc-row{
        height: unset;
        display: flex !important;
        flex-direction: column;
    }
    .example-element-detail{
        height: 100% !important;
        width: 500px !important;
    }
    .example-element-details{
        height: 0px !important;
        width: 0px !important;
    }
    tr.example-detail-row {
        height:60% !important;
    }
    .mdc-data-table__row .mdc-data-table__cell {
        // padding: 10px !important;
    }
    #gridstyle {
        float: left;
        position: relative;
        bottom: 0.3rem;
    }
  }

  ::-webkit-scrollbar-thumb {
    border: 6px solid transparent !important;
}


.mdc-data-table__row:last-child .mdc-data-table__cell{
    // border-bottom-width: 1px !important;
    // border-bottom-style: solid;
    // padding:0 16px 0 16px !important;

}

.ux-table-v thead {
    background:#4b5a676b !important;
    // background-color: rgb(34, 54, 100) !important;
    color: rgb(255, 255, 255) !important;
}
:host ::ng-deep .mdc-data-table__cell{
    padding: 0px 14px !important;
    overflow: hidden !important;
    text-Overflow: ellipsis !important;
    white-space: wrap !important;
}
.mat-mdc-paginator {
    padding-bottom: 5px !important;
}
:host ::ng-deep .mat-mdc-paginator-page-size {
   display: grid !important;
}
.my_class{
    height:25px !important;
}
.my_class2{
    height:40px !important;
}
// .positive {
//     background-color: green;
// }

// .negative {
//     background-color: red;
// }