

.card-header {
    background-color: #fff !important;
}
.line-middle {
    width: 1px;
    height: 270px;
    background: linear-gradient(to right,
            transparent 0%,
            transparent calc(50% - 0.81px),
            #EAECF0 calc(50% - 0.8px),
            #EAECF0 calc(50% + 0.8px),
            transparent calc(50% + 0.81px),
            transparent 100%);
}


@media screen and (min-width:1272px) and (max-width: 20000px) {
    .display2{
        display:none;
    }
  }
  
  @media screen and (min-width: 280px) and (max-width: 1271px) {
    .display1{ display: none; } 
  }