<!-- <main class="main d-flex align-items-center">
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row" style="background-color: white;overflow-x: hidden;">
            <div class="col-4">
                <img src="./assets/img/brand/Al_Main.jpg" class="img-fluid rounded float-left" style="height: 80px;">
            </div>
            <div class="col-3 offset-md-5 float-right">
                <h1 style="margin-bottom: 0px;padding-top: 10px;">Live Environment</h1><br>
                <div class="row" style="padding-left: 15px;">
                    <b>LoginID</b> &nbsp;
                    <p>{{loginId}}</p> &nbsp; | &nbsp; <button class="btn btn-outline-primary" style="border:none;padding: 0px;margin-bottom:10px;" (click)="productRoute()">Home</button> &nbsp; | &nbsp;<button class="btn btn-outline-primary" style="border:none;padding: 0px;margin-bottom:10px;"
                        (click)="loginRoute()">Signout</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 20px;margin-top:20px;">
            <div class="col-3 offset-md-2 product-container product-gridBorderStyle" style="margin-right: 0px;" *ngIf="cargoPolicy">
                <img src="./assets/img/brand/export.jpg" width="100%" height="200" />
                <div class="product-overlay">
                    <div class="product-text ">
                        <h4 style="margin-left: 20px;">Marine- Cargo Individual Policy</h4><br>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning" (click)="getExistingQuote()">Get Quote</button>
                        </div>

                    </div>
                </div>
                <h5 style="margin-left: 20px;">Marine- Cargo Individual Policy</h5>
            </div>
            <div class="col-3 offset-md-1 product-container product-gridBorderStyle" style="margin-right: 0px;" *ngIf="cargoOpenPolicy">
                <img src="./assets/img/brand/containers.jpg" width="100%" height="200" />
                <div class="product-overlay">
                    <div class="product-text ">
                        <h4 style="margin-left: 20px;">Marine- Cargo Open Cover</h4><br>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning" (click)="getOpenCover()">Get Quote</button>
                        </div>

                    </div>
                </div>
                <h5 style="margin-left: 20px;">Marine- Cargo Open Cover</h5>
            </div>
        </div>
        <div class="row" style="margin-left: 20px;margin-top:20px;">
            <div class="col-3 offset-md-2 product-container product-gridBorderStyle" *ngIf="yachtPolicy">
                <img src="./assets/img/brand/yacht.jpg" width="100%" height="200" />
                <div class="product-overlay">
                    <div class="product-text ">
                        <h4 style="margin-left: 20px;">Yacht Insurance</h4><br>
                        <button type="button" class="btn btn-warning" (click)="yachtDetails()">Get Quote</button>
                    </div>
                </div>
                <h5 style="margin-left: 20px;">Yacht Insurance</h5>
            </div>
            <div class="col-3 offset-md-1 product-container product-gridBorderStyle" *ngIf="jetskiPolicy">
                <img src="./assets/img/brand/jetski.jpg" width="100%" height="200" />
                <div class="product-overlay">
                    <div class="product-text ">
                        <h4 style="margin-left: 20px;">JetSki Insurance</h4><br>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning" (click)="jetskiDetails()">Get Quote</button>
                        </div>

                    </div>
                </div>
                <h5 style="margin-left: 20px;">JetSki Insurance</h5>
            </div>
        </div>
        <div class="row" style="margin-left: 20px;margin-top:20px;">
            <div class="col-3 offset-md-2 product-container product-gridBorderStyle" *ngIf="issuerSection">
                <img src="./assets/img/brand/containers.jpg" width="100%" height="200" />
                <div class="product-overlay">
                    <div class="product-text ">
                        <h4 style="margin-left: 20px;">Marine- Cargo Open Cover Policy</h4><br>
                        <button type="button" class="btn btn-warning" (click)="getOpenCOverPolicy()">Get Quote</button>
                    </div>
                </div>
                <h5 style="margin-left: 20px;">Marine- Cargo Open Cover Policy</h5>
            </div>
        </div>
    </div>
</main> -->

<div class="container-fluid" style="overflow-y: scroll !important;max-height:100vh !important;">
    <div class="product-menubar">
        <ng-container  *ngIf="insuranceid == '100002' || insuranceid=='100015'">
            <div class="logo-img" style="background-color: #fff;">
                <img src="./assets/images/logo-2.png">
            </div>
        </ng-container>
       
        <ng-container *ngIf="insuranceid == '100004'">
            <div class="logo-img" style="background-color: #fff;">
                <img src="./assets/images/mgen-logo.png">
            </div>
        </ng-container>
        
    
    
        <div class="user-container">
    
            <div style="margin-right:50px;">
                <!--<a (click)="onLog(title)" style="color:blue;font-size:16px;font-weight:600;cursor:pointer;display:flex;text-decoration: underline;"> LogIn </a>-->
                <a class="productsidesection">{{loginId}} <span style="padding-left:10px;"> |</span></a>
            </div>
    
            <!--<img src="assets/images/nick.png">-->
            <div style="margin-left:-40px;">
                <a (click)="onLog('Log out')" class="productlogout"> LogOut </a>
            </div>
        </div>
        <!--<div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button class="btn btn-circle"><i class="fa fa-sign-out" style="font-size:24px"></i></button>
            </div>
        </div>-->
        <!--<div class="login-details">
            <nb-actions size="small">
                <nb-action class="user-action" *nbIsGranted="['view', 'user']">
                    <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="loginId" [picture]="user?.picture" nbContextMenuTag="my-context-menu">
                    </nb-user>
                </nb-action>
            </nb-actions>
        </div>-->
        <!-- <div>
            <nb-actions size="small">
    
                <nb-action class="control-item" icon="home"></nb-action>
                <nb-action class="control-item" icon="home"></nb-action>
            </nb-actions>
        </div> -->
    
    </div>
    <div class="prductBg">
        <div class="AllinProductBox ml-5 mr-5">
            <div class="Choose-Product-Box col-sm-10 col-xs-10 col-12 col-md-6 col-lg-6 offset-md-2 offset-lg-4 padd0 bwT display1">
                <span class="heading">SELECT THE PRODUCT YOU WISH TO BUY</span>
            </div>
            <div class="Choose-Product-Box col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12 padd0 bwT display2">
                <span class="heading">SELECT PRODUCT</span>
            </div>
            <div class="row p-3" >
                <div class="group  box-1padd0 InsuranceType AllTabShow col-12 col-md-12 col-lg-2 col-xl-2 col-sm-12 col-xs-12" *ngFor="let item of productList">
                    <div (click)="onSelectProduct(item)">
                        <div class="topIco">
                            <div class="InsuranceIcon InsuranceIcon1 domesticIcon" matTooltip="Domestic" *ngIf="item.ProductId=='3'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 motorIcon"  matTooltip="Motor" *ngIf="item.ProductId=='5' || item.ProductId=='29'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 fireAlliedIcon" matTooltip="Fire And Allied Perills" *ngIf="item.ProductId=='6'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 travelIcon" matTooltip="Travel" *ngIf="item.ProductId=='4'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 burglaryIcon"  matTooltip="Buglary" *ngIf="item.ProductId=='1'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 employersIcon"  matTooltip="Employer's Liablity" *ngIf="item.ProductId=='14'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 personalIcon" *ngIf="item.ProductId=='13'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 workmenIcon" matTooltip="WorkMen" *ngIf="item.ProductId=='15'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 allRiskIcon" *ngIf="item.ProductId=='2'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 smeIcon" *ngIf="item.ProductId=='19'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 fidelityIcon"  matTooltip="Fidelity" *ngIf="item.ProductId=='32'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 machineryIcon"  matTooltip="Machinery Breakdown" *ngIf="item.ProductId=='39'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 cyberIcon"  matTooltip="CyberInsurance"  *ngIf="item.ProductId=='42'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 medicalIcon" *ngIf="item.ProductId=='43'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 moneyInsuranceIcon" matTooltip="Money" *ngIf="item.ProductId=='16'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 BusinessAllRisk" matTooltip="Business AllRisk" *ngIf="item.ProductId=='26'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 plantallrisk" matTooltip="Plant AllRisk" *ngIf="item.ProductId=='21'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 electronicequipment" matTooltip="Electronic Equipment" *ngIf="item.ProductId=='25'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 publicliability" matTooltip="Public Liability" *ngIf="item.ProductId=='27'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 lifeInsurance" *ngIf="item.ProductId=='45'"></div>
                            <div class="InsuranceIcon InsuranceIcon1 shortTermIcon" *ngIf="item.ProductId=='46'"></div>
                        </div>
                        <div class="InsuranceName">{{item?.ProductName}}</div>
                    </div>
                    <!-- <div *ngIf="item.ProductId=='45'">
                        <div class="topIco lifeBox">
                            <div class="InsuranceIcon InsuranceIcon1 lifeInsurance" *ngIf="item.ProductId=='45'"></div>
                            <div class="InsuranceName" style="line-height: 5px ; padding-bottom: 0px;margin-bottom: 0px;min-height: 10px;">{{item?.ProductName}}</div>
                            <div class="text-center customBtn mb-1 mt-1">
                                <button class="btn btn-info p-1" (click)="onLicRedirect('Illustrate',item)">
                                    Illustrate
                                </button>&nbsp;
                                <button class="btn btn-success p-1" (click)="onLicRedirect('BuyPolicy',item)">
                                    Buy Now
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div> 
        </div>
    </div>
</div>

<!--<div class="product-grid">
    <div class="product-grid-item">
        <div class="product-grid-item-body">
            <div class="product-container">
                <ng-container *ngFor="let item of productList">
                    <div class="product-card">
                        <div class="product-tumb">

                        </div>
                        <div class="product-details">

                            <h4><a>{{item?.ProductName}}</a></h4>
                            <div class="product-bottom-details">
                                <button class="button-34 w-100 logo-bg-2" role="button" (click)="onSelectProduct(item)">Select</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="productList.length==0">
                    <div class="text-center">
                        No Product Available
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>-->

<!-- <img src="./assets/images/ship-1.svg" alt=""> -->
<!-- <span class="product-catagory">Women,bag</span> -->



<!--<div>
      <div class="container" style="margin-left:11%;">
        <div class="product-container">
          <ng-container *ngFor="let item of productList">
            <div class="product-card">
              <div class="product-tumb">

                <img src="./assets/images/travel.png" *ngIf="item.ProductId=='4'" alt="">
                <img src="./assets/images/home2.webp" *ngIf="item.ProductId=='3'" alt="" width="60%" height="60%" style="background-color:lightblue">
                <img src="./assets/images/cars.png" *ngIf="item.ProductId=='5'" alt="" width="60%" height="60%">

            </div>
            <div class="product-details">

                <h4><a>{{item?.ProductName}}</a></h4>
            </div>

            <div class="product-bottom-details">
              <button class="button-34 w-50 logo-bg-2" role="button" (click)="onSelectProduct(item)" style="margin-left:23%;">Select</button>

          </div>

            </div>
            </ng-container>
            </div>
      </div>

    </div>-->
<!--<div>
  <div style="background-color:#22a8da;height:80px;background-repeat: repeat;
  background-position: center top;font-family: inherit;
  font-size: 100%;

  font-family: 'Pacifico', Arial;
  font-weight: 700px;
  border: 0;
  outline: 0;border:1px solid;align-items: center;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  padding-top:20px;">
    Select Product
  </div>
</div>-->

<!-- <div class="AllinProductBox">
    <div class="Choose-Product-Box col-sm-12 col-xs-12 padd0 bwT"><span class="heading">SELECT THE PRODUCT YOU WISH TO BUY
        </span>
        <div class="box-1 col-xs-12 col-sm-12 padd0">
            <div class="InsuranceType AllTabShow col-sm-2 col-xs-4" *ngFor="let item of productList">
                <div class="topIco">
                    <div class="InsuranceIcon InsuranceIcon1 domesticIcon" *ngIf="item.ProductId=='3'"></div>
                    <div class="InsuranceIcon InsuranceIcon1" *ngIf="item.ProductId!='3'"></div>
                </div>
                <div class="InsuranceName">{{item?.ProductName}}</div>
            </div>
        </div>
    </div>
</div> -->


<!--<div class="header1 header2 mt-2">

         <div class="hed3">
          <div class="inner-col">
            <div class="wrapper">
              <div clas="content-wrap">
                <div class="columns_wrap column-1_3 sc_column_item sc_column_item_1 odd first">


                </div>
                <div class="columns_wrap column-2_3 sc_column_item sc_column_item_2 even">

                    <div> Home</div>
                </div>
              </div>
            </div>
          </div>
         </div>
    </div>--->
