<div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-control-container">
                <label class="input-form-label">Insured Name</label>
                <div class="input-form-box">
                    <input type="text" class="input-form-control without-icon">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-control-container">
                <label class="input-form-label">Insurance Type</label>
                <div class="input-form-box">
                    <input type="text" class="input-form-control without-icon">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-control-container">
                <label class="input-form-label">Insurance Class</label>
                <div class="input-form-box">
                    <input type="text" class="input-form-control without-icon">
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="text-end">
                <button class="custom-btn btn-6 maan-btn-red mx-2" matRipple [routerLink]="['/Home/existingQuotes/customerSelection/customerDetails/customer-details']" routerLinkActive="router-link-active"><<&nbsp;Back</button>

                <button class="custom-btn btn-6 mx-2" matRipple [routerLink]="['/Home/existingQuotes/customerSelection/customerDetails/vehicle-details']" routerLinkActive="router-link-active">Next</button>
            </div>
        </div>
    </div>
</div>