<div class="d-flex justify-content-end">
<div class="input-form-box" id="gridstyle">
        <input type="text" class="input-form-control with-icon" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <span class="input-form-icon">
            <i class="fas fa-filter"></i>
        </span>
    </div>
</div>
<div class="example-container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="ux-table-v">
            <ng-container *ngFor="let col of columnHeader; let i = index" [matColumnDef]="col.key" [sticky]="col.sticky" [stickyEnd]="col.sticky">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                    {{ columnHeader[i]["display"] }}
                    <ng-container *ngIf="columnHeader[i]['display']=='IncludedTax'|| columnHeader[i]['display']=='After Discount'">
                       ({{Currency}})
                    </ng-container>
                </th>
    
                <td [ngClass]="{'foo': i === element.length - 1,'foo1':i >element.length - 1}" mat-cell *matCellDef="let element;let j = dataIndex;">
                    
                    <ng-container *ngIf="!col.config; else hasConfig">
                        {{ element[col.key]}}
                    </ng-container>
    
                    <ng-template #hasConfig>
                        <ng-container *ngIf="col.config.isView">
                            <button class="circle btn btn-warning btn-sm" *ngIf="element.QuoteNo!=null" (click)="onView.emit(element)">
                                <i class="fas fa-eye" style='color: blue'></i>
                            </button>&nbsp;
                        </ng-container>
                        <ng-container *ngIf="col.config.isEdit">
                            <button class="circle btn btn-primary btn-sm" (click)="onEdit.emit(element)">
                                <i class="fas fa-marker"></i>
                            </button>&nbsp;
                        </ng-container>
                        <ng-container *ngIf="col.config.isMail">
                          <button class="circle btn btn-primary btn-sm" (click)="onMail.emit(element)">
                            <i class="fa fa-envelope"></i>
                          </button>&nbsp;
                      </ng-container>
                      <ng-container *ngIf="col.config.isViews">
                        <button class="circle btn btn-primary btn-sm" (click)="onViews.emit(element)">
                          <i class="fas fa-eye"></i>
                        </button>&nbsp;
                    </ng-container>
                      <ng-container *ngIf="col.config.isFollowup">
                        <button class="circle btn btn-primary btn-sm" (click)="onFollowup.emit(element)" style="background-color:grey">
                          <i class="fa-solid fa-user"></i>
                        </button>&nbsp;
                    </ng-container>
                    <ng-container *ngIf="col.config.isSms">
                      <button class="circle btn btn-primary btn-sm" (click)="onSms.emit(element)">
                        <i class="fas fa-sms" style="font-size:22px;color:lightgray"></i>
                      </button>&nbsp;
                  </ng-container>
                        <ng-container *ngIf="col.config.isActive">
                            <button class="circle btn btn-warning btn-sm" (click)="onActive.emit(element)">
                                <i class="fas fa-check"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="col.config.isReject">
                            <button class="circle btn btn-danger btn-sm" (click)="onReject.emit(element)">
                                <i class='fa fa-times' style='color: yellow'></i>
                            </button>
                        </ng-container>
    
    
                   
                <ng-container *ngIf="col.config.isMoreView">
                            <button mat-icon-button (click)="onPassData(element);expandedElement = expandedElement === element ? null : element">
                  <mat-icon>keyboard_arrow_down</mat-icon> 
                </button>
                
                </ng-container>
    
    
                <ng-container *ngIf="col.config.isMoreVechView">
                    <button mat-icon-button (click)="onPassData(element);expandedvech = expandedvech === element ? null : element">
          <mat-icon>keyboard_arrow_down</mat-icon> 
           
                    </button>
                   
        </ng-container>
    
    
    
               
    
                        <ng-container *ngIf="col.config.isMoView && element.SubCovers!=null">
                            <button mat-icon-button (click)="onPassData(element);expandedElement = expandedElement === element ? null : element">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                        </ng-container>
    
                        
                        <ng-container *ngIf="col.config.isPolicyConfig">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-cog"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="onSchedule.emit(element)"><i class="fas fa-file"></i>&nbsp;Schedule</button>
                                <button mat-menu-item (click)="onCredit.emit(element)" *ngIf="element.CreditNo!=null && element.CreditNo!=''"><i class="fas fa-file"></i>&nbsp;Credit Note</button>
                                <button mat-menu-item (click)="onDebit.emit(element)" *ngIf="element.DebitNoteNo!=null && element.DebitNoteNo!=''"><i class="fas fa-file"></i>&nbsp;Debit Note</button>
                                <button mat-menu-item (click)="onGetEndorsements.emit(element)"><i class="fas fa-address-card"></i>&nbsp;Endorsement</button>
                                <button mat-menu-item (click)="onView.emit(element)"><i class="fas fa-eye"></i>&nbsp;View Quote Details</button>
                                <button mat-menu-item><i class="fas fa-credit-card"></i>&nbsp;Pay EMI</button>
                            </mat-menu>
                        </ng-container>
                        <ng-container *ngIf="col.config.isPolicyConfigss">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-cog"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngIf="element.PolicyNo==null && element.Status=='Y' || element.Status=='RP'" (click)="onEdit.emit(element)"><i class="fas fa-marker"></i>&nbsp;Edit</button>
                                <button mat-menu-item (click)="onSchedule.emit(element)" *ngIf="element.PolicyNo!=null && element.Status=='P'"><i class="fas fa-file"></i>&nbsp;Schedule</button>
                                <button mat-menu-item (click)="onCredit.emit(element)" *ngIf="element.CreditNo!=null && element.CreditNo!=''"><i class="fas fa-file"></i>&nbsp;Credit Note</button>
                                <button mat-menu-item (click)="onDebit.emit(element)" *ngIf="element.DebitNoteNo!=null && element.DebitNoteNo!=''"><i class="fas fa-file"></i>&nbsp;Debit Note</button>
                                <button mat-menu-item (click)="onGetEndorsements.emit(element)" *ngIf="element.PolicyNo!=null && element.Status=='P'"><i class="fas fa-address-card"></i>&nbsp;Endorsement</button>
                                <button mat-menu-item (click)="onView.emit(element)" *ngIf="element.Status=='R'"><i class="fas fa-eye"></i>&nbsp;View Quote Details</button>
                                <button mat-menu-item (click)="onView.emit(element)" *ngIf="element.PolicyNo!=null && element.Status=='P'"><i class="fas fa-eye"></i>&nbsp;View Quote Details</button>
                                <button mat-menu-item  *ngIf="element.PolicyNo!=null && element.Status=='P'"><i class="fas fa-credit-card"></i>&nbsp;Pay EMI</button>
                            </mat-menu>
                        </ng-container>
                        <ng-container *ngIf="col.config.ismailConfig">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-cog"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="onMail.emit(element)"><i class="fa fa-envelope"></i>&nbsp;Mail</button>
                                <button mat-menu-item (click)="onSms.emit(element)"><i class="fas fa-sms" style="font-size:22px;color:lightcoral"></i>&nbsp;SMS</button>
                                <button mat-menu-item (click)="onFollowup.emit(element)"><i class="fa-solid fa-user"></i>&nbsp;FollowUp</button>
                                <button mat-menu-item *ngIf="element.QuoteNo!=null" (click)="onView.emit(element)"><i class="fas fa-eye" style='color:lightskyblue'></i>&nbsp;View</button>
                                <button mat-menu-item (click)="onReject.emit(element)"><i class='fa fa-times' style='color: red'></i>&nbsp;Reject</button>
                               
                               
                            </mat-menu>
                        </ng-container>
                        <ng-container *ngIf="col.config.isNewConfig">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-cog"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="onEdit.emit(element)"><i class="fas fa-marker"></i>&nbsp;Edit</button>
                                <button mat-menu-item (click)="onMail.emit(element)"><i class="fa fa-envelope"></i>&nbsp;Mail</button>
                                <button mat-menu-item (click)="onSms.emit(element)"><i class="fas fa-sms" style="font-size:22px;color:lightcoral"></i>&nbsp;SMS</button>
                                <button mat-menu-item (click)="onFollowup.emit(element)"><i class="fa-solid fa-user"></i>&nbsp;FollowUp</button>
                                <button mat-menu-item *ngIf="element.QuoteNo!=null" (click)="onView.emit(element)"><i class="fas fa-eye" style='color:lightskyblue'></i>&nbsp;View</button>
                                <button mat-menu-item (click)="onReject.emit(element)"><i class='fa fa-times' style='color: red'></i>&nbsp;Reject</button>
                               
                               
                            </mat-menu>
                        </ng-container>
                        <ng-container *ngIf="col.config.isCollapse">
                            <button class="btn btn-light btnVehicle" shape="round" size="tiny" (click)="onPassData(element,j);expandedElement = expandedElement === element ? null : element;">
                        <ng-container *ngIf="element.CommodityNotInResponse">
                  New
                </ng-container>
                <span style="font-size:13px !important;">{{col.config.isCollapseName}}</span>
                
                <i [ngClass]="selectedIndex!=j ?'fas fa-plus-circle':'fas fa-minus-circle'" ></i>
                </button>
                        </ng-container>
                        <ng-container *ngIf="col.config.isMenuAction">
                            <button class="text-warning" mat-icon-button [matMenuTriggerFor]="menus" aria-label="Example icon-button with a menu">
                                <i class="fas fa-ellipsis-v"></i>
                                </button>
                            <mat-menu #menus="matMenu">
                                <ng-container *ngFor="let item of col.config.menuList">
                                    <button mat-menu-item>
                                        <span>{{item.name}}</span>
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </ng-container>
                    </ng-template>
                
                </td>
    
            </ng-container>
    
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnHeader.length">
                    <div class="example-element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                        <ng-container>
                            <app-inner-table [cols]="innerColumnHeader" [data]="element.MotorList" (isActionBtn)="isActionBtn.emit($event)">
                            </app-inner-table>
                        </ng-container>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="expandedDetails">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnHeader.length">
                    <div class="example-element-details" [@detailExpand]="element === expandedvech ? 'expanded' : 'collapsed'">
                       <app-vechileCustomer>
    
                       </app-vechileCustomer>
                       
                    </div>
                </td>
            </ng-container>
    
          
    
            <tr mat-header-row *matHeaderRowDef="keys"></tr>
            <tr mat-row *matRowDef="let element; columns: keys" class="example-element-row" [class.example-expanded-row]="expandedElement === element"></tr>
          
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <div class="d-flex justify-content-end">
            <div style="margin-top:10px;padding: 15px !important;" *ngIf="nextSection">
                <span class="spancommon span_font_size mt-3">Items Per Page: </span>
            </div>
            <div style="margin-top:10px;padding-right: 25px !important;" *ngIf="nextSection">
                <select [(ngModel)]="pageCount" (change)="onChangePageCount($event)" class="form-control">  
                    <option value="5">5</option>  
                    <option value="10">10</option>  
                    <option value="15">15</option>  
                </select> &nbsp;&nbsp;
            </div>
            <div style="padding-right: 15px !important;background-color: transparent !important;" *ngIf="nextSection"> 
                <ul class="pagination" >
                    <li style="cursor:pointer !important" *ngIf="startCount!=1" (click)="onPreviousPage()" ><a>&lt; Previous</a></li>
                    <li style="cursor:not-allowed !important" *ngIf="startCount==1" ><a style="cursor:not-allowed !important">&lt; Previous</a></li>
                    <li style="margin-top: 15px !important;">{{startCount}}&nbsp;-&nbsp;{{endCount}}&nbsp;of&nbsp;{{totalQuoteRecords}}</li>
                    <li style="cursor:pointer !important" (click)="onNextPage()" *ngIf="nextSection && checkDataIndex()"><a >Next &gt; </a></li>
                    <li style="cursor:not-allowed !important" *ngIf="!nextSection || !checkDataIndex()"><a style="cursor:not-allowed !important">Next &gt; </a></li>
                </ul>
            </div>
        </div>
        <!-- <mat-paginator [pageSizeOptions]="[10, 15, 20]" (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator> -->
    </div>
    
    <table width="100%">
        <tr *ngIf="!dataSource.data.length">
            <td style="text-align: center" [attr.colspan]="columnHeader.length">
                No Records Found!
            </td>
        </tr>
    </table>

    <table>
        <ng-container matColumnDef="expandedvech">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnHeader.length">
                <div class="example-element-details" [@detailExpand]="element === expandedvech ? 'expanded' : 'collapsed'">
                    <ng-container>
                    <app-vechileCustomer>
                        </app-vechileCustomer>
                    </ng-container>
                </div>
            </td>
        </ng-container>
    </table>
  
 

</div>

<div class="example-containers">
    <!-- <div class="input-form-box" id="gridstyle" >
        <input type="text" class="input-form-control with-icon" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <span class="input-form-icon">
            <i class="fas fa-filter"></i>
        </span>
    </div> -->
    <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
              <div>
              <ng-container *ngFor="let col of columnHeader; let i = index" [matColumnDef]="col.key">
                <div>
                    <mat-header-cell *matHeaderCellDef>  {{ columnHeader[i]["display"] }}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="!col.config; else hasConfig">
                           
                                <div class="col-6">
                                    <span class="mobile-label"> {{ columnHeader[i]["display"] }}</span>
                                </div>
                                <div class="col-6">
                                    {{ element[col.key]}}
                                </div>
                           
                        </ng-container>
                        <ng-template #hasConfig>
                            <ng-container *ngIf="col.config.isView">
                                <div class="col-6">
                                <span class="mobile-label"> {{ columnHeader[i]["display"] }}</span>
                                </div>
                                <button class="circle btn btn-warning btn-sm" (click)="onView.emit(element)">
                                    <i class="fas fa-eye" style='color: blue'></i>
                                </button>&nbsp;
                               
                            </ng-container>
                            <ng-container *ngIf="col.config.isEdit">
                                <div class="col-6">
                                <span class="mobile-label"> {{ columnHeader[i]["display"] }}</span>
                                </div>
                                <button class="circle btn btn-primary btn-sm" (click)="onEdit.emit(element)">
                                    <i class="fas fa-marker"></i>
                                </button>&nbsp;
                            </ng-container>
        
                          <ng-container *ngIf="col.config.isMail">
                            <div class="col-6">
                                <span class="mobile-label"> {{ columnHeader[i]["display"] }}</span>
                            </div>
                           
                            <button class="circle btn btn-primary btn-sm" (click)="onMail.emit(element)">
                              <i class="fa fa-envelope"></i>
                            </button>
                            &nbsp;
                        </ng-container>
                         
                          <ng-container *ngIf="col.config.isViews">
                            <button class="circle btn btn-primary btn-sm" (click)="onViews.emit(element)">
                              <i class="fas fa-eye"></i>
                            </button>&nbsp;
                        </ng-container>
                          <ng-container *ngIf="col.config.isFollowup">
                            <button class="circle btn btn-primary btn-sm" (click)="onFollowup.emit(element)" style="background-color:grey">
                              <i class="fa-solid fa-user"></i>
                            </button>&nbsp;
                        </ng-container>
                        <ng-container *ngIf="col.config.isSms">
                          <button class="circle btn btn-primary btn-sm" (click)="onSms.emit(element)">
                            <i class="fas fa-sms" style="font-size:22px;color:lightgray"></i>
                          </button>&nbsp;
                      </ng-container>
                            <ng-container *ngIf="col.config.isActive">
                                <button class="circle btn btn-warning btn-sm" (click)="onActive.emit(element)">
                                    <i class="fas fa-check"></i>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="col.config.isReject">
                                <button class="circle btn btn-danger btn-sm" (click)="onReject.emit(element)">
                                    <i class='fa fa-times' style='color: yellow'></i>
                                </button>
                            </ng-container>
        
        
                    <ng-container *ngIf="col.config.isMoreView">
                                <button mat-icon-button (click)="onPassData(element);expandedElement = expandedElement === element ? null : element">
                      <mat-icon>keyboard_arrow_down</mat-icon> 
                    </button>
                    </ng-container>
        
        
                    <ng-container *ngIf="col.config.isMoreVechView">
                        <button mat-icon-button (click)="onPassData(element);expandedvech = expandedvech === element ? null : element">
                            <mat-icon>keyboard_arrow_down</mat-icon> 
                        </button>
                    </ng-container>
        
                            <ng-container *ngIf="col.config.isMoView && element.SubCovers!=null">
                                <button mat-icon-button (click)="onPassData(element);expandedElement = expandedElement === element ? null : element">
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                            </ng-container>
        
                            
                            <ng-container *ngIf="col.config.isPolicyConfig">
                                <button mat-button [matMenuTriggerFor]="menu">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="onSchedule.emit(element)"><i class="fas fa-file"></i>&nbsp;Schedule</button>
                                    <button mat-menu-item (click)="onCredit.emit(element)" *ngIf="element.CreditNo!=null && element.CreditNo!=''"><i class="fas fa-file"></i>&nbsp;Credit Note</button>
                                <button mat-menu-item (click)="onDebit.emit(element)" *ngIf="element.DebitNoteNo!=null && element.DebitNoteNo!=''"><i class="fas fa-file"></i>&nbsp;Debit Note</button>
                                    <button mat-menu-item (click)="onGetEndorsements.emit(element)"><i class="fas fa-address-card"></i>&nbsp;Endorsement</button>
                                    <button mat-menu-item (click)="onView.emit(element)"><i class="fas fa-eye"></i>&nbsp;View Quote Details</button>
                                    <button mat-menu-item><i class="fas fa-credit-card"></i>&nbsp;Pay EMI</button>
                                </mat-menu>
                            </ng-container>
                            <ng-container *ngIf="col.config.ismailConfig">
                                <div class="col-4">
                                    <span class="mobile-label"> {{ columnHeader[i]["display"] }}</span>
                                </div>
                                
                                <button mat-button [matMenuTriggerFor]="menu" style="margin-left:20px">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="onMail.emit(element)"><i class="fa fa-envelope"></i>&nbsp;Mail</button>
                                    <button mat-menu-item (click)="onSms.emit(element)"><i class="fas fa-sms" style="font-size:22px;color:lightcoral"></i>&nbsp;SMS</button>
                                    <button mat-menu-item (click)="onFollowup.emit(element)"><i class="fa-solid fa-user"></i>&nbsp;FollowUp</button>
                                    <button mat-menu-item *ngIf="element.QuoteNo!=null" (click)="onView.emit(element)"><i class="fas fa-eye" style='color:lightskyblue'></i>&nbsp;View</button>
                                    <button mat-menu-item (click)="onReject.emit(element)"><i class='fa fa-times' style='color: red'></i>&nbsp;Reject</button>
                                   
                                   
                                </mat-menu>
                            </ng-container>
                            <ng-container *ngIf="col.config.isCollapse">
                                <button class="btn btn-light btnVehicle" shape="round" size="tiny" (click)="onPassData(element);expandedElement = expandedElement === element ? null : element;">
                            <ng-container *ngIf="element.CommodityNotInResponse">
                                New
                                </ng-container>
                                {{col.config.isCollapseName}}
                                <i [ngClass]="selectedIndex!=i?'fas fa-plus-circle':'fas fa-minus-circle'" ></i>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="col.config.isMenuAction">
                                <button class="text-warning" mat-icon-button [matMenuTriggerFor]="menus" aria-label="Example icon-button with a menu">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                                <mat-menu #menus="matMenu">
                                    <ng-container *ngFor="let item of col.config.menuList">
                                        <button mat-menu-item>
                                            <span>{{item.name}}</span>
                                        </button>
                                    </ng-container>
                                </mat-menu>
                            </ng-container>
                        </ng-template>
                      
                    </mat-cell>
                </div>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <mat-cell *matCellDef="let element" [attr.colspan]="columnHeader.length">
                    <div [ngClass]="{'example-element-detail' : element === expandedElement, 'example-element-details': element !== expandedElement}" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                        <!--class="example-element-detail" -->
                        <ng-container>
                            <app-inner-table [cols]="innerColumnHeader" [data]="element.MotorList" (isActionBtn)="isActionBtn.emit($event)">
                            </app-inner-table>
                        </ng-container>
                    </div>
                </mat-cell>
            </ng-container>
            </div>
    
      
  
      <mat-header-row *matHeaderRowDef="keys" style="font-size:14px;"></mat-header-row>
     
      <mat-row *matRowDef="let element; columns: keys" class="mt-2" [class.example-expanded-row]="expandedElement === element"  style="overflow:scroll;
      display: flex !important;
      flex-direction: column; border-top:1px solid navy; border-bottom:1px solid navy;font-size:14px;"></mat-row>
    
       <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
    </mat-table>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <div style="margin-top:16px;" *ngIf="nextSection"><!--padding: 15px !important;-->
                <span class="spancommon span_font_size mt-3">Items Per Page: </span>
            </div>
        </div>
       <div class="col-5">
        <div style="margin-top:10px;" *ngIf="nextSection"><!--padding-right: 25px !important;-->
            <select [(ngModel)]="pageCount" (change)="onChangePageCount($event)" class="form-control">  
                <option value="5">5</option>  
                <option value="10">10</option>  
                <option value="15">15</option>  
            </select> &nbsp;&nbsp;
        </div>
       </div>
        
    </div>
   
    <div class="d-flex justify-content-end">
        <div style="background-color: transparent !important;" *ngIf="nextSection"> <!--padding-right: 15px !important;-->
            <ul class="pagination" >
                <li style="cursor:pointer !important" *ngIf="startCount!=1" (click)="onPreviousPage()" ><a>&lt; Previous</a></li>
                <li style="cursor:not-allowed !important" *ngIf="startCount==1" ><a style="cursor:not-allowed !important">&lt; Previous</a></li>
                <li style="margin-top: 15px !important;">{{startCount}}&nbsp;-&nbsp;{{endCount}}&nbsp;of&nbsp;{{totalQuoteRecords}}</li>
                <li style="cursor:pointer !important" (click)="onNextPage()" *ngIf="nextSection && checkDataIndex()"><a >Next &gt; </a></li>
                <li style="cursor:not-allowed !important" *ngIf="!nextSection || !checkDataIndex()"><a style="cursor:not-allowed !important">Next &gt; </a></li>
            </ul>
        </div>
    </div>
    <!-- <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
   </div>
   
  </div>
<!-- <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator> -->
