<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="spancommon span_font_size">
                Assign Quote
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-11 col-lg-11 ml-5">
                <ng-container *ngIf="customerData.length!=0">
                    <app-commodity-table [cols]="quoteHeader" [data]="customerData" [innerCols]="innerColumnHeader" [innerData]="innerTableData" (onEdit)="onEditQuotes($event)" (onAdd)="onInnerData($event)">
                    </app-commodity-table>
                </ng-container>
                <ng-container *ngIf="customerData.length==0">
                    <div class="text-center spancommon span_font_size">
                        No Quote Available
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>