<div class="product-menubar">
    <div class="logo-img" style="background-color: #fff;">
        <img src="./assets/images/logo-2.png">
    </div>


    <div class="user-container">

        <!-- <div style="margin-right:50px;"> -->
            <!--<a (click)="onLog(title)" style="color:blue;font-size:16px;font-weight:600;cursor:pointer;display:flex;text-decoration: underline;"> LogIn </a>-->
            <!-- <a class="productsidesection">{{loginId}} <span style="padding-left:10px;"> |</span></a>
        </div> -->

        <!--<img src="assets/images/nick.png">-->
        <!-- <div style="margin-left:-40px;">
            <a (click)="onProceedLogin()" class="productlogout"> LogOut </a>
        </div> -->
    </div>
    <!--<div class="d-flex flex-row-reverse">
        <div class="p-2">
            <button class="btn btn-circle"><i class="fa fa-sign-out" style="font-size:24px"></i></button>
        </div>
    </div>-->
    <!--<div class="login-details">
        <nb-actions size="small">
            <nb-action class="user-action" *nbIsGranted="['view', 'user']">
                <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="loginId" [picture]="user?.picture" nbContextMenuTag="my-context-menu">
                </nb-user>
            </nb-action>
        </nb-actions>
    </div>-->
    <!-- <div>
        <nb-actions size="small">

            <nb-action class="control-item" icon="home"></nb-action>
            <nb-action class="control-item" icon="home"></nb-action>
        </nb-actions>
    </div> -->

</div>
<div class="text-center mt-5" *ngIf="!errorSection && !branchselection">
    <p>Please Wait.....</p>
</div>
<div class="row customCard" *ngIf="branchselection">
    <div class="col-md-8 col-lg-8 col-xl-8 offset-2 customcenterPanel" id="mobileAuthSection">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="customImage"></div>
            </div>
            <div class="col-md-7 col-lg-7 col-xl-7 offset-1 customAuthPanel" *ngIf="!otpSection">
                <div class="text-center customHeading">
                    User Login
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="input-control-container">
                                <label class="input-form-label">Country Code</label>
                                    <ng-select class="input-form-select" name="ColumnsId" placeholder="Select Any Code" appendTo="body" [searchable]="true" [clearable]="true" [closeOnSelect]="true">
                                        <ng-option *ngFor="let opt of codeList" [value]="opt.Code">{{opt.CodeDesc}}</ng-option>
                                    </ng-select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="input-control-container">
                                <label class="input-form-label">Mobile Number</label>
                                <div class="input-form-box">
                                    <input type="text" class="input-form-control without-icon"
                                        maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="input-control-container">
                                <label class="input-form-label">Branch</label>
                                <ng-select class="input-form-select" name="ColumnsId" [(ngModel)]="branchValue" placeholder="Select Any Branch" appendTo="body" [searchable]="true" [clearable]="true" [closeOnSelect]="true">
                                    <ng-option *ngFor="let opt of branchList" [value]="opt.BrokerBranchCode">{{opt.BrokerBranchName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="custom-btn btn-3"
                                    ><span>Login</span></button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- <div>
    <h2 style="text-align: center;margin: auto;">Saravana</h2>
</div> -->
<div class="row" *ngIf="errorSection">
    <div class="col-md-8 col-lg-8 col-xl-8 offset-2">
        <div class="card" id="page_container">
            <div class="card-body block_container">
                <div class="text-center">
                    <h2 style="font-weight: 700;color: #fff;"><u>Error!</u></h2>
                </div>
                <div class="row" *ngIf="errorList.length!=0">
                    <div class="col-10 col-lg-10 col-xl-10 col-md-10 offset-1">
                        <ul class="list" *ngFor="let error of errorList">
                            <li class="list-item one">{{error.Message}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="text-center">
                        <button class="custom-btn btn-8 maan-button-data" matRipple (click)="onProceedLogin()">Okay! </button>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>