#page_container
{
    top: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 12px #555;
    min-height: 25rem !important;
    border-radius: 25px;
    background: linear-gradient(315deg, #334c66 0%, #11A0B0 100%);
}

#page_container .block_container{
    background: url('../../../assets/images/securityAlert.png') no-repeat;
    background-position: right bottom !important;
    background-size: 25% 50%;
}
ul {
    list-style-type: "*";
  }
  ul li {
    color: #fff;
    list-style: none;
    position: relative;
    font-size: 22px !important;
    padding: 3px 0 2px 25px;
  }
  
  ul li::before {
    content: '*';
    position: absolute;
    top: 6px;
    left: 0;
  }
.customCard{
  margin: 0px !important;
  width: 100% !important;
  height: 50vh !important;
  
}
.customcenterPanel{
  margin-top: 70px !important;
  min-height:60vh !important;
  border: 1.5px solid grey;
  border-radius: 20px;
  background-color: #e4efff;
}
.customImage{
  min-height:60vh !important;
  background: url('../../../assets/images/authenticate.webp') no-repeat !important;
    background-position: center center !important;
    background-size: 100% 75% !important;

}
.customHeading{
  font-size: 27px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #0e2a58;
  color: #fff;
}
.customAuthPanel{
  padding: 50px;
  background-color: #fff;
  min-height: 50vh !important;
  border-radius: 25px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Avenir LT W05_65 Medium', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg,rgb(55 81 126) 0%,rgb(71 178 228) 100%);
  width: 85px;
  height: 35px;
  line-height: 32px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}