<div class="card">
    <div class="card-header">User Configuration</div>
    <div class="card p-1">
        <div class="vision-grid vision-grid-column-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input type="radio" id="menu1" name="menu" value="Branch" (click)="onRedirect('Branch')" [(ngModel)]="activeMenu">
                    <label for="menu1">Branch</label>
                    <input id="menu7" type="radio" name="menu" value="Product" [(ngModel)]="activeMenu" (click)="onRedirect('Product')">
                    <label for="menu7">Product</label>

                    <input type="radio" id="menu2" name="menu" value="Cover" (click)="onRedirect('Cover')" [(ngModel)]="activeMenu">
                    <label for="menu2">Cover</label>
                </div>
            </div>

            <div class="vision-grid-item">
                <div class="card">
                    <div class="card-header"> Product Details</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Product Name<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="productDetails.ProductName" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Product Description<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Regulatory Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="productDetails.RegulatoryCode" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Core App Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="productDetails.CoreAppCode" maxlength="100">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Checker And MakerYN<span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="checker_Yes" type="radio" name="CheckerYN" [(ngModel)]="productDetails.CheckerYn" value="Y">
                                            <label for="checker_Yes">Yes</label>
                                            <input type="radio" id="checker_No" name="Checker" [(ngModel)]="productDetails.CheckerYn" value="N">
                                            <label for="checker_No">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-12 col-md-4 col-lg-4">
                            <div class="input-control-container">
                                <label class="input-form-label">MakerYN<span class="text-required">*</span></label>
                                <div class="input-form-radio-box">
                                    <div class="radio-toolbar">
                                        <input id="maker_Yes" type="radio" name="MakerYN" [(ngModel)]="productDetails.MakerYn" value="Y">
                                        <label for="maker_Yes">Active</label>
                                        <input type="radio" id="maker_No" name="MakerYN" [(ngModel)]="productDetails.MakerYn" value="N">
                                        <label for="maker_No">DeActive</label>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">PaymentYn<span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="payment_Yes" type="radio" name="PaymentYN" (change)="onPaymentChange()" [(ngModel)]="productDetails.PaymentYn" value="Y">
                                            <label for="payment_Yes">Yes</label>
                                            <input type="radio" id="payment_No" name="PaymentYN" (change)="onPaymentChange()" [(ngModel)]="productDetails.PaymentYn" value="N">
                                            <label for="payment_No">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" *ngIf="productDetails.PaymentYn=='Y'">
                                <div class="input-control-container">
                                    <label class="input-form-label">Payment Redirect Url<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="productDetails.PaymentRedirUrl" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <!--<div class="col-12 col-md-4 col-lg-4">
                            <div class="input-control-container">
                                <label class="input-form-label">Product Icon</label>
                                <ng-select class="input-form-select" [(ngModel)]="productDetails.ProductIconId" [items]="iconList" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                            </div>
                        </div>-->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Commission Vat YN<span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes1" type="radio" name="originatingWarehouse1" [(ngModel)]="productDetails.CommissionVatYn" value="Y">
                                            <label for="orginwarehouse_Yes1">Yes</label>
                                            <input type="radio" id="orginwarehouse_No1" name="originatingWarehouse1" [(ngModel)]="productDetails.CommissionVatYn" value="N">
                                            <label for="orginwarehouse_No1">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Commission Percent(%)<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" digitOnly class="input-form-control without-icon" [(ngModel)]="productDetails.CommissionPercent" maxlength="3">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label"> Sum Insured Start Limit<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" digitOnly class="input-form-control without-icon" [(ngModel)]="productDetails.SumInsuredStart" (keydown)="onProductValueChange($event)" (keyup)="SIStartCommaFormatted()" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Sum Insured End Limit<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" digitOnly class="input-form-control without-icon" [(ngModel)]="productDetails.SumInsuredEnd" (keydown)="onProductValueChange($event)" (keyup)="SIEndCommaFormatted()" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Effective Date</mat-label>
                                        <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="productDetails.EffectiveDateStart">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Back Days<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" digitOnly class="input-form-control without-icon" [(ngModel)]="productDetails.BackDays"  maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                            <div class="input-control-container">
                                <mat-form-field appearance="fill">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="productDetails.EffectiveDateEnd">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div> -->
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <textarea cols="60" ros="3" [(ngModel)]="productDetails.Remarks" class="input-form-select"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Product Description<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="productDetails.ProductDesc" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Status<span class="text-required">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Pending" type="radio" name="originatingWarehouse" [(ngModel)]="productDetails.Status" value="P">
                                            <label for="orginwarehouse_Pending">Pending</label>
                                            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="productDetails.Status" value="Y">
                                            <label for="orginwarehouse_Yes">Active</label>
                                            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="productDetails.Status" value="N">
                                            <label for="orginwarehouse_No">DeActive</label>
                                            <input type="radio" id="orginwarehouse_Referral" name="originatingWarehouse" [(ngModel)]="productDetails.Status" value="R">
                                            <label for="orginwarehouse_Referral">Referral</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Policy Prefix<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Quote Prefix<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row">

                        </div>
                        <div class="text-center">
                            <button class="btn btn-danger" (click)="ongetBack()">Back</button>
                            <button  class="btn btn-primary ml-2" (click)="onProceed()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
