<div class="card">
  <div class="card-header" style="height: 48px;">
      <!--<h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">Email Details</span></h4>-->
      <div class="d-flex justify-content-between">
        <div>
            <span class="spancommon span_font_size">Email Details</span>
        </div>
        <div>
          <button class="custom-btn btn-6 maan-button-data" *ngIf="!opens" (click)="Mail()" style="width: 7rem;"> <i class="fa fa-plus-circle mx-1"></i>Compose</button>
      </div>
       
    </div>
     
  </div>
  <div class="card-body">
      <div class="form-group">
          <!--<button for="exampleFormControlTextarea1" class="spancommon span_font_size" style="background-color:blueviolet;color:white;border:none" (click)="Mail()">
            <i class="fa fa-plus-circle"></i>
            Compose</button>-->



              <ng-container *ngIf="opens" style="margin-left:30px;">
                <div class="m-4">
                <!--<div class="p-fluid grid mt-3">
                    <div class="field col-12 md:col-5">
                        <span class="p-float-label">
                        </span>
                    </div>
                </div>-->
                <div class="row">


                      <div class="col-12 col-md-5">
                        <div class="input-control-container p-0">
                            <label class="input-form-label">Templates</label><span class="text-danger">*</span>
                            <ng-select class="input-form-select" appendTo="body" [items]="TemplateList" [(ngModel)]="templatevalue" bindValue="Code" bindLabel="CodeDesc" (change)="getMailTemplate()">
                            </ng-select>
                        </div>
                    </div>

                    </div>


                    <div class="row mt-2" *ngIf="templatevalue">
                    <div class="col-12 col-md-5">
                      <div class="input-control-container">
                        <label class="input-form-label">MailSubject<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <input type="text"  class="input-form-control without-icon" [(ngModel)]="MailSubject" maxlength="100">
                        </div>
                    </div>
                    </div>

                      <div class="col-12 col-md-5">
                        <div class="input-control-container">
                          <label class="input-form-label">MailRegards<span class="text-required">*</span></label>
                          <div class="input-form-box">
                              <input type="text" class="input-form-control without-icon"  [(ngModel)]="MailRegards" maxlength="100">
                          </div>

                      </div>
                    </div>
                </div>
             
                <div class="row mt-2" *ngIf="templatevalue">
                  <div class="col-12 col-md-11 col-lg-11">
                    <div class="input-control-container">
                        <label class="input-form-label">MailBody<span class="text-required">*</span></label>
                        <div class="input-form-box">
                            <textarea cols="1200" ros="3" [(ngModel)]="MailBody" class="input-form-select" width="100%;"></textarea>
                        </div>
                    </div>
                </div>
                </div>


              

                <div class="row mt-2">

                  <div class="col-12">
                      <div class="text-center my-3">
                        
                          <button class="custom-btn btn-5 mx-2" matRipple *ngIf="opens && templatevalue" (click)="backs()">Back</button>
                          <button class="custom-btn btn-6 maan-button-data mx-2" matRipple  *ngIf="opens && templatevalue" (click)="send()">Send</button>
                         
                      </div>
                  </div>
              </div>
              </div>

            </ng-container>


              <mat-tab-group  mat-align-tabs="center" *ngIf="!opens">

                <mat-tab label="Mail">

                  <ng-container *ngIf="NotifiList.length!=0">
                    <app-grid-table [cols]="MailHeader" [data]="NotifiList" (onViews)="onviewMail($event,discountCard)">
                    </app-grid-table>
                </ng-container>
                    
                <ng-container *ngIf="NotifiList.length==0">
                  <div class="text-center mt-5" >
                    <span>No Quote Available</span>
                </div>
                </ng-container>
                   </mat-tab>
                 

              
              <div class="row">

              </div>


              </mat-tab-group>


              <div class="row">

                <div class="col-12">
                    <div class="text-center my-3">
                        <button class="custom-btn btn-5 mx-2" matRipple  *ngIf="!opens" (click)="smsBack()">Back</button>
                       
                    </div>
                </div>
            </div>

          <!--<textarea class="form" id="exampleFormControlTextarea1" [(ngModel)]="Remarks" rows="1"></textarea>-->
        </div>
  </div>
  <!--<div class="card-footer" style="height: 41px;">
<button class="custom-btn btn-5 col-lg-2 spancommon span_font_size" (click)="modal.dismiss('Cross click')" style="margin-left:10px;position: relative;bottom: 0.7rem;">Close</button>
  </div>-->
  <!--<div class="modal-footer" style="height: 41px;">
   
    <button class="btn btn-danger" *ngIf="!opens" (click)="smsBack()">Back</button>
      </div>
</div>-->



<ng-template #discountCard let-modal>
  <div class="modal-header" style="height: 48px;">
    <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">View Mail Details</span></h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
  <div class="form-group">
          <div class="row ml-2">
          <div class="col-12 col-md-5">
            <div class="input-control-container">
              <label class="input-form-label">FromMail<span class="text-required">*</span></label>
              <div class="input-form-box">
                  <input type="text" class="input-form-control without-icon"  [(ngModel)]="ViewList.FromMail" maxlength="100">
              </div>

          </div>
        </div>

        <div class="col-12 col-md-5">
          <div class="input-control-container">
            <label class="input-form-label">ToMail<span class="text-required">*</span></label>
            <div class="input-form-box">
                <input type="text" class="input-form-control without-icon"  [(ngModel)]="ViewList.ToMail" maxlength="100">
            </div>

        </div>
      </div>
      </div>
      <div class="row ml-2">
        <div class="col-12 col-md-5">
          <div class="input-control-container">
            <label class="input-form-label">MailSubject<span class="text-required">*</span></label>
            <div class="input-form-box">
                <input type="text" class="input-form-control without-icon"  [(ngModel)]="ViewList.MailSubject" maxlength="100">
            </div>

        </div>
      </div>

      <div class="col-12 col-md-5">
        <div class="input-control-container">
          <label class="input-form-label">MailRegards<span class="text-required">*</span></label>
          <div class="input-form-box">
              <input type="text" class="input-form-control without-icon"  [(ngModel)]="ViewList.MailRegards" maxlength="100">
          </div>

      </div>
    </div>
    </div>
    <div class="row ml-2">
      <div class="col-12 col-md-12">
        <div class="input-control-container">
          <label class="input-form-label">MailBody<span class="text-required">*</span></label>
        <div class="input-form-box">
          <textarea cols="1200" ros="3" [(ngModel)]="ViewList.MailBody" class="input-form-select" width="100%;"></textarea>
      </div>

      </div>
    </div>

    <!--<div class="col-12 col-md-5">
      <div class="input-control-container">
        <label class="input-form-label">MailRegards<span class="text-required">*</span></label>
        <div class="input-form-box">
            <input type="text" class="input-form-control without-icon"  [(ngModel)]="ViewList.MailRegards" maxlength="100">
        </div>

    </div>
  </div>-->
  </div>
  </div>
         </div>
</ng-template>
