<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="spancommon span_font_size">
                Tira Failure
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-2 offset-lg-1 input-control-container">
                <label class="input-form-label">Start Date</label><span class="text-danger">*</span>
                <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="StartDate" (dateChange)="search()" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-4 col-lg-2 input-control-container">
                <label class="input-form-label">End Date</label><span class="text-danger">*</span>
                <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="EndDate" (dateChange)="getalldetails()" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mt-2">
                    <ng-container *ngIf="issuerData.length!=0">
                        <app-grid-table [cols]="issuerHeader" [data]="issuerData" [Currency]="Currency" (onViews)="onViews($event,mymodal)">
                        </app-grid-table>
                    </ng-container>
                    <ng-container *ngIf="issuerData.length==0">
                        <div class="text-center spancommon span_font_size">
                            No Quote Available
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    
       
    </div>
</div>



<ng-template #mymodal let-modal>
    <div class="modal-header" style="height: 48px;">
        <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">Tira View</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <ng-container *ngIf="tiradetails.length!=0">
            <div class="row p-5 ml-4 mr-4" *ngFor="let cus of tiradetails"><!--d-flex justify-content-between p-5 ml-4 mr-4-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div>
                        <div><h1 style="font-weight:500!important;font-size:16px!important;color:lightcoral;">Tira Details</h1></div>
                        <div class="Personal Details mt-2 pl-5 pr-5">

                            <div class="row mt-2">
                             
                                <div class="col-12 mt-2">
                                    <div class="heading1">Request Id</div>
                                    <div class="heading2">{{cus?.RequestId}}</div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 mt-2">
                                    <div class="heading1">Response Id</div>
                                    <div class="heading2" >{{cus?.ResponseId}}</div>
                                </div>
                            </div>
                              
                            <div class="row mt-2">
                                <div class="col-12 mt-2">
                                    <div class="heading1">Entry Date</div>
                                    <div class="heading2">{{cus?.EntryDate}}</div>
                                </div>
                            </div>
                              
                            
                        </div>
                     </div>
                </div>
                    
                <div class="line-in-middle"></div>
                <div class="col-12 col-md-8 col-lg-8">
                            <div>
                                <div class="Personal Details">
                                    <div><h1 style="font-weight:500!important;font-size:16px!important;color:lightcoral">History</h1></div>
                                   </div>
                                   <div>
                                   <div class="row mt-2">
                                    <div class="col-6 col-md-4 col-md-4 mt-2">
                                        <div class="heading3">Status</div>
                                        <div class="heading4">{{cus.StatusDesc}}</div>
                                    </div>
                                    <div class="col-6 col-md-4 col-md-4 mt-2">
                                        <div class="heading3">Status Code</div>
                                        <div class="heading4">{{cus.StatusCode}}</div>
                                    </div>
                                    <div class="col-6 col-md-4 col-md-4 mt-2">
                                        <div class="heading3">AcknowledgementId</div>
                                        <div class="heading4">{{cus?.AcknowledgementId}}</div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                       <div class="col-12 col-md-12 col-lg-12 mt-2">
                                            <div class="heading3">RequestFilePath</div>
                                            <div class="heading4">
                                                <a style="text-decoration:underline;color: rgb(18, 174, 236);cursor: pointer;" (click)="onDownload(cus?.RequestFilePath)">{{cus?.RequestFilePath}}</a></div>
                                           </div>
                                        </div>
                                    
                                        <div class="row mt-2"> 
                                    <div class="col-12 col-md-12 col-lg-12 mt-2">
                                        <div class="heading1">ResponseFilePath</div>
                                        <div class="heading2">
                                            <a style="text-decoration:underline;color: rgb(18, 174, 236);cursor: pointer;" (click)="onDownload(cus?.ResponseFilePath)">{{cus?.ResponseFilePath}}</a>
                                           </div>
                                    </div>
                                    </div>

                             
                              
                            </div>
                            </div>
                        </div>
                    
                   
            </div>
           </ng-container>
           <ng-container *ngIf="tiradetails.length==0">
                 No Data Found
           </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button class="custom-btn btn-5 spancommon span_font_size" (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  </ng-template>