<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="mt-1">
                <span class="spancommon span_font_size">Existing Quotes</span>
            </div>
            <div>
                <button class="custom-btn btn-6 maan-button-data" (click)="onCreateQuote()" style="width: 8rem;"><i class="fas fa-plus mx-1"></i><span style="text-align: center;font-size:14px;">New Quote</span></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="input-control-container">
                    <label class="input-form-label">Broker Name</label><span class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [(ngModel)]="brokerCode"  [items]="brokerList" bindValue="Code" bindLabel="CodeDesc" (change)="getExistingQuotes(null,'change')">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <ng-container *ngIf="quoteData.length!=0">
                    <app-commodity-table [cols]="quoteHeader" [data]="quoteData" [start]="startIndex" [pageCount]="pageCount" [end]="endIndex" [pageNo]="quotePageNo" [totalQuoteRecords]="totalQuoteRecords" (onLoadPreviousData)="onPreviousData($event)" (onBrokerQuotation)="onBrokerQuotation($event)" (onQuoteSchedule)="onQuoteSchedule($event)" (onLoadNextData)="onNextData($event)" [innerCols]="innerColumnHeader" [innerData]="innerTableData" (onEdit)="onEditQuotes($event)" (onAdd)="onInnerData($event)" (onView)="onViews($event)" (onReject)="onRejects($event,mymodal)" (onMail)="onMail($event,mymail)"
                    (onSms)="onSms($event,mysms)" (onFollowup)="onFollowup($event)">
                    </app-commodity-table>
                </ng-container>
                <ng-container *ngIf="quoteData.length==0">
                    <div class="text-center">
                        No Quote Available
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>



<ng-template #mymodal let-modal>
  <div class="modal-header" style="height: 48px;">
      <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">Reject Quote</span></h4>
      <h4 class="modal-title" *ngIf="quotes" id="modal-basic-title"><span class="spancommon span_font_size" style="position: relative;">Quote No : {{quote}}</span></h4>
      <h4 class="modal-title" *ngIf="!quotes" id="modal-basic-title"><span class="spancommon span_font_size" style="position: relative;">Reference No : {{Reference}}</span></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="spancommon span_font_size">Reject Reason</label>
            <textarea class="form" id="exampleFormControlTextarea1" [(ngModel)]="Remarks" rows="1"></textarea>
        </div>
  </div>
  <div class="modal-footer">
      <div class="custom-btn btn-6 col-lg-2 spancommon span_font_size" style="text-align:center" (click)="RejectQuote(Remarks,RejectList,modal);">Submit</div>
      <!--modal.close('Save click')-->
      <button class="custom-btn btn-5 col-lg-2 spancommon span_font_size" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>
<!-- style="position: relative;bottom: 0.7rem;cursor:pointer" -->





