
    <div class="maan-grid-item">
    
            <div class="maan-grid-item-title p-0">
                
                <div class="row">
                    <div class="col-12 col-md-3">
                        <span style="color:black"><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">Product Name</b></span>:<span style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;">{{ProductName}}</span>
                     </div>
                     <div class="col-12 col-md-3">
                              <span style="color:black"><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">Broker Name</b></span>:<span style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;">{{BrokerName}}</span>
                     </div>
                     <div class="col-12 col-md-3">
                        <span style="color:black"><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">Start Date</b></span>:<span style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;">{{startDate}}</span>
               </div>
                     <div class="col-12 col-md-3">
                        <span style="color:black"><b style="font-size:15px !important;font-feature-settings: 'liga' 0;">End Date</b></span>:<span style="font-family: 'TimesNewRoman';font-size:14px !important;font-feature-settings: 'liga' 0;">{{enddate}}</span>
                     </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <ng-container *ngIf="tableData1.length!=0">
            <app-grid-table [cols]="quotesHeader" [data]="tableData1" (onSchedule)="onGetSchedule($event)" (onCredit)="onCreditdownload($event)" (onDebit)="onDebitdownload($event)" (onView)="onViews($event)">
            </app-grid-table>
             </ng-container>
        </div>
    </div>
   
    <div style="text-align: center;">
        <button class="custom-btn btn-5 mr-2" (click)="ongetBack()" matRipple>Back</button>
    </div>
    