<div>
    <div [formGroup]="buildingForm">
        <div class="col-12">
            <div class="maan-grid customer-grid maan-grid-column-1">
                <div class="maan-grid-item">
                    <div class="maan-grid-item-title">
                        <span class="mx-1">
                        <i class="fas fa-home mx-1"></i>
                    </span> <span class="spancommon span_font_size">Building Details</span>
                    </div>
                    <div class="maan-grid-item-body">
                        <div class="row p-2">
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="customLabel spancommon span_font_size" style="font-weight:600">Do You Rent Or Own Home ?</label>
                                <div class="input-form-radio-box mt-1">
                                    <div class="radio-toolbar">
                                        <input id="BuildingOccupationType_Yes" type="radio" name="BuildingOwnerYn" formControlName="BuildingOwnerYn" value="N">
                                        <label for="BuildingOccupationType_Yes" class="yes"><span class="spancommon span_font_size">I Rent Home</span></label>&nbsp;
                                        <input id="BuildingOccupationType_No" type="radio" name="BuildingOwnerYn" formControlName="BuildingOwnerYn" value="Y">
                                        <label for="BuildingOccupationType_No" class="no  spancommon span_font_size"><span class="spancommon span_font_size">I Own Home</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="spancommon span_font_size" style="font-weight:600">Of What Materials Is The Dwelling Constructed</label>
                                <div class="input-form-radio-box mt-1">
                                    <div class="radio-toolbar">
                                        <input id="constructionTypeq_Yesh" type="radio" name="InbuildConstructType" formControlName="InbuildConstructType" value="W">
                                        <label for="constructionTypeq_Yesh" class="yes spancommon span_font_size">Wall</label>&nbsp;
                                        <input id="constructionTypeq_Noh" type="radio" name="InbuildConstructType" formControlName="InbuildConstructType" value="R">
                                        <label for="constructionTypeq_Noh" class="no spancommon span_font_size">Roof</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="spancommon span_font_size" style="font-weight:600">How Are The Outbuildings (if any) Constructed</label>
                                <div class="input-form-radio-box mt-1">
                                    <div class="radio-toolbar">
                                        <input id="constructionType_Yes" type="radio" name="OutbuildConstructType" formControlName="OutbuildConstructType" value="W">
                                        <label for="constructionType_Yes" class="yes spancommon span_font_size">Wall</label>&nbsp;
                                        <input id="constructionType_No" type="radio" name="OutbuildConstructType" formControlName="OutbuildConstructType" value="R">
                                        <label for="constructionType_No" class="no spancommon span_font_size">Roof</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                                <label class="spancommon span_font_size" style="font-weight:600">Building Usage</label><span class="text-danger">*</span>
                                <div class="input-control-container">
                                    <ng-select class="input-form-select" appendTo="body" [items]="BuildingUsageList" formControlName="BuildingUsageId" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">What Is its Height In Storeys</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" maxlength="5" formControlName="BuildingFloors" class="input-form-control without-icon">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">Built Year</label><span class="text-danger">*</span>
                                <div class="input-form-box">

                                    <input type="text" maxlength="4" formControlName="BuildingBuildYear" class="input-form-control without-icon">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">Occupation</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <ng-select class="custom" [items]="occupationList" formControlName="OccupationType" placeholder="Select OcuppationType" appendTo="body" bindValue="Code" bindLabel="CodeDesc"></ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4" *ngIf="buildingSection">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">Building Sum Insured</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" digitOnly maxlength="15" formControlName="BuildingSuminsured" (keydown)="onSIValueChange($event)" (keyup)="CommaFormatted()" class="input-form-control without-icon">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">HouseHold Contents Sum Insured</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" digitOnly maxlength="15" formControlName="ContentSuminsured" (keydown)="onSIValueChange($event)" (keyup)="ContentSICommaFormatted()" class="input-form-control without-icon">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-4 col-xl-4" *ngIf="allRiskSection">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">All Risk Sum Insured</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" digitOnly maxlength="15" formControlName="AllriskSumInsured" (keydown)="onSIValueChange($event)" (keyup)="AllRiskSICommaFormatted()" class="input-form-control without-icon">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4" *ngIf="personalIntermeditySection">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">Personal Liability Sum Insured</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" digitOnly maxlength="15" formControlName="PersonalIntermediarySuminsured" (keydown)="onSIValueChange($event)" (keyup)="PersonalIntermediaryCommaFormatted()" class="input-form-control without-icon">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4" *ngIf="WorkmenCompensation">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">Workmen Compensation Sum Insured</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" digitOnly maxlength="15" formControlName="WorkmenCompensationSuminsured" (keydown)="onSIValueChange($event)" (keyup)="WorkmenCommaFormatted()" class="input-form-control without-icon">
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-4" *ngIf="personalAccidentSection">
                                <label class="input-form-label spancommon span_font_size" style="font-weight:600">Personal Accident Sum Insured</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" digitOnly maxlength="15" formControlName="PersonalAccidentSuminsured" (keydown)="onSIValueChange($event)" (keyup)="PersonalAccidentCommaFormatted()" class="input-form-control without-icon">
                                </div>
                            </div>
                        </div>
                        <!--table-->
                        <!-- <div *ngIf="personalAccidentSection">
                            <div class="d-flex justify-content-between maan-grid-item">
                                <div><span><i class="fas fa-home mx-1 mt-3"></i>
                                          </span> <b font-style="24px;"> Personal Accident Details</b> </div>

                                <div class="mr-3"> <button class="custom-btn btn-6 maan-button-data mt-2" (click)="AddNew()">Add New </button></div>
                            </div>
                            <div class="row mt-3 table table_expand">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <table class="table">
                                        <thead style="background-color: #333b85;">
                                            <tr class="table_row">
                                                <th class="tbl-header spancommon span_font_size">Occupation</th>
                                                <th class="tbl-header spancommon span_font_size">No of Persons</th>
                                                <th class="tbl-header spancommon span_font_size">Sum Insured</th>
                                                <th class="tbl-header spancommon span_font_size">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of jsonList;let i = index">
                                                <td class="tbl-content">
                                                    <ng-select class="custom" [items]="occupationList" [(ngModel)]="row.OccupationType" (change)="onOccupationChange(row)" placeholder="Select OcuppationType" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc"></ng-select>
                                                </td>
                                                <td class="tbl-content">
                                                    <div class="input-form-box">
                                                        <input type="text" digitOnly class="input-form-control without-icon" maxlength="3" [(ngModel)]="row.Count" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </td>
                                                <td class="tbl-content">
                                                    <div class="input-form-box">
                                                        <input type="text" class="input-form-control without-icon" maxlength="50" style="direction:RTL;" [(ngModel)]="row.SumInsuredTotal" (keydown)="onSIValueChange($event)" (keyup)="TotalRowSIChange(i)" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </td>
                                                <td class="tbl-content" *ngIf="i==0 && jsonList.length==1">
                                                    <button class="btn btn-primary" (click)="clear(row,i)"> Clear</button>
                                                </td>
                                                <td class="tbl-content">
                                                    <button class="btn btn-primary" *ngIf="i!=0" (click)="delete(row)"> <i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <td class="tbl-content"></td>
                                            <td class="tbl-content"></td>
                                            <td class="tbl-content">
                                                <div class="d-flex justify-content-between">
                                                    <div *ngIf="totalValue">
                                                        <b>Total</b>
                                                    </div>
                                                    <div>
                                                        <b>{{totalValue|commaseparator}}</b>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="tbl-content"></td>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div> -->
                        <!--table ends-->
                        <div class="maan-grid-item">
                            <div class="maan-grid-item-title">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span class="mx-1">
                                            <i class="fas fa-user mx-1"></i>
                                        </span> <span class="spancommon span_font_size">UnderWriter Questions</span>
                                    </div>
                                    <div>
                                        <ng-container>
                                            <!-- RefNo - {{customerDetails?.CustomerReferenceNo}} -->
                                        </ng-container>

                                    </div>
                                </div>

                            </div>
                            <div class="maan-grid-item-body">
                                <ng-container *ngIf="questionSection">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" *ngFor="let ques of uwQuestionList;let i=index" style="font-size: 1rem;padding: 0px 9px;">
                                                    <div class="row p-0 w-100 customRow">
                                                        <div class="col-md-8 col-lg-8 col-xl-8 mt-4 customFont spancommon span_font_size" style="font-weight: 600;color: #333b85!important;letter-spacing: 0.3px;">
                                                            {{ques.UwQuestionDesc}}
                                                            <ng-container *ngIf="ques.MandatoryYn=='Y'"> &nbsp;<span class="text-danger">*</span></ng-container>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4 col-xl-4">
                                                            <ng-container *ngIf="ques?.QuestionType=='01'">
                                                                <div class="input-control-container">
                                                                    <div class="input-form-radio-box">
                                                                        <div class="radio-toolbar">
                                                                            <input [id]="'orginwarehouse_Yes'+i" type="radio" [attr.name]="'orginwarehouse_Yes'+i" (change)="onSelectUW(ques,'Y')" [checked]="checkUWValue(ques,'Y')" value="Y">
                                                                            <label [for]="'orginwarehouse_Yes'+i" class="yes">Yes</label>
                                                                            <input [id]="'orginwarehouse_No'+i" type="radio" [attr.name]="'orginwarehouse_Yes'+i" (change)="onSelectUW(ques,'N')" [checked]="checkUWValue(ques,'N')" value="N">
                                                                            <label [for]="'orginwarehouse_No'+i" class="no">No</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="ques?.QuestionType=='02' && ques?.DataType!='02'">
                                                                <div class="input-control-container">
                                                                    <div class="input-form-box">
                                                                        <input type="text" [(ngModel)]="ques.Value" class="input-form-control without-icon">
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="ques?.QuestionType=='02' && ques?.DataType=='02'">
                                                                <div class="input-control-container">
                                                                    <div class="input-form-box">
                                                                        <input type="text" digitOnly [(ngModel)]="ques.Value" class="input-form-control without-icon">
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- need to cut-->


                        <div class="text-center mt-3">
                            <button class="custom-btn btn-5 mx-2" matRipple [routerLink]="['/Home/existingQuotes/customerSelection/customerDetails/customer-details']" routerLinkActive="router-link-active"><<&nbsp;Back</button>
                            <button class="custom-btn btn-6 maan-button-data mx-2" matRipple (click)="onSave()" routerLinkActive="router-link-active" routerLinkActive="router-link-active">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>