/* .maan-grid-column-1 {
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
.customer-grid .maan-grid-item {
    overflow: hidden;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;


}
.customer-grid .maan-grid-item-title {
    padding: .5rem;
    font: bolder;
    font-size: 17px;
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
}
.list-group .list-group-item{
    display: flex;
    justify-content: space-between;
    font-size: 12.5px;
    padding: 4px 12px;
    align-items: center;
    text-transform: capitalize;
    border: 0;
}

.modal-header{
    background-color: var(--theme1);
    color: white;
    padding: 10px;
}
.modal-content{
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
} */
.dropdownNotDisplay{
    display: none !important;
}
.dropdownDisplay{
    display: block !important;
    z-index: 200 !important;
}
.Choose-Section-Box {
    padding: 10px !important;
    background-color: #56627229 !important;
    border-radius: 26px;  
  }
  .heading{
    background: #fff;
    box-shadow:  2px 2px 4px #3b3d3d,
    2px 2px 4px #565bbd;
    -webkit-box-shadow: 2px 2px 4px #3b3d3d,
    2px 2px 4px #565bbd;
    -moz-box-shadow:2px 2px 4px #3b3d3d,
    2px 2px 4px #565bbd;
    padding: 10px 50px;
    border-radius: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #e02020;
    margin-top: -32px;
    text-align: center;
    font: 600 16px Arial;
    letter-spacing: 0;
    color: #e02020;
    z-index: 99;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
  }
  .padd0 {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width:700px) and (max-width: 20000px) {
    .display2{
       display:none;
        }
      
    }

 @media screen and (min-width: 280px) and (max-width: 700px) {
    .display1{
        display:none;
         }
         .maan-grid {
            display:block;
        }
 }