<div class="card">
    <div class="card-header">Broker Configuration</div>
    <div class="card p-1">
        <div class="vision-grid vision-grid-column-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input type="radio" id="menu1" name="menu" value="Branch" (click)="onRedirect('Branch')" [(ngModel)]="activeMenu">
                    <label for="menu1">Branch</label>
                    <input id="menu7" type="radio" name="menu" value="Product" [(ngModel)]="activeMenu" (click)="onRedirect('Product')">
                    <label for="menu7">Product</label>

                    <input type="radio" id="menu2" name="menu" value="Cover" (click)="onRedirect('Cover')" [(ngModel)]="activeMenu">
                    <label for="menu2">Cover</label>
                    <input type="radio" id="menu8" name="menu" value="Deposit" (click)="onRedirect('Deposit')" [(ngModel)]="activeMenu">
                    <label for="menu8">Deposit</label>
                    <input type="radio" id="menu9" name="menu" value="paymentTypes" (click)="onRedirect('paymentTypes')" [(ngModel)]="activeMenu">
                    <label for="menu9">PaymentTypes</label>
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                Branch Details
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Branch Name<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <!-- <ng-select class="input-form-select" appendTo="body" (change)="onBranchChange()" [(ngModel)]="branchCode" [items]="branchList" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select> -->
                                        <input type="text" [(ngModel)]="branchName" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" *ngIf="brokerCompanyYN=='Y'">
                                <div class="input-control-container">
                                    <label class="input-form-label">Insurance Company</label>
                                    <ng-select class="input-form-select" [(ngModel)]="subInsuranceId" appendTo="body" [items]="subInsuranceList" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Insurance Company Branch</label>
                                    <ng-select class="input-form-select" [(ngModel)]="subBranchId" [items]="subBranchList" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Branch Type<span class="text-danger">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes2" type="radio" name="BranchType" [(ngModel)]="branchType" value="Main">
                                            <label for="orginwarehouse_Yes2">Main</label>
                                            <input type="radio" id="orginwarehouse_No2" name="BranchType" [(ngModel)]="branchType" value="SubBranch">
                                            <label for="orginwarehouse_No2">Sub</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Address 1<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="address1" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Address 2<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="address2" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Email<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="emailId" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Mobile No<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="mobileNo" class="input-form-control without-icon" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Sale PointCode<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <!-- <span class="input-form-icon" style="cursor: pointer !important;background-color: #333b85 !important;color:#fff;left: 1px;float: right;border-radius: 6px;padding: 4px 8px;">
                                            <a style="cursor: pointer !important;" (click)="searchCustomer(customerModal)"><i class="fas fa-search"></i></a>
                                        </span> -->
                                        <input type="text" [(ngModel)]="SalePointCode" class="input-form-control with-icon">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Effective Date<span class="text-danger">*</span></label>
                                    <mat-form-field appearance="fill">
                                        <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="effectiveDateStart">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Remarks<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <textarea cols="120" rows="2" [(ngModel)]="remarks" class="input-form-control without-icon" maxlength="200"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Status<span class="text-danger">*</span></label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse1" [(ngModel)]="statusValue" value="Y">
                                            <label for="orginwarehouse_Yes">Active</label>
                                            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse1" [(ngModel)]="statusValue" value="N">
                                            <label for="orginwarehouse_No">DeActive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">City</label>
                                    <ng-select class="input-form-select" [items]="cityList" bindValue="Code" bindLabel="CodeDescription">
                                    </ng-select>
                                </div>
                            </div> -->
                            
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Core App Code<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="coreAppCode" class="input-form-control without-icon" maxlength="10">
                                    </div>
                                </div>
                            </div> -->
                           
                            <!-- <div class="col-12 col-md-4 col-lg-4" *ngIf="subBranchId!=null">
                                <div class="input-control-container">
                                    <label class="input-form-label">Customer Code</label><span class="text-danger">*</span>
                                    <div class="input-form-box">
                                        <input id="CustomerInput" class="input-form-control without-icon" [(ngModel)]="customerCode" type="text" (keyup)="onGetCustomerList('change',$event.target.value)" autocomplete="off" placeholder="Search here" data-toggle="dropdown" /><br>
                                        <ul class="dropdown-menu dropdown-list-style CustomerInput" appendTo="body"   [ngClass]="{dropdownDisplay: showCustomerList, dropdownNotDisplay: !showCustomerList}">
                                            <li *ngFor="let item of customerList" (click)="setCustomerValue(item.Code, item.Name,'change')">
                                                {{item.Code}} - {{ item.Name }}
                                            </li>
                                            <div class="text-center" *ngIf="customerList.length == 0">
                                                <p>Enter any code to Search...</p>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4" *ngIf="subBranchId!=null">
                                <div class="input-control-container">
                                    <label class="input-form-label">Customer Name</label><span class="text-danger">*</span>
                                    <div class="input-form-box">
                                        <input id="CustomerInput" disabled class="input-form-control without-icon"  [(ngModel)]="customerName" type="text" /><br>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-12 col-md-4 col-lg-4">
                              <div class="input-control-container">
                                  <label class="input-form-label">SourceType<span class="text-danger">*</span></label>
                                  <ng-select class="input-form-select" [(ngModel)]="subSourceId" [items]="sourceList" bindValue="Code" bindLabel="CodeDesc">
                                  </ng-select>
                              </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">CustomerCode<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" [(ngModel)]="CustomerNo" class="input-form-control without-icon" maxlength="10">
                                    </div>
                                </div>
                            </div> -->
                            
                          
                        </div>
                        <div class="row">
                       
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">Contact Person Name<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" maxlength="100">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-12 col-md-4 col-lg-4">
                                <div class="input-control-container">
                                    <label class="input-form-label">BrokerCode<span class="text-danger">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" maxlength="10">
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-danger" (click)="getBackPage()">Back</button>&nbsp;
                            <button class="btn btn-success ml-2" (click)="onFormSubmit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #customerModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><span class="spancommon span_font_size">SalePoint Search</span></h4>
        <button type="button" class="close" #discountModalClose aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-5">
                <div class="input-control-container">
                    <div class="input-form-box">
                        <input type="text" [(ngModel)]="searchValue" placeholder="Enter Your SalePoint Code/Name" (keyup)="onSearchCustomer('change',$event.target.value)" class="input-form-control without-icon" maxlength="100">
                    </div>
                    <div class="input-form-error" *ngIf="searchLengthSection">
                        <div class="error-text text-danger">
                            Enter Atleast 3 Digit / Character to Search
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
