/*@import '../../../../../@theme/styles/themes';
@include nb-install-component() {

    .customData {
        color: black;
    }
    .tbl-header {
        background-color: #0750a3;
        border: 1px solid darkgoldenrod;
        font-weight: 300;
        color: white;
        text-align: center;
    }
    .tbl-content {
        background-color: white;
        border: 2px black !important;
        font-size: 16px;
        color: #333;
    }
}*/
