#chart {
  max-width: 250px;
  max-height: 290px !important;
  padding: 0;
}
.customMargin{
  margin-left: 25px !important;
}
.customMargin2{
  margin-left: 10px !important;
}
.card-header {
  color: black !important;
  margin-bottom: 0 !important;
  //padding: 1.25rem 1.5rem !important;
  border-bottom: 1px solid rgba(0,0,0,.05) !important;
  background-color: #fff !important;
}
.card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  border: 1px solid rgba(0,0,0,.05) !important;
  border-radius: 10px !important;
  background-color: #fff !important;
  background-clip: border-box !important;
}
.shadow {
  transition: all .15s ease !important;
}
.shadow, .card-profile-image img {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}
.table .thead-light th {
  color: #8898aa !important;
  background-color: #f6f9fc !important;
}
.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}
.bg-gradient-danger {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
.bg-gradient-sub{
  background: #3f6c6c !important;
}
.header {
  position: relative;
  width: 100% !important;
  height: auto !important;
  overflow-y: visible;
  font-size: 100% !important;
  font-weight: 500px !important;
  transition: opacity .5s ease !important;
  color: #000 !important;
}
.mt--7, .my--7 {
  margin-top: -6rem !important;
}
.chart{
  min-height: 250px !important;
}
.container-fluid,  .container-sm,  .container-md,  .container-lg, .container-xl {
  padding-left: 39px !important;
  padding-right: 39px !important;
}
.btn-primary {
  color: #fff;
  background-color: #5e72e4;
  border-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.375rem;
}
.btn {
  position: relative;
  text-transform: none;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  will-change: transform;
}
.customBody{
  padding:4px !important;
  //padding: 6px !important;
}
.card{
  margin-top: 0px !important;
  margin-bottom: 5px !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}
.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.text-muted {
  color: #8898aa!important;
}

.overviewCard{
  min-height: 255px !important;
  //min-height:270 !important;
}
.overviewHeader{
  padding: 5px !important;
}
::ng-deep .apexcharts-legend{
  position:left !important;
}
