<div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <app-premiumdetails-subsection [cols]="quoteDetails" [cols1]="Riskdetails" [endrose]="endorsementSection" [cols2]="customerDetails"></app-premiumdetails-subsection>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="maan-grid-item mt-3" id="slider_0">
                    <div class="maan-grid-item-title">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="mx-1">
                                        <i class="fas fa-car mx-1"></i>
                                </span> Passenger Details
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="maan-grid-item-body" style="min-height: 130px !important;">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-xl-8 offset-2">
                                <table class="table  table-striped">
                                    <thead>
                                      <tr >
                                        <th scope="col"><b>S.No</b></th>
                                        <th scope="col"><b>Type</b></th>
                                        <th scope="col"><b>Passenger Count</b></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let passenger of passengerCountList;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{passenger.GroupDesc}}</td>
                                        <td>{{passenger.GroupCount}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-12">
            <div class="maan-grid-item mt-2" id="slider_0" *ngIf="passengerSection">
                <div class="maan-grid-item-title">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                    <i class="fas fa-car mx-1"></i>
                            </span> Passenger Information
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
                <div class="maan-grid-item-body">
                    
                    <div class="row mb-2" *ngIf="!editSection">
                        
                        <div class="col-md-10 col-lg-10 col-xl-10 offset-1">
                        <div class="d-flex justify-content-between">
                            <div class=" mt-2" *ngIf="!editSection">
                                <button class="btn btn-warning"  (click)="AddPassenger()">Add Passenger</button>
                            </div>
                            <div class=" mt-2" *ngIf="!editSection">
                                <button class="btn btn-primary" (click)="UploadTravel()"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                            </div>
                        </div>
                        <div *ngIf="historyRecordsList.length!=0 && !showgrid">
                            <app-grid-table [cols]="PassengerHeader" [data]="historyRecordsList" [filterValue]="filterValue" (onEdit)="onEditPassenger($event)" (onDelete)="onDeletePassengerList($event)">
                            </app-grid-table>  
                        </div>
                            
                        <div class="row" *ngIf="showgrid">
                            <div class="col-md-10 col-lg-10 col-xl-10 offset-1">
                                <div class="boxForm">
                                    <div class="d-flex justify-content-between maan-grid-item maan-grid-item-title">
                            <div class="headcommon" *ngIf="enableEmployeeUploadSection">
                                <ng-container *ngIf="showEmpRecordsSection">
                                    <span><i class="fas fa-users mx-1 mt-3"></i></span>
                                    <span class="spancommon span_font_size" style="font-weight:600">Travel Records</span>
                                </ng-container>
                                <ng-container *ngIf="!showEmpRecordsSection">
                                    <span><i class="fas fa-upload mx-1 mt-3"></i></span>
                                    <span class="spancommon span_font_size" style="font-weight:600">Upload Travel Details</span>
                                </ng-container>
                            </div>
                            <div class="headcommon mr-3"  *ngIf="enableEmployeeUploadSection"> 
                                <button class="groupBtnMembers__btn custom-btn btn-7 maan-button-data" (click)="employeedownload()"><i class="fas fa-download mx-1"></i>Sample</button>
                            </div>
                            </div>
                            <div  class="addMembers" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection">
                                <div class="addMembers__item" *ngFor="let entry of employeeList|paginate:{itemsPerPage: 5, currentPage:emp, id:'emp'};;let i=index">
                                    <div class="addMembers__header">
                                        <div class="addMembers__name">{{entry.PassangerName}} &nbsp;|&nbsp;{{entry.DateOfJoiningYear}}</div>
                                        <div class="addMembers__edit">
                                            <button class="circle btn btn-danger btn-sm mr-2" (click)="EmployeeDelete(entry,i)"> <i class="fa fa-trash"></i></button>&nbsp;&nbsp;
                                            <button class="circle btn btn-primary btn-sm" (click)="onEditEmployee(i)"> <i class="fa fa-pencil"></i></button>&nbsp;
                                        </div>
                                        <div class="addMembers__edit mr-5">
                                            <!-- <span>{{entry.Salary| commaseparator }}</span> -->
                                        </div>
                                    </div>
                                    <ul class="addMembers__list">
                                        <!-- <li>{{entry.OccupationDesc}} &nbsp; | &nbsp; {{entry.NationalityId}}</li> -->
                                    </ul>
                                </div>
                             
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="emp=$event"  id="emp"></pagination-controls>
                                </div>
                               
                            </div>
                            <div *ngIf="enableEmployeeUploadSection && !showEmpRecordsSection">
                                <div class="row" *ngIf="uploadStatus==null">
                                    <div class="col-md-8 col-lg-8 offset-2" >
                                        <input style="display: none;" type="file" (change)="onUploadDocuments($event,null,'direct')" #doc>
                                        <div class="imag-card my-3" appDragDropFileUpload (click)="doc.click()">
                                            <div>
                                                <div class="center">
                                                    <b class="text-dark" style="font-size:1rem">
                                                        <i class="far fa-images"></i> Drag or Click</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="uploadDocList.length!=0 && uploadStatus==null">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <table class="table" id="capture_table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                                    <th scope="col"><span class="spancommon">FileName</span></th>
                                                    <th scope="col"><span class="spancommon">Delete</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let document of uploadDocList;let i=index">
                                                    <th scope="row">{{i+1}}</th>
                                                    <td><span class="spancommon">{{document.filename}}</span></td>
                                                    <td>
                                                        <button class="btn-sm btn btn-danger" (click)="uploadDocList=[];"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center mt-2" *ngIf="uploadStatus==null">
                                    <button class="btn btn-danger btn-sm mr-5" (click)="enableEmployeeUploadSection=!enableEmployeeUploadSection;showgrid=!showgrid;uploadDocList=[]"> Cancel</button>&nbsp;&nbsp;
                                    <button class="btn btn-success btn-sm" *ngIf="uploadDocList.length!=0" (click)="onUploadEmployeeDetails()">Upload</button>
                                </div>
                                <div class="text-center">
                                    <p>{{uploadStatus}}</p>
                                </div>
                            </div>
                            <div *ngIf="enableEmployeeUploadSection && showEmpRecordsSection">
                                <div class="row" *ngIf="employeeUploadRecords.length!=0">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <table class="table" id="capture_table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                                    <th scope="col"><span class="spancommon">Uploaded Date</span></th>
                                                    <th scope="col"><span class="spancommon">Total Records</span></th>
                                                    <th scope="col"><span class="spancommon">Valid Records</span></th>
                                                    <th scope="col"><span class="spancommon">Error Records</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let records of employeeUploadRecords;let i=index">
                                                    <th scope="row">{{i+1}}</th>
                                                    <td><span class="spancommon">{{records.UploadDate}}</span></td>
                                                    <td> <span class="spancommon">{{records.TotalRecords}}</span> </td>
                                                    <td> <span class="spancommon">{{records.ValidRecords}}</span> </td>
                                                    <td> <span class="spancommon">{{records.ErrorRecords}}</span> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-center mt-2" *ngIf="errorRecords.length==0">
                                        <button class="custom-btn btn-7 maan-button-data mx-2" (click)="updateEmployeeRecordsTable()">Move Records</button>
                                    </div>
                                    <ng-container *ngIf="errorRecords.length!=0">
                                        <div class="d-flex justify-content-between maan-grid-item maan-grid-item-title">
                                            <div class="headcommon" >
                                                <span><i class="fas fa-users mx-1 mt-3"></i></span>
                                                <span class="spancommon span_font_size" style="font-weight:600">Error  Details</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-xl-12" >
                                            <table class="table" id="capture_table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                                        <th scope="col"><span class="spancommon">Passenger Name</span></th>
                                                        <th scope="col"><span class="spancommon">Date Of Birth</span></th>
                                                        <th scope="col"><span class="spancommon">Relation</span></th>
                                                        <th scope="col"><span class="spancommon">Error Reason</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let records of errorRecords|paginate:{itemsPerPage: 5, currentPage:j , id:'j'};let i=index">
                                                        <th scope="row">{{i+1}}</th>
                                                        <td><span class="spancommon">{{records.FirstName}}&nbsp;{{records.LastName}}</span></td>
                                                        <td> <span class="spancommon">{{records.DateOfBirth}}</span> </td>
                                                        <td> <span class="spancommon">{{records.Relation}}</span> </td>
                                                        <td> <span class="spancommon">{{records.ErrorDesc}}</span> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <pagination-controls (pageChange)="j=$event"  id="j"></pagination-controls>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="historyRecordsList.length==0 && !editSection && !showgrid"><!--&& !showgrid-->
                        <div class="text-center">
                                No Passenger Records Available
                        </div>
                    </div>
                    <div class="row" *ngIf="editSection">
                        <div class="col-md-8 col-lg-8 col-xl-8 offset-2">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">First Name</label><span class="text-danger">*</span>
                                        <div class="input-form-box">
                                            <input type="text" [(ngModel)]="PassengerFirstName" maxlength="100" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Last Name</label><span class="text-danger">*</span>
                                        <div class="input-form-box">
                                            <input type="text" [(ngModel)]="PassengerLastName" maxlength="100" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class='col-md-4 col-lg-4 col-xl-4' *ngIf="PassengerId==null">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Type</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" [items]="passengerCountList" appendTo="body" [(ngModel)]="GroupId" bindValue="GroupId" bindLabel="GroupDesc">
                                        </ng-select>
                                        <div class="input-form-error">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Gender</label>
                                        <div class="input-form-radio-box">
                                            <div class="radio-toolbar">
                                                <input id="claims_Yes" type="radio" name="HavePromoCode" (change)="getRelationshipList('change')" [(ngModel)]="GenderId" value="M">
                                                <label for="claims_Yes" class="yes">Male</label>
                                                <input id="claims_No" type="radio" name="HavePromoCode"  (change)="getRelationshipList('change')" [(ngModel)]="GenderId" value="F">
                                                <label for="claims_No" class="no">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-lg-4 col-xl-4'>
                                    <div class="input-control-container">
                                        <label class="input-form-label">RelationShip</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" [disabled]="historyRecordsList.length==0 || PassengerId=='1'" [items]="relationShipList" appendTo="body" [(ngModel)]="RelationId" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                        <div class="input-form-error">
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-lg-4 col-xl-4'>
                                    <label class="input-form-label">Date Of Birth</label><span class="text-danger">*</span>
                                    <mat-form-field appearance="fill">
                                        <input matInput [matDatepicker]="picker" [max]="minDate" [(ngModel)]="Dob" [ngModelOptions]="{standalone: true}">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class='col-md-4 col-lg-4 col-xl-4'>
                                    <div class="input-control-container">
                                        <label class="input-form-label">Nationality</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" [items]="countryList" appendTo="body" [(ngModel)]="Nationality" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                        <div class="input-form-error">
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 col-lg-4 col-xl-4'>
                                    <div class="input-control-container">
                                        <label class="input-form-label">Passport No</label><span class="text-danger">*</span>
                                        <div class="input-form-box">
                                            <input type="text" [(ngModel)]="PassportNo" maxlength="50" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-2 mt-1">
                                <button class="btn btn-danger btn-sm mr-5" (click)="editSection=!editSection"> Cancel</button>&nbsp;&nbsp;
                                <button class="btn btn-primary btn-sm" (click)="onSavePassengerRow()"> Save</button>
                            </div>
                        </div>
                        <!-- <div class="col-md-5 col-lg-5 col-xl-5" *ngIf="historyRecordsList.length!=0">
                            <div class="row" >
                                <div class="col-md-10 col-lg-10 col-xl-10 offset-1">
                                    <app-grid-table [cols]="customerHeader" [data]="historyRecordsList" [filterValue]="filterValue" (onEdit)="onEditPassenger($event)" (onDelete)="onDeletePassenger($event)">
                                    </app-grid-table>  
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        
            <!-- <div class="maan-grid-item mt-2" id="slider_0" *ngIf="passengerSection">
                <div class="maan-grid-item-title">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                    <i class="fas fa-car mx-1"></i>
                            </span> Passenger Details
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="maan-grid-item-body" *ngFor="let passenger of PassengerDetails|paginate:{itemsPerPage: 3, currentPage:p,id: 'p'} ;let i=index">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button class="btn btn-warning" disabled *ngIf="passenger.GroupId=='1'"> <span class="mx-1"><i class="fas fa-user mx-1"></i></span>Kid Section (3Months - 18Yrs)</button>
                            <button class="btn btn-dark" disabled *ngIf="passenger.GroupId=='2'"><span class="mx-1"><i class="fas fa-user mx-1"></i></span>Adult Section (19Yrs - 65Yrs)</button>
                            <button class="btn btn-secondary" disabled *ngIf="passenger.GroupId=='3'"><span class="mx-1"><i class="fas fa-user mx-1"></i></span>Senior Section (66Yrs - 75Yrs)</button>
                            <button class="btn btn-info" disabled *ngIf="passenger.GroupId=='4'"><span class="mx-1"><i class="fas fa-user mx-1"></i></span>Super Senior Section (76Yrs - 80Yrs)</button>
                            <button class="btn btn-danger" disabled *ngIf="passenger.GroupId=='5'"><span class="mx-1"><i class="fas fa-user mx-1"></i></span>Grand Senior Section (81Yrs - 110Yrs)</button>
                        </div>
                        <div>
                            <ng-container *ngIf="(passenger.GroupId=='1' && kidTrashSection) || (passenger.GroupId=='2' && adultTrashSection) || (passenger.GroupId=='3' && seniorTrashSection) || (passenger.GroupId=='4' && superSeniorTrashSection) || (passenger.GroupId=='5' && grandSeniorTrashSection)">
                                <button class="btn btn-warning" (click)="onDeletePassenger(passenger)"> <span class="mx-1"><i class="fas fa-trash mx-1"></i></span>Delete</button>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row p-0 mt-2">
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="input-control-container">
                                <label class="input-form-label">First Name</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" [(ngModel)]="passenger.PassengerFirstName" class="input-form-control without-icon">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="input-control-container">
                                <label class="input-form-label">Last Name</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" [(ngModel)]="passenger.PassengerLastName" class="input-form-control without-icon">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="input-control-container">
                                <label class="input-form-label">Gender</label>
                                <div class="input-form-radio-box">
                                    <div class="radio-toolbar">
                                        <input [id]="'claims_Yes'+i" type="radio" [name]="'HavePromoCode'+i" (change)="getRelationshipList(i)" [(ngModel)]="passenger.GenderId" value="M">
                                        <label [for]="'claims_Yes'+i" class="yes">Male</label>
                                        <input [id]="'claims_No'+i" type="radio" [name]="'HavePromoCode'+i"  (change)="getRelationshipList(i)" [(ngModel)]="passenger.GenderId" value="F">
                                        <label [for]="'claims_No'+i" class="no">Female</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="input-control-container">
                                <label class="input-form-label">RelationShip</label><span class="text-danger">*</span>
                                <ng-select class="input-form-select" [items]="passenger.relationship" appendTo="body" [(ngModel)]="passenger.RelationId" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                                <div class="input-form-error">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                            <label class="input-form-label">Date Of Birth</label><span class="text-danger">*</span>
                            <mat-form-field appearance="fill">
                                <input matInput [matDatepicker]="picker" [min]="passenger.minDate" [max]="passenger.maxDate" (dateChange)="onDobChange(i)" [(ngModel)]="passenger.Dob" [ngModelOptions]="{standalone: true}">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="input-control-container">
                                <label class="input-form-label">Nationality</label><span class="text-danger">*</span>
                                <ng-select class="input-form-select" [items]="countryList" appendTo="body" [(ngModel)]="passenger.Nationality" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                                <div class="input-form-error">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="input-control-container">
                                <label class="input-form-label">Passport No</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" [(ngModel)]="passenger.PassportNo" maxlength="50" class="input-form-control without-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <pagination-controls (pageChange)="p=$event"  id="p"></pagination-controls>
                  </div>
            </div> -->
        
        <div class="text-center mt-2" *ngIf="!editSection">
            <button class="custom-btn btn-5 maan-btn-red mx-2" matRipple [routerLink]="['/Home/existingQuotes/customerSelection/customerDetails/excess-discount']" routerLinkActive="router-link-active" matRipple (click)="onGetBack()"><<&nbsp;Back</button>
            <button class="custom-btn btn-8 mx-2" *ngIf="historyRecordsList.length!=0 && !enableEmployeeUploadSection" (click)="onFinalSavePassemgers('save')">Save & Proceed</button>
            <button class="custom-btn btn-6 mx-2" *ngIf="historyRecordsList.length!=0 && !enableEmployeeUploadSection" (click)="onFinalSavePassemgers('proceed')">Proceed</button>
        </div>
    </div>
</div>