<div class="card" style="border: 0.5 px solid #fff !important;">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="spancommon">
                Quote Details
            </div>
            <div>
                <ng-container *ngIf="quoteRefNo">
                    <b class="spancommon" style="letter-spacing: 1px;">RefNo - {{quoteRefNo}}</b>
                </ng-container>
                <ng-container *ngIf="quoteNo">
                    | &nbsp; <b class="spancommon" style="letter-spacing: 1px;">Quote No - {{quoteNo}}</b>
                </ng-container>
            </div> 
        </div>
    </div>
    <div class="maan-grid-item-body p-1 customBody" style="background-color:#F5F5F5 !important;">

        <div class="row">
            <!-- <div class="p-4 col-12 col-md-4" *ngIf="referenceNo">
                <b>CustomerRefNo - {{referenceNo}}</b>
            </div> -->
            <div class="p-2 col-12 col-md-3 offset-9">
                <ng-template #card>
                    <div class="popover-card">
                        <div status="warning">
                            Hello!
                        </div>
                        <div>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        </div>
                    </div>
                </ng-template>
                <ng-template #vehicleCard>
                    <div class="popover-card customTemplate">
                        <div status="warning">
                            Vehicle Details
                        </div>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Engine Number
                                        </div>
                                        <div>
                                            {{vehicleDetails?.EngineNumber}}
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Registration Number
                                        </div>
                                        <div>
                                            {{vehicleDetails?.Registrationnumber}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Chassis Number
                                        </div>
                                        <div>
                                            {{vehicleDetails?.ReqChassisNumber}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Body Type
                                        </div>
                                        <div>
                                            {{vehicleDetails?.VehicleType}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Vehicle Usage
                                        </div>
                                        <div>
                                            {{vehicleDetails?.Motorusage}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Make
                                        </div>
                                        <div>
                                            {{vehicleDetails?.Vehiclemake}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Model
                                        </div>
                                        <div>
                                            {{vehicleDetails?.Vehcilemodel}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Seating Capacity
                                        </div>
                                        <div>
                                            {{vehicleDetails?.SeatingCapacity}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Manufacture Year
                                        </div>
                                        <div>
                                            {{vehicleDetails?.ManufactureYear}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            FuelType
                                        </div>
                                        <div>
                                            {{vehicleDetails?.FuelType}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Gross Weight
                                        </div>
                                        <div>
                                            {{vehicleDetails?.Grossweight}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            Tare Weight
                                        </div>
                                        <div>
                                            {{vehicleDetails?.Tareweight}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <!-- <button class="custom-btn btn-6 mx-2 w-100 mt-2" matRipple [nbPopover]="card"><i class="fas fa-eye mx-1"></i>Customer Details</button> -->
            </div>

            <!-- <div class="p-2 col-12 col-md-2" *ngIf="vehicleDetails">
                <button class="custom-btn btn-6 mx-2 w-100 mt-2" matRipple [nbPopover]="vehicleCard"><i class="fas fa-eye mx-1"></i>Vehicle Details</button>
            </div> -->
            <!-- <div class="p-2 col-12 col-md-3 mt-2" *ngIf="vehicleDetails">
                <b>Chassis No - {{vehicleDetails?.Chassisnumber}}</b>
            </div> -->
        </div>
        <div class="container-fluid">
            <div class="hh-grayBox" *ngIf="(productId!='4' && productId!='3') && showStepperSection ">
                <div class="row justify-content-between" *ngIf="subUserType!='B2C'">
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('customerDetails')}" (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/customer-details')">
                        <span class="is-complete"></span>
                        <!-- <p class="smalldevices">Risk Details</p>
                        <p class="smaldevicestepper"> 2 </p> -->
                        <p class="smalldevices">Customer Details</p>
                        <p class="smaldevicestepperss"> 1 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" *ngIf="vehicleDetailSection" [ngClass]="{completed: checkRouting('motorDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/motor-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Motor Details</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 8 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('riskDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/vehicle-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Risk Details</p>
                        <p class="smaldevicestepperss"> 2 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('coverDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/excess-discount')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Cover Details</p>
                        <p class="smaldevicestepperss"> 3 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('premiumDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/premium-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Document Details</p>
                        <p class="smaldevicestepperss"> 4 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('paymentDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/make-payment')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Make Payment</p>
                        <p class="smaldevicestepperss"> 5 </p>
                    </div>
                </div>
                <div class="row justify-content-between" *ngIf="subUserType=='B2C'">
                    <div class="order-tracking" [class.tracking-b2c-width-alt]="additionalSection || customerSection" [class.tracking-b2c-width]="!additionalSection && !customerSection" [ngClass]="{completed: checkRouting('customerDetails')}" (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/customer-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Policy Details</p>
                        <p class="smaldevicestepperss"> 1 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-b2c-width-alt]="additionalSection || customerSection" [class.tracking-b2c-width]="!additionalSection && !customerSection" [ngClass]="{completed: checkRouting('riskDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/vehicle-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Risk Details</p>
                        <p class="smaldevicestepperss"> 2 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-b2c-width-alt]="additionalSection || customerSection" [class.tracking-b2c-width]="!additionalSection && !customerSection" [ngClass]="{completed: checkRouting('coverDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/excess-discount')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Cover Details</p>
                        <p class="smaldevicestepperss"> 3 </p>
                    </div>
                    <ng-container *ngIf="customerSection">
                        <div class="order-tracking tracking-b2c-width-alt" [ngClass]="{completed: activeStep !='UW-stepper' && activeStep !='Motor-stepper'  && activeStep !='UserDetails-stepper' && activeStep !='Excess-stepper' && activeStep !='Customer-stepper' && activeStep !='Vehicle-stepper' && activeStep !='Domestic-stepper' }"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/userDetails')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Customer Details</p>
                        <p class="smaldevicestepperss"> 4 </p>
                    </div>
                    </ng-container>
                    <ng-container *ngIf="!customerSection && additionalSection">
                        <div class="order-tracking tracking-b2c-width-alt" [ngClass]="{completed: activeStep !='UW-stepper' && activeStep !='Motor-stepper'  && activeStep !='UserDetails-stepper' && activeStep !='Customer-stepper' && activeStep !='Excess-stepper' && activeStep !='Vehicle-stepper' && activeStep !='Domestic-stepper'}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/premium-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Additional Details</p>
                        <p class="smaldevicestepperss"> 5 </p>
                    </div>
                    </ng-container>
                   
                    
                    <div class="order-tracking" [class.tracking-b2c-width-alt]="additionalSection || customerSection" [class.tracking-b2c-width]="!additionalSection && !customerSection" [ngClass]="{completed: checkRouting('premiumDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/premium-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Document Details</p>
                        <p class="smaldevicestepperss"> 4 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-b2c-width-alt]="additionalSection || customerSection" [class.tracking-b2c-width]="!additionalSection && !customerSection" [ngClass]="{completed: checkRouting('paymentDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/make-payment')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Make Payment</p>
                        <p class="smaldevicestepperss"> 5 </p>
                    </div>
                    
                </div>
            </div>
            <div class="hh-grayBox" *ngIf="productId=='4'">
                <div class="row justify-content-between">
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('customerDetails')}" (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/customer-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Risk Details</p>
                        <p class="smaldevicestepperss"> 1 </p>
                    </div>
                    <!-- <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" *ngIf="vehicleDetailSection" [ngClass]="{completed: activeStep !='Motor-stepper' && activeStep !='Customer-stepper'}"
                    (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/motor-details')">
                        <span class="is-complete"></span>
                        <p>Vehicle Details</p>
                    </div> -->
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('coverDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/excess-discount')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Cover Details</p>
                        <p class="smaldevicestepper"> 2 </p>
                    </div>
                     <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('passengerDetails')}"
                        (click)="ontap('/Travel/customerDetails/premium-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Passenger Details</p>
                        <p class="smaldevicestepper"> 3 </p>
                    </div>

                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('premiumDetails')}"
                        (click)="ontap('/Travel/customerDetails/premium-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Document Details</p>
                        <p class="smaldevicestepper"> 4 </p>
                    </div>
                    <div class="order-tracking" [class.tracking-first-width]="vehicleDetailSection" [class.tracking-second-width]="!vehicleDetailSection" [ngClass]="{completed: checkRouting('paymentDetails')}"
                        (click)="ontap('/Travel/customerDetails/make-payment')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Make Payment</p>
                        <p class="smaldevicestepper"> 5 </p>
                    </div>
                </div>
            </div>

            <div class="hh-grayBox" *ngIf="productId=='3'">
                <div class="row justify-content-between">
                    <div class="order-tracking domesticrisk" [ngClass]="{completed: checkRouting('customerDetails')}" (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/customer-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Customer Details</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 1 </p>
                    </div>
                    <div class="order-tracking domesticrisk" [ngClass]="{completed: checkRouting('riskDetails')}"
                     (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/domestic-quote-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Risk Details</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 2 </p>
                    </div>
                    <!--<div class="order-tracking domesticrisk" [ngClass]="{completed: activeStep !='UW-stepper' && activeStep !='Motor-stepper' && activeStep !='Vehicle-stepper' && activeStep !='Customer-stepper' && activeStep !='Domestic-stepper'}"
                      (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/underwriter-details')">
                      <span class="is-complete"></span>
                      <p>UnderWriter Questions</p>
                  </div>-->
                    <div class="order-tracking domesticrisk" [ngClass]="{completed: checkRouting('coverDetails')}"
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/excess-discount')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Cover Details</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 3 </p>
                    </div>
                    <div class="order-tracking domesticrisk" [ngClass]="{completed: checkRouting('additionalDetails')}" 
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/domestic-risk-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Policy Details</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 4 </p>
                    </div>
                    <div class="order-tracking domesticrisk" [ngClass]="{completed: checkRouting('premiumDetails')}"  
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/premium-details')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Document Details</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 5 </p>
                    </div>
                    <div class="order-tracking domesticrisk" [ngClass]="{completed: checkRouting('paymentDetails')}" 
                        (click)="ontap(null,'/Home/existingQuotes/customerSelection/customerDetails/make-payment')">
                        <span class="is-complete"></span>
                        <p class="smalldevices">Make Payment</p><!--class="smalldevices"-->
                        <p class="smaldevicestepperss"> 6 </p>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>