<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                Company Configuration
            </div>
            <div *ngIf="insuranceName">
                Company Name - <b>{{insuranceName}}</b>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="input-control-container">
                    <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <ng-select class="input-form-select" appendTo="body" [items]="companyList" [(ngModel)]="companyValue" bindValue="Code" bindLabel="CodeDescription">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="card p-1">
        <div class="vision-grid vision-grid-column-2">
            <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input id="menu8" type="radio" name="menu" value="Product" (click)="onRedirect('Product')" [(ngModel)]="activeMenu">
                    <label for="menu8">Products</label>
                    <!-- <input type="radio" id="menu2" name="menu" value="Region" (click)="onRedirect('Region')" [(ngModel)]="activeMenu">
                    <label for="menu2">Region</label> -->
                    <input type="radio" id="menu1" name="menu" value="Branch" (click)="onRedirect('Branch')" [(ngModel)]="activeMenu">
                    <label for="menu1">Branch</label>
                    <input type="radio" id="menu4" name="menu" value="Currency" (click)="onRedirect('Currency')" [(ngModel)]="activeMenu">
                    <label for="menu4">Currency</label>
                     <!-- <input type="radio" id="menu9" name="menu" value="Dropdown" (click)="onRedirect('Dropdown')" [(ngModel)]="activeMenu">
                    <label for="menu9">Dropdown Master</label>
                    
                    
                    
                    <input type="radio" id="menu3" name="menu" value="State" (click)="onRedirect('State')" [(ngModel)]="activeMenu">
                    <label for="menu3">State</label>
                    <input type="radio" id="menu4" name="menu" value="City" (click)="onRedirect('City')" [(ngModel)]="activeMenu">
                    <label for="menu4">City</label> -->
                    <input type="radio" id="menu5" name="menu" value="Mail" (click)="onRedirect('Mail')" [(ngModel)]="activeMenu">
                    <label for="menu5">Mail</label>
                    <input type="radio" id="menu6" name="menu" value="Sms" (click)="onRedirect('Sms')" [(ngModel)]="activeMenu">
                    <label for="menu6">SMS</label>
                    <!-- <input type="radio" id="menu7" name="menu" value="NotificationTemplate" (click)="onRedirect('NotificationTemplate')" [(ngModel)]="activeMenu">
                    <label for="menu7">Notification Template</label>  -->
                </div>
            </div>
            <div class="vision-grid-item">
                <div>
                    <div class="card-header">Currency Details</div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Currency Name<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.CurrencyName" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Currency Short Code<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.CurrencyShortCode" maxlength="100">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">SubCurrency Name</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.SubCurrency" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Currency Short Name</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.ShortName" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Core App Code</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.CoreAppCode" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Regulatory Code</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.RegulatoryCode" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Minimum Limit</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.ExMinlmt" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Maximum Limit</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.ExMaxlmt" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Minimum Discount<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.MinDiscount" maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Maximum Loading<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.MaxLoading" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">RFactor</label>
                                    <div class="input-form-box">
                                        <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.Rfactor" maxlength="100">
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-6 col-lg-6">
                              <div class="input-control-container">
                                  <label class="input-form-label">DecimalDigit<span class="text-required">*</span></label>
                                  <div class="input-form-box">
                                      <input type="text" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.DecimalDigit" maxlength="100">
                                  </div>
                              </div>
                          </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Status</label>
                                    <div class="input-form-radio-box">
                                        <div class="radio-toolbar">
                                            <input id="orginwarehouse_Pending" type="radio" name="originatingWarehouse" [(ngModel)]="CurrencyDetails.Status" value="P">
                                            <label for="orginwarehouse_Pending">Pending</label>
                                            <input id="orginwarehouse_Yes" type="radio" name="originatingWarehouse" [(ngModel)]="CurrencyDetails.Status" value="Y">
                                            <label for="orginwarehouse_Yes">Active</label>
                                            <input type="radio" id="orginwarehouse_No" name="originatingWarehouse" [(ngModel)]="CurrencyDetails.Status" value="N">
                                            <label for="orginwarehouse_No">DeActive</label>
                                            <input type="radio" id="orginwarehouse_Referral" name="originatingWarehouse" [(ngModel)]="CurrencyDetails.Status" value="R">
                                            <label for="orginwarehouse_Referral">Referral</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 mt-2">
                              <label class="input-form-label">Effective Date<span class="text-required">*</span></label>
                              <mat-form-field appearance="fill">
                                  <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="CurrencyDetails.EffectiveDateStart">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="row mt-2">
                            <!-- <div class="col-12 col-md-6 col-lg-6">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Effective Date<span class="text-required">*</span></label>
                                        <div class="input-form-box">
                                            <input type="date" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>-->

                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="input-control-container">
                                    <label class="input-form-label">Remarks<span class="text-required">*</span></label>
                                    <div class="input-form-box">
                                        <textarea cols="120" rows="2" class="input-form-control without-icon" [(ngModel)]="CurrencyDetails.Remarks" maxlength="200"></textarea>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-danger" (click)="ongetBack()">Back</button>
                            <button class="btn btn-success ml-2" (click)="onSaveCurrency()">Save</button>
                            <!--(click)="onProceed()-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
