<div class="container-fluid" style="overflow-y: scroll !important;max-height:100vh !important;">
    <div class="product-menubar">
        <ng-container  *ngIf="insuranceId == '100002' || insuranceId=='100015'">
            <div class="logo-img" style="background-color: #fff;">
                <img src="./assets/images/logo-2.png">
            </div>
        </ng-container>
        <ng-container *ngIf="insuranceId == '100004'">
            <div class="logo-img" style="background-color: #fff;">
                <img src="./assets/images/mgen-logo.png">
            </div>
        </ng-container>
        <div class="user-container">
    
            <div style="margin-right:50px;">
                <!--<a (click)="onLog(title)" style="color:blue;font-size:16px;font-weight:600;cursor:pointer;display:flex;text-decoration: underline;"> LogIn </a>-->
                <a class="productsidesection">{{loginId}} <span style="padding-left:10px;"> |</span></a>
            </div>
    
            <!--<img src="assets/images/nick.png">-->
            <div style="margin-left:-40px;">
                <a (click)="onLog('Log out')" class="productlogout"> LogOut </a>
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="row">
            <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                <div class="input-control-container" >
                    <label class="input-form-label">Search By</label><span class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [items]="searchList" [(ngModel)]="searchBy" bindValue="Code" bindLabel="Description">
                    </ng-select>
                </div>
                <div class="input-form-error" *ngIf="searchByError">
                    <div class="error-text  text-danger">
                        <span class="spancommon span_font_size">Please Select Search By</span>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                <div class="input-control-container" >
                    <label class="input-form-label">Search Value</label><span class="text-danger">*</span>
                    <div class="input-form-box">
                        <div class="input-group">
                            <input type="text" maxlength="100" (keypress)="omit_special_char($event)" class="input-form-control without-icon" [(ngModel)]="searchValue">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="onSearchPolicyData()"><i class="fa fa-search"></i></button>&nbsp;&nbsp;
                            </div>
                          </div>
                        
                    </div>
                </div>
                <div class="input-form-error" *ngIf="searchValueError">
                    <div class="error-text  text-danger">
                        <span class="spancommon span_font_size">Please Enter Search Value</span>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-2 col-lg-2 col-xl-2" *ngIf="!searchBySection">
                <label class="input-form-label spancommon span_font_size">Start Date<span class="text-danger">*</span></label>
                <ng-container >
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="policyStartDate" (dateChange)="getProductDashboard()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </ng-container>
            </div>
            <div class="col-2 col-md-2 col-lg-2 col-xl-2" *ngIf="!searchBySection">
                <label class="input-form-label spancommon span_font_size">End Date<span class="text-danger">*</span></label>
                <ng-container >
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="policyEndDate" (dateChange)="getProductDashboard()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </ng-container>
            </div>
            
            <!-- <div class="col-2 col-md-2 col-lg-2 col-xl-2 mt-4" *ngIf="!searchBySection">
                <button class="btn btn-info" style="border-radius: 20px;" (click)="onSearchPolicy()"><i class="fa fa-search"></i> &nbsp; Search for Policy</button>
            </div> -->
        </div>
        <div class="row" *ngIf="!searchBySection">
            <div class="col-12 col-md-9 col-lg-9">
                <div class="grid">
                    <ng-container >
                        <div class="item master-cards" (click)="onShowPlanTypeDetails('OVERALL')" *ngIf="totalPolicy">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6>Total Policy</h6>
                                    <p></p>
                                </div>
                                <div>
                                    <button type="button" class="btn maan-btn-blue btn-circle2" ><b>{{totalPolicy}}</b></button>
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="bottom-row-item d-flex justify-content-end">
                                    <div >
                                        <span><b>{{OverAllPremium}}&nbsp;({{currencyCode}})</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item master-cards" (click)="onShowPlanTypeDetails('ACTIVE')" *ngIf="activeCount">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6>Active Policy</h6>
                                    <p></p>
                                </div>
                                <div>
                                    <button type="button" class="btn maan-btn-blue btn-circle2" ><b>{{activeCount}}</b></button>
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="bottom-row-item d-flex justify-content-end">
                                    <div >
                                        <span><b>{{activePremium}}&nbsp;({{currencyCode}})</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item master-cards" (click)="onShowPlanTypeDetails('EXPIRED')" *ngIf="expiryCount">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6>Expired Policy</h6>
                                    <p></p>
                                </div>
                                <div>
                                    <button type="button" class="btn maan-btn-blue btn-circle2" ><b>{{expiryCount}}</b></button>
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="bottom-row-item d-flex justify-content-end">
                                    <div >
                                        <span><b>{{expiryPremium}}&nbsp;({{currencyCode}})</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="item master-cards" (click)="onShowPlanTypeDetails('commission')">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6>Commission Policy</h6>
                                    <p></p>
                                </div>
                                <div>
                                    <button type="button" class="btn maan-btn-blue btn-circle2" ><b>1</b></button>
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="bottom-row-item d-flex justify-content-end">
                                    <div >
                                        <span><b>2275.00 (TZS)</b></span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </ng-container>
                    <ng-container *ngIf="totalPolicy==null && activeCount==null && expiryCount==null && policyStartDate!=null">
                            <div class="text-center">
                                <b>No Data Available</b>
                            </div>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <div class="row mt-2" *ngIf="searchSection">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                <ng-container *ngIf="typeValue=='OVERALL'">Total Policy Details</ng-container>
                                <ng-container *ngIf="typeValue=='ACTIVE'">Active Policy Details</ng-container>
                                <ng-container *ngIf="typeValue=='EXPIRED'">Expired Policy Details</ng-container>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                            
                            <div class="row" *ngIf="planRecordsList.length!=0">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <app-grid-table [cols]="planTypeHeader" [Currency]="currencyCode" [data]="planRecordsList" [filterValue]="filterValue" (countBasedPolicy)="getCountBasedPolicyList($event)">
                                    </app-grid-table>
                                </div>
                            </div>
                            <div class="card-header mt-2" *ngIf="countBasedRecords.length!=0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        Count Based Details
                                    </div>
                                    <div>
                                        <ng-container *ngIf="planName">
                                                <b>Plan Name - {{planName}}</b>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="countBasedRecords.length!=0">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <app-grid-table [cols]="countHeader" [Currency]="currencyCode" [data]="countBasedRecords" [filterValue]="filterValue">
                                    </app-grid-table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2" *ngIf="searchedDataSection && !searchSection">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                Search Results
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                            
                            <div class="row" *ngIf="searchedList.length!=0">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                    <app-grid-table [cols]="searchedHeader" [data]="searchedList" [filterValue]="filterValue" (onView)="GetSchedule($event)">
                                    </app-grid-table>
                                </div>
                                <div class="text-center mt-2" *ngIf="searchBySection">
                                    
                                    <button class="btn btn-danger" (click)="onCancelSearch()">&nbsp;Back</button>
                                </div>
                            </div>
                            <div class="text-center" *ngIf="searchedList.length==0">
                                        <b>No Data Available</b>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>