@media screen and (min-width: 750px) and (max-width: 20000px) {
    .display2{
        display:none;
    }
  }
  
  @media screen and (min-width: 280px) and (max-width: 750px) {
    .display1{ display: none; } 
    .card{
      display: block;
      color: #897d7d;
      border: 2px solid #eaecf1;
      border-radius: 0.7rem;
      margin: 8px 0px;
      outline: none;
      box-sizing: border-box;
      transition: none !important;
      background: rgb(255,255,255);
      box-shadow: 1px 1px 1px #1f26875e;
      backdrop-filter: blur(18.5px);
      }
  }