
    <div class="col-12">
        <div class="maan-grid customer-grid maan-grid-column-1 p-0  mt-3">
            <div class="maan-grid-item" *ngIf="endorsementSection">
                <div class="maan-grid-item-title">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                    <i class="fas fa-user mx-1"></i>
                                </span>
                            <span class="spancommon">Endorsement Details</span>
                        </div>
                        <div>
                            <ng-container>
                                <!-- RefNo - {{customerDetails?.CustomerReferenceNo}} -->
                            </ng-container>

                        </div>
                    </div>

                </div>
                <div class="maan-grid-item-body">
                    <div class="row mt-1">
                        <div class="col-12 col-md-3 ">
                            <div class="input-control-container">
                                <label class="input-form-label">Original Policy No</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{orgPolicyNo}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 ">
                            <div class="input-control-container">
                                <label class="input-form-label">Endorsement Policy No</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{endorsePolicyNo}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 ">
                            <div class="input-control-container">
                                <label class="input-form-label">Endorsement Category</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{endorseCategory}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="input-control-container">
                                <label class="input-form-label">Endorsement Name</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{endorsementName}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="maan-grid-item"   *ngIf="customerDetails">
                <div class="maan-grid-item-title" style="margin: 0px !important;top:0rem;bottom: 0rem !important;padding-top: 9px !important;">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                    <i class="fas fa-user mx-1"></i>
                                </span>
                            <span class="spancommon">Customer Details</span>
                        </div>
                        <div>
                            <ng-container>
                                <!-- RefNo - {{customerDetails?.CustomerReferenceNo}} -->
                            </ng-container>

                        </div>
                    </div>

                </div>
                <div class="maan-grid-item-body customerdetails">
                    <!--style="padding-left: 70px !important;padding-right: 40px !important;"-->
                    <div class="row mt-1">
                        <div class="col-12 col-md-3 ">
                            <div class="input-control-container">
                                <label class="input-form-label">Customer Name</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{title}} &nbsp; {{clientName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="input-control-container">
                                <label class="input-form-label">Customer ID</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{idNumber}}</span>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="input-control-container">
                                <label class="input-form-label">Customer Type</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{clientType}}</span>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="input-control-container">
                                <label class="input-form-label">Mobile Number</label>
                                <div class="input-form-radio-box">
                                    <span class="spancommon span_font_size">{{mobileNo}}</span>

                                </div>
                            </div>
                        </div>
                    
                </div>
                </div>
            </div>
            <div class="maan-grid-item" id="slider_0" *ngIf="motorDetails && !finalSection">
                <div class="display1">
                <div class="maan-grid-item-title">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                <i class="fas fa-car mx-1"></i>
                            </span>
                            <span style="font-family: var(--our-font-family-new) !important;">Motor Details</span>
                        </div>
                        <div>
                            <ng-container>
                                <span class="spancommon">Registration No- {{motorDetails?.Registrationnumber}} | Chassis No - {{motorDetails?.Chassisnumber}}</span>
                            </ng-container>
                        </div>
                    </div>

                </div>
               </div>
               <div class="display2" style="font-size: 17px;
               background-color: #fff!important;
               color: #000;font-weight: 600;">
                 <div class="row mt-2 ml-4" style="border-bottom: 2px solid #333b85;">
                    <span>
                        <i class="fas fa-car mx-1"></i>
                        <span style="font-family: var(--our-font-family-new) !important;">Motor Details</span>
                    </span>
                 </div>
                 <div class="mt-2 ml-4">
                    <ng-container>
                        <span class="spancommon">Registration No- {{motorDetails?.Registrationnumber}}</span>
                    </ng-container>
                 </div>
               </div>
                <div class="maan-grid-item-body">
                    <ul class="list-group motordetails">
                        <!--style="padding-left: 70px !important;padding-right: 20px !important;"-->
                        <li class="customList">
                            <div class="row mt-1">
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Make</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.Vehiclemake}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Model</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.Vehcilemodel}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Body Type</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.VehicleType}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Vehicle Usage</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.Motorusage}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="customList">
                            <div class="row mt-1">
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Motor Category</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.MotorCategory}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Engine No</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.EngineNumber}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Engine Capacity</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.ResEngineCapacity}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Manufacture Year</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.ManufactureYear}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="customList">
                            <div class="row mt-1">
                                <div class="col-12 col-md-3 ">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Owner Categry</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.OwnerCategory}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Seating Capacity</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.SeatingCapacity}}</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Gross Weight</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.Grossweight}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Tare Weight</label>
                                        <div class="input-form-radio-box">
                                            <span class="spancommon span_font_size">{{motorDetails?.Tareweight}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
               
                </div>
            </div>
            <div class="maan-grid-item" id="slider_0">
                <ng-container *ngIf="vehicleDetailsList.length!=0">
                    <div class="maan-grid-item-title">
                        <span class="mx-1">
                            <i class="fas fa-book mx-1"></i>
                        </span>
                        <span style="font-family: var(--our-font-family-new) !important;">Policy Details</span>
                    </div>
                    <div>
                        <div class="maan-grid-item-body smallclass">
                            <!--style="padding-left: 40px !important;padding-right: 40px !important;"-->
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container policyfield">
                                        <!--style="padding-left: 40px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Insurance Type</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="typeList" [(ngModel)]="typeValue" (change)="getMotorTypeList('change',null,null)" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container policyfield2">
                                        <!-- style="padding-left: 20px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Insurance Class</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="classList" [(ngModel)]="classValue" (change)="onChangeClassType()" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container smallclass">
                                        <!--style="padding-left: 40px !important;padding-right: 40px !important;"-->
                                        <label class="input-form-label">Body Type</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="motorTypeList" [(ngModel)]="bodyTypeValue" (change)="onChangeBodyType()" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container policyfield">
                                        <!--style="padding-left: 40px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Motor Usage</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="motorUsageList" [(ngModel)]="motorUsageValue" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="input-control-container policyfield2">
                                        <!--style="padding-left: 20px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Claims YN?</label>
                                        <div class="input-form-radio-box">
                                            <div class="radio-toolbar">
                                                <input id="claims_Yes" type="radio" name="claimsYN" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="claimsYN" value="Y">
                                                <label for="claims_Yes" class="yes">Yes</label>
                                                <input id="claims_No" type="radio" name="claimsYN" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="claimsYN" value="N">
                                                <label for="claims_No" class="no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4 smallclass">
                                    <!--style="padding-left: 40px !important;padding-right: 40px !important;"-->
                                    <div class="input-control-container" *ngIf="typeValue=='10'">
                                        <label class="input-form-label">GPS Tracking Enabled?</label>
                                        <div class="input-form-radio-box">
                                            <div class="radio-toolbar">
                                                <input id="orginwarehouse_Yes" type="radio" name="gpsTracking" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="gpsYn" value="Y">
                                                <label for="orginwarehouse_Yes" class="yes">Yes</label>
                                                <input id="orginwarehouse_No" type="radio" name="gpsTracking" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="gpsYn" value="N">
                                                <label for="orginwarehouse_No" class="no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
    
                            <div class="row">
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container policyfield">
                                        <!--style="padding-left: 40px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Vehicle Sum Insured ({{currencyValue}}) &nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableVehicleSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="vehicleSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="CommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container policyfield2">
                                        <!--style="padding-left: 20px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Accessories Sum Insured ({{currencyValue}})</label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableAccessoriesSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="accessoriesSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="accessoriesCommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container smallclass">
                                        <!--style="padding-left: 40px !important;padding-right: 40px !important;"!-->
                                        <label class="input-form-label">WindShield Sum Insured ({{currencyValue}})</label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableWindshieldSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="windShieldSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="WindSICommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container policyfield">
                                        <!--style="padding-left: 40px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">Extended TPPD Sum Insured ({{currencyValue}})</label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableTppdSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="tppdSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="TppdCommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container " [ngClass]="(classValue=='1' || classValue=='2')? 'policyfield2':'policyfield'">
                                        <!--style="padding-left: 20px !important;padding-right: 20px !important;"-->
                                        <label class="input-form-label">TIRA Cover Note No (If Exist)</label>
                                        <div class="input-form-box">
                                            <input type="text" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="tiraCoverNoteNo" autocomplete="off" maxlength="15" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="display2">
                        <div class="maan-grid-item-body">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Insurance Type</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="typeList" [(ngModel)]="typeValue" (change)="getMotorTypeList('change',null,null)" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Insurance Class</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="classList" [(ngModel)]="classValue" (change)="onChangeClassType()" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Body Type</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="motorTypeList" [(ngModel)]="bodyTypeValue" (change)="onChangeBodyType()" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 ">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Motor Usage</label><span class="text-danger">*</span>
                                        <ng-select class="input-form-select" appendTo="body" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [items]="motorUsageList" [(ngModel)]="motorUsageValue" bindValue="Code" bindLabel="CodeDesc">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Claims YN?</label>
                                        <div class="input-form-radio-box">
                                            <div class="radio-toolbar">
                                                <input id="claims_Yes" type="radio" name="claimsYN" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="claimsYN" value="Y">
                                                <label for="claims_Yes" class="yes">Yes</label>
                                                <input id="claims_No" type="radio" name="claimsYN" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="claimsYN" value="N">
                                                <label for="claims_No" class="no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <div class="input-control-container" *ngIf="typeValue=='10'">
                                        <label class="input-form-label">GPS Tracking Enabled?</label>
                                        <div class="input-form-radio-box">
                                            <div class="radio-toolbar">
                                                <input id="orginwarehouse_Yes" type="radio" name="gpsTracking" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="gpsYn" value="Y">
                                                <label for="orginwarehouse_Yes" class="yes">Yes</label>
                                                <input id="orginwarehouse_No" type="radio" name="gpsTracking" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="gpsYn" value="N">
                                                <label for="orginwarehouse_No" class="no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
    
                            <div class="row">
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Vehicle Sum Insured ({{currencyValue}}) &nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableVehicleSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="vehicleSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="CommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Accessories Sum Insured ({{currencyValue}})</label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableAccessoriesSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="accessoriesSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="accessoriesCommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container">
                                        <label class="input-form-label">WindShield Sum Insured ({{currencyValue}})</label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableWindshieldSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="windShieldSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="WindSICommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4" *ngIf="classValue=='1' || classValue=='2'">
                                    <div class="input-control-container">
                                        <label class="input-form-label">Extended TPPD Sum Insured ({{currencyValue}})</label>
                                        <div class="input-form-box">
                                            <input type="text" digitOnly [disabled]="((endorsementSection && !enableTppdSI) && (endorsementSection && !enableFieldsSection)) || checkDisableField()" [(ngModel)]="tppdSI" autocomplete="off" (keydown)="onVehicleValueChange($event)" (keyup)="TppdCommaFormatted()" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label">TIRA Cover Note No (If Exist)</label>
                                        <div class="input-form-box">
                                            <input type="text" [disabled]="(endorsementSection && !enableFieldsSection) || checkDisableField()" [(ngModel)]="tiraCoverNoteNo" autocomplete="off" maxlength="15" class="input-form-control without-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </ng-container>
            </div>
            <div class="maan-grid-item" id="slider_0" *ngIf="!finalSection && vehicleDetailsList.length!=0">
                <div class="maan-grid-item-title">
                    <span class="mx-1">
                        <i class="fas fa-book mx-1"></i>
                    </span>
                    <span class="spancommon">Collateral Details</span>
                </div>
                <div class="maan-grid-item-body ">
                    <div class="row p-1">
                        <div class="col-12 col-md-4">
                            <label class="input-form-label d-flex">
                                <span class="mx-2" style="font-family: var(--our-font-family-new) !important;font-size: 1rem;">Collateral</span>
                                 <div class="custom-control custom-switch" style="position: relative;bottom: 0.3rem;">
                                   <input type="checkbox" class="custom-control-input" id="switch1" [disabled]="((endorsementSection && !enableCollateralDetails)) || checkDisableField()" [checked]="collateralYN =='Y'" (change)="onCollateralChange()" [(ngModel)]="collateralValue">
                                   <label class="custom-control-label" for="switch1"></label>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="collateralYN=='Y'">
                        <div class="col-12 col-md-4">
                            <div class="input-control-container">
                                <label class="input-form-label">Borrower Type</label><span class="text-danger">*</span>
                                <ng-select class="input-form-select" appendTo="body" [items]="borrowerList" [disabled]="((endorsementSection && !enableCollateralDetails)) || checkDisableField()" [(ngModel)]="borrowerValue" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" *ngIf="borrowerValue=='2'">
                            <div class="input-control-container">
                                <label class="input-form-label">Collateral Name</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" maxlength="50" class="input-form-control without-icon" [disabled]="((endorsementSection && !enableCollateralDetails)) || checkDisableField()" [(ngModel)]="collateralName">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" *ngIf="borrowerValue=='1'">
                            <div class="input-control-container">
                                <label class="input-form-label">Collateral Bank Name</label><span class="text-danger">*</span>
                                <ng-select class="input-form-select" appendTo="body" [items]="bankList" [disabled]="(endorsementSection && !enableCollateralDetails) || checkDisableField()" [(ngModel)]="collateralName" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="input-control-container">
                                <label class="input-form-label">First Loss Payee</label><span class="text-danger">*</span>
                                <div class="input-form-box">
                                    <input type="text" [(ngModel)]="firstLossPayee" [disabled]="(endorsementSection && !enableCollateralDetails) || checkDisableField()" class="input-form-control without-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-1 mb-1" *ngIf="vehicleDetailsList.length!=0 && vehicleDetailsList.length!=1">
                        <button class="custom-btn btn-5 mx-2" *ngIf="currentIndex!=1 || finalSection" matRipple (click)="onPreviousVehicle()"><i class="fa fa-arrow-left"></i>&nbsp;Previous</button>
                        <ng-container *ngIf="currentIndex<totalCount || currentIndex==totalCount">&nbsp;<span> {{currentIndex}} &nbsp;/&nbsp; {{totalCount}} </span>&nbsp;</ng-container>
                        <button class="custom-btn btn-6  maan-button-data mx-2" *ngIf="currentIndex<totalCount" matRipple (click)="onFormSubmit('direct')">Next <i class="fa fa-arrow-right"></i></button>
                        <button class="custom-btn btn-6  maan-button-data mx-2" *ngIf="currentIndex==totalCount && !finalSection" matRipple (click)="onFormSubmit('proceedSave')">Submit</button>
                    </div>
                </div>
            </div>
        
        <div class="maan-grid-item" *ngIf="uwQuestionList.length!=0">
            <div class="maan-grid-item-title">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="mx-1">
                                <i class="fas fa-user mx-1"></i>
                            </span>
                        <span class="spancommon">UnderWriter Questions</span>
                    </div>
                    <div class="row p-0" style="margin-right: 10px !important;">
                        <div class="customReferralBorder custombox"></div>&nbsp;-&nbsp;Referral
                    </div>
                </div>

            </div>
            <div class="maan-grid-item-body">
                <ng-container *ngIf="questionSection">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <ul class="list-group list-group-flush">
                                <ng-container  *ngFor="let ques of uwQuestionList;let i=index">
                                    <li class="list-group-item" [hidden]="checkHideQUestion(ques)">
                                        <div class="row p-0 w-100 customRow">
                                            <div class="col-md-8 col-lg-8 col-xl-8 mt-3 customFont">
                                                <span class="spancommon span_font_size">{{ques.UwQuestionDesc}}</span>
    
                                                <ng-container *ngIf="ques.MandatoryYn=='Y'"> &nbsp;<span class="text-danger">*</span></ng-container>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ng-container *ngIf="ques?.QuestionType=='01'">
                                                    <div class="input-control-container">
                                                        <div class="input-form-radio-box">
                                                            <div class="radio-toolbar">
                                                                <ng-container *ngFor="let option of ques.Options">
                                                                        <input [id]="option.UwQuesOptionDesc+i"  type="radio" [name]="'UwQuesOptionDesc'+i" [disabled]="endorsementSection" [checked]="ques.Value==option.UwQuesOptionDesc" (change)="onChangeUWValue(option,i,ques.Options)">
                                                                        <label [for]="option.UwQuesOptionDesc+i" [ngClass]="option.ReferralYn=='Y' && ques.Value!=option.UwQuesOptionDesc ?'customReferralBorder':'yes'">{{option.UwQuesOptionDesc}}</label>&nbsp;
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="ques?.QuestionType=='02' && ques?.DataType!='02'">
                                                    <div class="input-control-container">
                                                        <div class="input-form-box">
                                                            <input type="text" [(ngModel)]="ques.Value" [disabled]="(endorsementSection && !enableFieldsSection)" class="input-form-control without-icon">
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="ques?.QuestionType=='02' && ques?.DataType=='02'">
                                                    <div class="input-control-container">
                                                        <div class="input-form-box">
                                                            <input type="text" digitOnly [(ngModel)]="ques.Value" [disabled]="(endorsementSection && !enableFieldsSection)" class="input-form-control without-icon">
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                               
                            </ul>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="maan-grid-item" *ngIf="vehicleDetailsList.length!=0 && vehicleDetailsList.length!=1">
            <div class="maan-grid-item-title">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="mx-1">
                            <i class="fas fa-car mx-1"></i>
                        </span> <span class="spancommon">Vehicle to Insure</span>
                    </div>
                    <div *ngIf="!endorsementSection">
                        <!-- <button class="maan-btn maan-btn-blue maan-button-data ml-2" style="width: 8rem;" matRipple (click)="addSection=!addSection"><i class="fas fa-plus"></i>&nbsp;New Vehicle</button> -->
                    </div>
                </div>
            </div>
            <div class="maan-grid-item-body">
                <div class="row p-0 mt-2">
                    <div class="col-12 col-md-12">
                        <ng-container *ngIf="vehicleDetailsList.length!=0">
                            <app-grid-table [cols]="customerHeader" [data]="vehicleDetailsList" [Currency]="currencyValue" [filterValue]="filterValue" (onEdit)="onEditVehicle($event)" (onDelete)="onDeleteVehicleWish($event)">
                            </app-grid-table>
                        </ng-container>
                        <ng-container *ngIf="vehicleDetailsList.length==0">
                            <div class="text-center">
                                No Vehicle Available
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="maan-grid-item" *ngIf="addSection">
            <div class="maan-grid-item-title">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="mx-1">
                            <i class="fas fa-car mx-1"></i>
                        </span>
                        <span class="spancommon">Vehicle Search</span>
                    </div>
                    <div>
                        <button class="custom-btn btn-6 ml-1" matRipple (click)="onCreateVehicle()"><i class="fas fa-plus"></i>&nbsp;Create Vehicle Details</button>
                    </div>
                </div>
            </div>
            <div class="maan-grid-item-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="input-control-container">
                            <label class="input-form-label">Search By</label>
                            <ng-select class="input-form-select" style="position:relative;bottom: 0.29rem;" appendTo="body" [items]="searchList" [(ngModel)]="searchBy" bindValue="Code" bindLabel="CodeDesc">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="input-control-container">
                            <label class="input-form-label">Search Value</label>
                            <div class="input-form-box">
                                <input type="text" [(ngModel)]="searchValue" class="input-form-control without-icon">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="text-center" style="position: absolute;top: 2.2rem;">
                            <button class="custom-btn btn-5 maan-button-data" (click)="onSearchVehicle()" matRipple><i class="fas fa-search fa_search"></i>&nbsp;Search</button>
                            <button class="maan-btn-red mx-2 custom-btn btn-5" *ngIf="vehicleDetailsList.length!=0" matRipple (click)="addSection=!addSection">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10">
                        <ng-container *ngIf="customerData2.length!=0">
                            <app-grid-table [cols]="customerHeader2" [data]="customerData2" [filterValue]="filterValue" (onEdit)="onEditCovers($event)" (onSelectCustomer)="onSelectVehicle($event)">
                            </app-grid-table>
                        </ng-container>
                    </div>
                </div>
                <div class="text-center mb-2">
                    <button class="custom-btn btn-6 maan-button-data" style="width: 9rem;" matRipple *ngIf="selectedVehicle" (click)="onAddVehicleWishList()"><i class="fas fa-check fa_search"></i>&nbsp;Add to WishList</button>
                </div>
            </div>
        </div>
        <div class="text-center mb-2 mt-1">
            <button class="maan-btn-red mx-2 custom-btn btn-5" matRipple (click)="onGetBack()"><<&nbsp;Back</button>
            <button class="custom-btn btn-6 mx-2 maan-button-data" *ngIf="checkActiveVehicles()" matRipple (click)="onProceed()">Proceed</button>
        </div>
    </div>
    </div>