<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                Company Configuration
            </div>
            <div *ngIf="insuranceName">
                Company Name - <b>{{insuranceName}}</b>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="input-control-container">
                    <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                    <div class="input-form-box">
                        <ng-select class="input-form-select" appendTo="body" [items]="companyList" [(ngModel)]="companyValue" bindValue="Code" bindLabel="CodeDescription">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="card">
        <!-- <div class="vision-grid vision-grid-column-2"> -->
            <!-- <div class="vision-grid-item">
                <div class="radio-toolbar menu-bar">
                    <input id="menu8" type="radio" name="menu" value="Product" (click)="onRedirect('Product')" [(ngModel)]="activeMenu">
                    <label for="menu8">Products</label>
                   
                    <input type="radio" id="menu1" name="menu" value="Branch" (click)="onRedirect('Branch')" [(ngModel)]="activeMenu">
                    <label for="menu1">Branch</label>
                    <input type="radio" id="menu4" name="menu" value="Currency" (click)="onRedirect('Currency')" [(ngModel)]="activeMenu">
                    <label for="menu4">Currency</label>
        
                    <input type="radio" id="menu5" name="menu" value="Mail" (click)="onRedirect('Mail')" [(ngModel)]="activeMenu">
                    <label for="menu5">Mail</label>
                    <input type="radio" id="menu6" name="menu" value="Sms" (click)="onRedirect('Sms')" [(ngModel)]="activeMenu">
                    <label for="menu6">SMS</label>
            
                </div>
            </div> -->
            <!-- <div class="vision-grid-item"> -->
                <!-- <div class="card"> -->
                    <div class="card-header">Existing Currency</div>
                    <div class="card-body">
                        <!-- <div class="row">
                        <div class="col-md-4 ml-3">
                            <div class="input-control-container">
                                <label class="input-form-label">State</label>
                                <ng-select class="input-form-select" appendTo="body" [items]="stateList" [(ngModel)]="stateValue" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4 ml-3">
                            <div class="input-control-container">
                                <label class="input-form-label">City</label>
                                <ng-select class="input-form-select" appendTo="body" [items]="cityList" [(ngModel)]="cityValue" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                            </div>
                        </div>
                    </div> -->
                        <div class="row mb-2">
                            <div class="col-md-4 col-lg-4 col-xl-4 ml-3">
                                <div class="input-control-container">
                                    <label class="input-form-label">Insurance Company<span class="text-required">*</span></label>
                                    <ng-select class="input-form-select" appendTo="body" [(ngModel)]="insuranceId" (change)="getExistingCurrency('change')" [items]="insuranceList" bindValue="Code" bindLabel="CodeDesc">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4 col-lg-4 mt-4 offset-3">
                                <button class="btn btn-warning" (click)="onAddNew()">Add New Currency</button>
                            </div>


                        </div>
                        <ng-container *ngIf="currencyData">
                            <app-grid-table [cols]="currencyHeader" changeStatus="true" (OnStatus)="EditStatus($event)" [data]="currencyData" [filterValue]="filterValue" (onEdit)="onEditCurrency($event)" (onConfigure)="onConfigure($event)">
                            </app-grid-table>
                        </ng-container>
                    </div>

                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>