.accordion-header{
    width: 100%;
    border-radius: 0.7rem;
    outline: none;
    box-sizing: border-box;
    transition: all .3s;
    height: max-content;
    background: rgb(255,255,255);
    box-shadow: 1px 2px 2px #1f26875e;
    backdrop-filter: blur(18.5px);
    list-style-type: none;
}
.accordion{
    position: static;
}
.icon{
    float: right;
    position: relative;
    bottom: 0.8rem;
}
.maan-grid-item-body{
    border-bottom:none ! important;
    display: grid ! important;
    grid-row-gap: 10px ! important;
}
.mat-stepper-horizontal {
    display: block ! important;
    background: none ! important;
}
.table .thead-dark th {
    color: #fff ! important;
    background-color: #333b85 ! important;
    border-color: #333b85 ! important;
    white-space: nowrap ! important;
}

td{
    font-size: .8rem !important;
}
th{
    font-size: .85rem !important;
}
tr{
    padding: 8px !important;
}
.currency{
    position: relative;
    /* left: 1.5rem; */
}
@media screen and (min-width: 750px) and (max-width: 20000px) {
    .display2{
        display:none;
    }
   
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
 {
    .imag-card{
width:300px !important;
    }
    .imclass{
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .display3{
        display:none;
    }
    .tableclass{
        width:450px !important;
    }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 200000px) 
{
   .imag-card{
width:auto !important;
   }
   .imclass{
    padding-left: 70px !important;
    padding-right: 40px !important;
}
.display4{
    display:none;
}
.tableclass{
    width:400px !important;
}
}
 
  
  @media screen and (min-width: 280px) and (max-width: 750px) {
    .display3{ display: none; } 
    .mobile-label {
      display: inline-block;
          font-weight: bold;
          /* margin-right:10px; */
    }
    .mat-mdc-table .mdc-data-table__header-row {
        display: none !important;
    }
   
    .mat-row .mat-mdc-row{
        height: unset;
        display: flex !important;
        flex-direction: column;
    }
    .example-element-detail {
       height:40px;
       width:200px;
    }
    .tableclass{
        width:250px !important;
    }
  
  }


  