<!-- <nb-card>
    <nb-card-header>Issuer Details</nb-card-header>
    <nb-card-body>
        <div class="card p-1">
            <div class="vision-grid vision-grid-column-2">
                <div class="vision-grid-item">
                    <div class="radio-toolbar menu-bar">
                        <input type="radio" id="menu" name="menu" value="Menu" (click)="activeMenu='Menu'" [(ngModel)]="activeMenu">
                        <label for="menu">MenuList</label>
                    </div>
                </div>
                <div class="vision-grid-item"> -->

<!-- </div>
            </div>
        </div>
    </nb-card-body>
</nb-card> -->
<div class="card">
    <div class="card-header">Menu Configuration</div>
    <div class="card-body">
        <div class="vision-grid vision-grid-column-3 country-selection my-3" *ngIf="userList.length!=0 || includedUserList.length!=0">
            <div class="vision-grid-item">
                <div class="vision-grid-item-title">
                    Quotation Menu List <small class="text-dark"><i>(Included)</i></small>
                </div>
                <div class="vision-grid-item-body">

                    <div class="input-control-container">
                        <div class="input-form-box">
                            <span class="input-form-icon">
                                <i class="fas fa-search"></i>
                            </span>
                            <input type="text" class="input-form-control with-icon search-input">
                        </div>
                    </div>
                    <ul class="list-group checklist list-group-flush">
                        <ng-container *ngFor="let item of userList;let i = index">
                            <ng-container *ngIf="item.IsDesti">
                                <label class="custom-checkbox-container">
                                    <input type="ckeckbox" [(ngModel)]="item.IsDesti" id="textCheckbox"  [value]="item.id" checked="checked">
                                    <div class="description" (click)="onChange(item)"  (change)="checkUncheckAll()">
                                        <div class="description-name">
                                            <span>
                                            {{item?.title}}
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </ng-container>

                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="vision-grid-item-title">
                    Actions
                </div>
                <div class="vision-grid-item-body">
                    <div class="exchange-icon">

                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onSelected('left')">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="action-btn-item">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <div class="action-btn-item" (click)="onSelected('right')">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveAll('left')">
                            <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <div class="action-btn-item" (click)="onMoveAll('right')">
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                    <!-- <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveGroupWise('africanCode','left')">
                        <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                        African
                        </div>
                        <div class="action-btn-item" (click)="onMoveGroupWise('africanCode','right')">
                        <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveGroupWise('gccCode','left')">
                        <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                        GCC
                        </div>
                        <div class="action-btn-item" (click)="onMoveGroupWise('gccCode','right')">
                        <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveGroupWise('cisCode','left')">
                        <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                        CIS
                        </div>
                        <div class="action-btn-item" (click)="onMoveGroupWise('cisCode','right')">
                        <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="vision-grid-item-title">
                    User Menu List <small class="text-dark"><i>(Excluded)</i></small>
                </div>
                <div class="vision-grid-item-body">
                    <div class="input-control-container">
                        <div class="input-form-box">
                            <span class="input-form-icon">
                            <i class="fas fa-search"></i>
                            </span>
                            <input type="text" class="input-form-control with-icon search-input">
                        </div>
                    </div>
                    <ul class="list-group checklist list-group-flush">
                        <ng-container *ngFor="let item of includedUserList">
                            <ng-container *ngIf="item.IsDesti">
                                <label class="custom-checkbox-container">
                                    <input type="checkbox" [name]="item.id" [(ngModel)]="item.IsDesti" [value]="item.id">
                                    <div class="description"  (click)="onChange(item)">
                                        <div class="description-name">
                                        <span>
                                            {{item?.title}}
                                        </span>
                                        </div>
                                    </div>
                                    </label>
                            </ng-container>

                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vision-grid vision-grid-column-3 country-selection my-3" *ngIf="issuerList.length!=0 || includedIssuerList.length!=0">
            <div class="vision-grid-item">
                <div class="vision-grid-item-title">
                    Issuer Menu List <small class="text-dark"><i>(Included)</i></small>
                </div>
                <div class="vision-grid-item-body">
                    <div class="input-control-container">
                        <div class="input-form-box">
                            <span class="input-form-icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                            <input type="text" class="input-form-control with-icon search-input">
                        </div>
                    </div>
                    <ul class="list-group checklist list-group-flush">
                        <ng-container *ngFor="let item of issuerList;let i=index">
                            <label class="custom-checkbox-container">
                                    <input type="checkbox" [name]="item.id"  [(ngModel)]="item.IsDesti" [value]="item.id">
                                    <div class="description" (click)="onChange(item)">
                                        <div class="description-name">
                                            <span>
                                            {{item?.title}}
                                            </span>
                                        </div>
                                    </div>
                                </label>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="vision-grid-item-title">
                    Actions
                </div>
                <div class="vision-grid-item-body">
                    <div class="exchange-icon">

                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onIssuerSelected('left')">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="action-btn-item">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <div class="action-btn-item" (click)="onIssuerSelected('right')">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveIssuerAll('left')">
                            <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <div class="action-btn-item" (click)="onMoveIssuerAll('right')">
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                    <!-- <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveGroupWise('africanCode','left')">
                        <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                        African
                        </div>
                        <div class="action-btn-item" (click)="onMoveGroupWise('africanCode','right')">
                        <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveGroupWise('gccCode','left')">
                        <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                        GCC
                        </div>
                        <div class="action-btn-item" (click)="onMoveGroupWise('gccCode','right')">
                        <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                    <div class="action-btns">
                        <div class="action-btn-item" (click)="onMoveGroupWise('cisCode','left')">
                        <i class="fas fa-angle-double-left"></i>
                        </div>
                        <div class="action-btn-item">
                        CIS
                        </div>
                        <div class="action-btn-item" (click)="onMoveGroupWise('cisCode','right')">
                        <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="vision-grid-item">
                <div class="vision-grid-item-title">
                    Approval Menu List <small class="text-dark"><i>(Excluded)</i></small>
                </div>
                <div class="vision-grid-item-body">
                    <div class="input-control-container">
                        <div class="input-form-box">
                            <span class="input-form-icon">
                            <i class="fas fa-search"></i>
                            </span>
                            <input type="text" class="input-form-control with-icon search-input">
                        </div>
                    </div>
                    <ul class="list-group checklist list-group-flush">
                        <ng-container *ngFor="let item of includedIssuerList">
                            <label class="custom-checkbox-container">
                            <input type="checkbox"  [(ngModel)]="item.IsDesti" [value]="item.id">
                            <div class="description" (click)="onChange(item)">
                                <div class="description-name">
                                <span>
                                    {{item?.title}}
                                </span>
                                </div>
                            </div>
                            </label>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-danger" (click)="ongetBack()">Back</button>
            <button class="btn btn-success ml-2" (click)="onProceed()">Submit</button>
        </div>
    </div>
</div>
