<div class="maan-grid-item"  *ngIf="errorSection">
    <div class="maan-grid-item-body row">
        <div class="text-center">
                <span class="text-danger" *ngIf="policyStartError"><b>Please Enter Policy Start Date</b></span>
                <span class="text-danger" *ngIf="policyEndError"><b>Please Enter Policy End Date</b></span>
                <span class="text-danger" *ngIf="currencyCodeError"><b>Please Select Currency</b></span>
                <span class="text-danger" *ngIf="sourceTypeError"><b>Please Select Source</b></span>
                <span class="text-danger" *ngIf="brokerCodeError"><b>Please Select Source Code</b></span>
                <span class="text-danger" *ngIf="brokerBranchCodeError"><b>Please Select Broker Branch</b></span>
                <span class="text-danger" *ngIf="promoCodeError"><b>Please Enter PromoCode</b></span>
                <span class="text-danger" *ngIf="customerCodeError"><b>Please Enter Customer Code<br></b></span>
                <span class="text-danger" *ngIf="customerTitleError"><b>Please Choose Customer Title<br></b></span>
                <span class="text-danger" *ngIf="customerNameError"><b>Please Enter Customer Name<br></b></span>
                <span class="text-danger" *ngIf="customerMobileCodeError"><b>Please Choose Customer Mobile Code<br></b></span>
                <span class="text-danger" *ngIf="customerMobileNoError"><b>Please Enter Customer Mobile Number<br></b></span>
                <span class="text-danger" *ngIf="customerTypeError"><b>Please Choose Customer Type</b></span>
                <span class="text-danger" *ngIf="customerPolicyTypeError"><b>Please Choose Identity Type<br></b></span>
                
                <span class="text-danger" *ngIf="customerIdNumberError"><b>Please Enter ID Number</b></span>
        </div>
    </div>
</div>
<div class="maan-grid-item" style="margin-top: -6px !important;" *ngIf="uploadSection">
    <div class="maan-grid-item-title">
        <div class="d-flex justify-content-between">
            <div>
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span>
                <span class="spancommon span_font_size">Upload Vehicle </span>
            </div>
            <div>
                <button class="maan-btn maan-btn-green maan-btn-data ml-1" *ngIf="showEmpRecordsSection" matRipple (click)="onEnableUploadSection()" style="white-space: nowrap;"><i class="fas fa-upload"></i>&nbsp;Upload Vehicle Details</button>
            </div>
        </div>
    </div>
    <div class="maan-grid-item-body">
        <ng-container *ngIf="!showEmpRecordsSection">
            <div class="row" *ngIf="uploadStatus==null">
                <div class="col-md-8 col-lg-8 offset-2" >
                    <input style="display: none;" type="file" (change)="onUploadDocuments($event,null,'direct','select')" #doc>
                    <div class="imag-card my-3" appDragDropFileUpload (fileDropped)="onUploadDocuments($event,null,'direct','drag')" (click)="doc.click()">
                        <div>
                            <div class="center">
                                <b class="text-dark" style="font-size:1rem">
                                    <i class="far fa-images"></i> Drag or Click</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="uploadDocList.length!=0 && uploadStatus==null">
                <div class="col-md-8 col-lg-8 col-xl-8 offset-2">
                    <table class="table" id="capture_table">
                        <thead>
                            <tr>
                                <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                <th scope="col"><span class="spancommon">FileName</span></th>
                                <th scope="col"><span class="spancommon">Delete</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let document of uploadDocList;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td><span class="spancommon">{{document.filename}}</span></td>
                                <td>
                                    <button class="btn-sm btn btn-danger" (click)="uploadDocList=[];"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center mt-2" *ngIf="uploadStatus==null">
                <button class="btn btn-danger btn-sm mr-5" (click)="onCancelDocUpload()"> Cancel</button>&nbsp;&nbsp;
                <button class="btn btn-success btn-sm" *ngIf="uploadDocList.length!=0" (click)="onUploadVehicleData()">Upload</button>
            </div>
            <div class="text-center" *ngIf="uploadStatus">
                <p>{{uploadStatus}}</p>
            </div>
        </ng-container>
        <div *ngIf="showEmpRecordsSection">
            <div class="row" *ngIf="employeeUploadRecords.length!=0">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <table class="table" id="capture_table">
                        <thead>
                            <tr>
                                <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                <th scope="col"><span class="spancommon">Uploaded Date</span></th>
                                <th scope="col"><span class="spancommon">Total Records</span></th>
                                <th scope="col"><span class="spancommon">Valid Records</span></th>
                                <th scope="col"><span class="spancommon">Error Records</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let records of employeeUploadRecords;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td><span class="spancommon">{{records.UploadDate}}</span></td>
                                <td> <span class="spancommon">{{records.TotalRecords}}</span> </td>
                                <td> <span class="spancommon">{{records.ValidRecords}}</span> </td>
                                <td> <span class="spancommon">{{records.ErrorRecords}}</span> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-2" *ngIf="employeeUploadRecords[0].ValidRecords!='0' && employeeUploadRecords[0].ValidRecords!=null">
                    <button class="custom-btn btn-7 maan-button-data mx-2" (click)="updateEmployeeRecordsTable()">Move Records</button>
                </div>
                <ng-container *ngIf="errorRecords.length!=0">
                    <div class="d-flex justify-content-between maan-grid-item maan-grid-item-title">
                        <div class="headcommon" >
                            <span><i class="fas fa-users mx-1 mt-3"></i></span>
                            <span class="spancommon span_font_size" style="font-weight:600">Error  Details</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <span style="width:'25px !important';height:'10px !important'"></span>&nbsp;<span>Input Based Error</span>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12" >
                        <table class="table" id="capture_table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                    <th scope="col"><span class="spancommon">Chassis No/Reg No</span></th>
                                    <th scope="col"><span class="spancommon">Policy Type</span></th>
                                    <th scope="col"><span class="spancommon">Start Date</span></th>
                                    <th scope="col"><span class="spancommon">End Date</span></th>
                                    <th scope="col"><span class="spancommon">TIRA Error</span></th>
                                    <th scope="col"><span class="spancommon">Input Error</span></th>
                                    <!-- <th scope="col"><span class="spancommon">Action</span></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let records of errorRecords|paginate:{itemsPerPage: 5, currentPage:j , id:'j'};let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td><span class="spancommon">{{records.SearchByData}}</span></td>
                                    <td> <span class="spancommon">{{records.InsuranceType}}</span> </td>
                                    <td> <span class="spancommon">{{records.PolicyStartDate}}</span> </td>
                                    <td> <span class="spancommon">{{records.PolicyEndDate}}</span> </td>
                                    <ng-container *ngIf="records.TiraStatus!='E'">
                                        <td> <span class="spancommon">N/A</span> </td>
                                    </ng-container>
                                    <ng-container *ngIf="records.TiraStatus=='E'">
                                        <td class="tiraBg"> <span class="spancommon">{{records.TiraErrorDesc}}</span> </td>
                                    </ng-container>
                                    <ng-container  *ngIf="records.InputStatus=='E'">
                                        <td class="inputBg"> <span class="spancommon">{{records.InputErrorDesc}}</span> </td>
                                    </ng-container>
                                    <ng-container *ngIf="records.InputStatus!='E'">
                                        <td> <span class="spancommon">N/A</span> </td>
                                    </ng-container>
                                    <!-- <td> 
                                            <button class="btn btn-primary" (click)="onDeleteErrorRow(records)"><i class="fa fa-pen"></i></button>    
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end">
                        <pagination-controls (pageChange)="j=$event"  id="j"></pagination-controls>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-danger btn-sm mr-5" (click)="showEmpRecordsSection=!showEmpRecordsSection;uploadDocList=[];uploadStatus=null;errorRecords=[];"> Cancel</button>&nbsp;&nbsp;
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="maan-grid-item" style="margin-top: -6px !important;" *ngIf="customerData.length!=0">
    <div class="maan-grid-item-title display1" *ngIf="customerData.length!=0">
        <div class="d-flex justify-content-between">
            <div>
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span> <span class="spancommon">Vehicle to Insure</span>
            </div>
            <div *ngIf="!searchSection && statusValue!='RA' && (!endorsementSection || (endorsementSection && enableAddVehicle)) && !checkDisableField()">
                <button class="maan-btn maan-btn-blue maan-button-data" style="bottom: 0.2rem !important;" (click)="searchSection=!searchSection;uploadSection=false;setDefaultValues()" matRipple><i class="fas fa-plus"></i>&nbsp;Add New</button>&nbsp;
                <button class="maan-btn maan-btn-yellow maan-btn-data ml-1" (click)="employeedownload()" *ngIf="loginType==null" style="white-space: nowrap;bottom: 0.2rem !important;"><i class="fas fa-download mx-1"></i>Sample Vehicle Details</button>&nbsp;
                <button class="maan-btn maan-btn-green maan-btn-data ml-1" matRipple *ngIf="!uploadSection && loginType==null" (click)="onEnableUploadSection()" style="white-space: nowrap;bottom: 0.2rem !important;"><i class="fas fa-upload"></i>&nbsp;Upload Vehicle Details</button>
            </div>
        </div>
    </div>
    
    <div class="display2 mb-0" *ngIf="customerData.length!=0">
        <div class="row mt-2">
            <div class="col-12 mt-2" style="border-bottom: 2px solid #333b85;">
                <span>
                    <i class="fas fa-car mx-1"></i>
                    <span style="font-size: 16px;">Vehicle to Insure</span>
                </span>
            </div>
            
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div *ngIf="!searchSection && statusValue!='RA' && (!endorsementSection || (endorsementSection && enableAddVehicle)) && !checkDisableField()">
                <button class="maan-btn maan-btn-blue maan-button-data" style="bottom: 0.2rem !important; width:100px!important" (click)="searchSection=!searchSection" matRipple><i class="fas fa-plus"></i>&nbsp;Add New</button>&nbsp;
               
            </div>
            <div *ngIf="!searchSection && statusValue!='RA' && (!endorsementSection || (endorsementSection && enableAddVehicle)) && !checkDisableField()">
                <button class="maan-btn maan-btn-green maan-btn-data ml-1" *ngIf="!uploadSection" matRipple (click)="onEnableUploadSection()" style="white-space: nowrap;bottom: 0.2rem !important;"><i class="fas fa-upload"></i>&nbsp;Upload Vehicle Details</button>
            </div>
        </div>
    </div>
    <div class="maan-grid-item-body" *ngIf="customerData.length!=0">
        <ng-container *ngIf="showTiraUpdateSection">
            <div class="text-center text-primary mt-2">
                    Registration Number Already Available, Motor Details Pulled From Tira 
            </div>
        </ng-container>
        <div class="row mt-2">
            <div class="col-12 col-md-12">
                <ng-container *ngIf="customerData.length!=0">
                    <app-grid-table [cols]="customerHeader" [data]="customerData" [filterValue]="filterValue" [Currency]="currencyCode" (onEdit)="onEditVehicle($event)" (onDelete)="onDelete($event)">
                    </app-grid-table>
                </ng-container>
                <ng-container *ngIf="customerData.length==0">
                    <div class="text-center">
                        No Vehicles Available
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="text-center mb-2 mt-2">
            <button class="custom-btn btn-5 mr-2" *ngIf="!searchSection && vehicleWishList.length==0 && loginType!='B2CFlow'" (click)="ongetBack()" matRipple><<&nbsp;Back</button>&nbsp;
            <button class="custom-btn btn-6 maan-button-data mr-2" *ngIf="!vehicleDetails && !searchSection && this.customerData.length!=0" (click)="WishListProceed()" matRipple>&nbsp;Proceed</button>
        </div>
    </div>
</div>
<div class="maan-grid-item" style="margin-top: -6px !important;" *ngIf="searchSection">
    <div class="maan-grid-item-title display1">
        <div class="d-flex justify-content-between">
            <div>
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span>
                <span class="spancommon span_font_size">Vehicle Search</span>
            </div>
            <div *ngIf="searchSection ">
                <button class="maan-btn maan-btn-blue maan-btn-data ml-1" matRipple (click)="onCreateVehicle()" style="white-space: nowrap;"><i class="fas fa-plus"></i>&nbsp;Create Vehicle Details</button>&nbsp;
                <button class="maan-btn maan-btn-yellow maan-btn-data ml-1" (click)="employeedownload()" *ngIf="loginType==null" style="white-space: nowrap;bottom: 0.2rem !important;"><i class="fas fa-download mx-1"></i>Sample Vehicle Details</button>&nbsp;
                <button class="maan-btn maan-btn-green maan-btn-data ml-1" matRipple (click)="onEnableUploadSection()" *ngIf="loginType==null" style="white-space: nowrap;"><i class="fas fa-upload"></i>&nbsp;Upload Vehicle Details</button>
            </div>
        </div>
    </div>
    <div class="display2">
        <div class="row mt-2">
            <div class="col-12 mt-2" style="border-bottom: 2px solid #333b85;">
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span>
                <span class="spancommon span_font_size">Vehicle Search</span>
            </div>
            
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div *ngIf="searchSection">
                <button class="maan-btn maan-btn-blue maan-btn-data ml-1" matRipple (click)="onCreateVehicle()" style="white-space: nowrap;"><i class="fas fa-plus"></i>&nbsp;Create Vehicle Details</button>&nbsp;
               
            </div>
            <div *ngIf="searchSection">
                <button class="maan-btn maan-btn-green maan-btn-data ml-1" matRipple (click)="onEnableUploadSection()" style="white-space: nowrap;"><i class="fas fa-upload"></i>&nbsp;Upload Vehicle Details</button>
                </div>
            </div>
    </div>
    <div class="maan-grid-item-body">
        <div class="row" *ngIf="searchSection">
            <div class="col-12 col-md-3 col-lg-3">
                <div class="input-control-container">
                    <label class="input-form-label">Search By</label>
                    <ng-select class="input-form-select" appendTo="body" [items]="searchList" [(ngModel)]="searchBy" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-1">
                <div class="input-control-container">
                    <label class="input-form-label">Search Value</label>
                    <div class="input-form-box">
                        <input type="text" [(ngModel)]="searchValue" class="input-form-control without-icon new">
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-4 mt-4" *ngIf="searchSection">
                <button class="custom-btn btn-6 maan-button-data" (click)="onSearchVehicle()" matRipple><i class="fas fa-search" style="position: relative;right: 0.2rem;top: 0.05rem;"></i>&nbsp;Search</button>
                <button class="custom-btn btn-5  mr-2" *ngIf="vehicleWishList.length==0 && loginType!='B2CFlow'" (click)="ongetBack()" matRipple style="position: relative;left: 0.5rem;"><<&nbsp;Back</button>&nbsp;
            </div>
            <div class="text-center" *ngIf="wishDuplicateError">
                <h4 class="text-danger w3-animate-left"> Registration Number Already Available</h4>
            </div>
        </div>
        
            <div class="col-12 col-md-12 mt-1">
                <ng-container *ngIf="customerData2.length!=0">
                    <app-grid-table [cols]="customerHeader2" [data]="customerData2" [filterValue]="filterValue" (onEdit)="onEditCovers($event)" (onSelectCustomer)="onSelectVehicle($event)" (onDelete)="onDelete($event)">
                    </app-grid-table>
                </ng-container>
            </div>
        <div class="text-center mb-2">
            <button class="custom-btn btn-6 maan-button-data" matRipple *ngIf="vehicleDetails && customerData2.length!=0" (click)="onAddVehicleWishList()" ><i class="fas fa-plus"></i>&nbsp;Add Vehicle</button>
        </div>
    </div>
</div>
<!-- <div class="maan-grid-item" style="margin-top: -6px !important;" *ngIf="searchSection && insuranceId=='100004'">
    <div class="maan-grid-item-title display1">
        <div class="d-flex justify-content-between">
            <div>
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span>
                <span class="spancommon span_font_size">Vehicle Details</span>
            </div>
        </div>
    </div>
    <div class="display2">
        <div class="row mt-2">
            <div class="col-12 mt-2" style="border-bottom: 2px solid #333b85;">
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span>
                <span class="spancommon span_font_size">Vehicle Details</span>
            </div>
            
        </div>
    </div>
    <div class="maan-grid-item-body">
        <div class="row mt-1">
            <div class="col-12 col-md-3 ">
                <div class="input-control-container">
                    <label class="input-form-label">Registration No</label>&nbsp;<span
                    class="text-danger">*</span>&nbsp;<span
                    class="text-success" *ngIf="validSection"><i class="fa fa-circle-check"></i></span>
                    <div class="input-form-box">
                        <input type="text" maxlength="25" [(ngModel)]="regNo" (change)="onRegistrationSearch()"
                            class="input-form-control without-icon new" (keypress)="omit_special_char($event)">
                    </div>
                    <div class="input-form-error" *ngIf="editSection && !duplicateSection">
                        <div class="text-primary" style="font-size: 12px;">
                            Validating Registration Number..Please Wait
                        </div>
                    </div>
                    <div class="input-form-error" *ngIf="duplicateSection">
                        <div class="text-danger" style="font-size: 12px;">
                            Registration Number Already Exist in this Quote...
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Body Type</label>&nbsp;<span
                        class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [disabled]="editSection" [(ngModel)]="bodyTypeValue" [items]="bodyTypeList" (change)="onBodyTypeChange('change')" bindValue="CodeDesc" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-3 ">
                <div class="input-control-container">
                    <label class="input-form-label">Make</label>&nbsp;<span
                    class="text-danger">*</span>
                    <ng-select class="input-form-select" [disabled]="editSection" [items]="makeList" (change)="onMakeChange()" [(ngModel)]="makeValue" appendTo="body"  bindValue="Code"
                        bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-3" *ngIf="bodyTypeId=='1' || bodyTypeId=='2' || bodyTypeId=='3' || bodyTypeId=='4' || bodyTypeId=='5' || bodyTypeId=='' || bodyTypeId==null">
                <div class="input-control-container">
                    <label class="input-form-label">Model</label>&nbsp;<span
                    class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [disabled]="editSection" (change)="onModelChange()"  [items]="modelList"
                    [(ngModel)]="modelValue" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-md-3" *ngIf="(bodyTypeId!='1' && bodyTypeId!='2' && bodyTypeId!='3' && bodyTypeId!='4' && bodyTypeId!='5' && bodyTypeId!='' && bodyTypeId!=null) || modelValue=='99999'">
                <div class="input-control-container">
                    <label class="input-form-label">Model Description</label>&nbsp;<span
                    class="text-danger">*</span>
                    <div class="input-form-box">
                        <input type="text" [(ngModel)]="modelDesc" maxlength="50" [disabled]="editSection"
                            class="input-form-control without-icon" (keypress)="omit_special_char($event)">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 ">
                <div class="input-control-container">
                    <label class="input-form-label">Chassis No</label>&nbsp;<span
                        class="text-danger">*</span>
                    <div class="input-form-box">
                        <input type="text" maxlength="25" [(ngModel)]="chassisNo" (keypress)="omit_special_char($event)"
                            class="input-form-control without-icon new" [disabled]="editSection">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Engine No</label>&nbsp;<span
                        class="text-danger">*</span>
                    <div class="input-form-box"> 
                        <input type="text"  maxlength="20"  [(ngModel)]="engineNo" [disabled]="editSection"
                            class="input-form-control without-icon new" (keypress)="omit_special_char($event)">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Engine Capacity</label>&nbsp;<span
                        class="text-danger">*</span>
                    <div class="input-form-box">
                        <input type="text"  maxlength="5" [(ngModel)]="engineCapacity" [disabled]="editSection"
                            class="input-form-control without-icon">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Manufacture Year</label>&nbsp;<span
                        class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [disabled]="editSection" [items]="years" [(ngModel)]="manufactureYear" bindValue="Code" bindLabel="CodeDesc">
                    </ng-select>

                </div>
            </div>
            
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Color</label>
                    <ng-select class="input-form-select" appendTo="body" [disabled]="editSection" [items]="colorList" [(ngModel)]="colorValue" bindValue="CodeDesc" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
            
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Seating Capacity</label>&nbsp;<span
                        class="text-danger">*</span>
                    <div class="input-form-box">
                        <input type="text"  maxlength="3"  [(ngModel)]="seatingCapacity" [disabled]="editSection"
                            class="input-form-control without-icon">
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-3">
                <div class="input-control-container">
                    <label class="input-form-label">Motor Usage</label>&nbsp;<span
                        class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [disabled]="editSection" [items]="usageList" [(ngModel)]="usageValue" bindValue="CodeDesc" bindLabel="CodeDesc">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
                <button class="btn btn-danger"  *ngIf="customerData.length!=0" (click)="searchSection=!searchSection" [disabled]="editSection">Cancel</button>&nbsp;
                <button class="btn btn-danger"  *ngIf="customerData.length==0" (click)="ongetBack()" [disabled]="editSection">Back</button>&nbsp;
                <button class="btn btn-primary" (click)="onMotorDetailsSave()" [disabled]="editSection">Submit</button>
        </div>
    </div>
</div> -->
<div class="maan-grid-item" style="margin-top: -6px !important;" *ngIf="vehicleWishList.length!=0">
    <div class="maan-grid-item-title">
        <div class="d-flex justify-content-between">
            <div>
                <span class="mx-1">
                    <i class="fas fa-car mx-1"></i>
                </span> <span class="spancommon">Vehicle List</span>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="maan-grid-item-body">
        <div class="row" *ngIf="vehicleWishList.length!=0">
            <div class="col-12 col-md-12">
                <ng-container *ngIf="wishSection">
                    <app-grid-table [cols]="customerHeader3" [data]="vehicleWishList" [filterValue]="filterValue" (onEdit)="onEditVehicle($event)" (onDelete)="onDeleteVehicleWish($event)">
                    </app-grid-table>
                </ng-container>
            </div>
        </div>
        <div class="text-center mb-2">
            <button class="custom-btn btn-5 mr-2 custom-btn btn-5" (click)="ongetBack()" *ngIf="(loginType!='B2CFlow')" matRipple><<&nbsp;Back</button>&nbsp;
            <button class="custom-btn btn-6  maan-button-data" matRipple (click)="WishListProceed()"><i class="fas fa-check"></i>&nbsp;Proceed</button>
        </div>
    </div>
</div>
