<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="maan-grid customer-grid maan-grid-column-1">
             
            <div class="maan-grid-item">

                <div class="maan-grid-item-title">

                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                <i class="fas fa-user mx-1"></i>
        
                            </span>Integration
                        </div>
                        <div>
                            <!--<button class="custom-btn btn-6" (click)="onchange()"><i class="fas fa-user mx-1"></i>Change Customer</button>
                            <button class="maan-btn maan-btn-red" (click)="editChange()" style="margin-left:20px;"><i class="fas fa-edit" style="color:lightblue"></i></button>-->
                        </div>
                    </div>
                    </div>
                    <div class="maan-grid-item-body mt-3">
                        <div class="row mt-1 ml-4">

                            <div class="row ml-4">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Policy No</b></label>
                                        <div class="input-form-radio-box">
                                          P1006-30001-23PN
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Status</b></label>
                                        <div class="input-form-radio-box">
                                         Sucesss
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="row mt-2 ml-4">

                                <div style="color:orchid">Policy Stage</div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Method Creation Status</b></label>
                                        <div class="input-form-radio-box">
                                               Success
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Request Time</b></label>
                                        <div class="input-form-radio-box">
                                               17/01/2023
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Response Time</b></label>
                                        <div class="input-form-radio-box">
                                               19/01/2023
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            <div class="row mt-2 ml-4">

                                <div style="color:orchid">Section Stage</div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Method Creation Status</b></label>
                                        <div class="input-form-radio-box">
                                            Success
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Request Time</b></label>
                                        <div class="input-form-radio-box">
                                            17/04/2023
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Response Time</b></label>
                                        <div class="input-form-radio-box">
                                            19/04/2023
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            
                            <div class="row mt-2 ml-4">
                                <div style="color:orchid">Risk Stage</div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Method Creation Status</b></label>
                                        <div class="input-form-radio-box">
                                              Success
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Request Time</b></label>
                                        <div class="input-form-radio-box">
                                               17/04/2023 20:16
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Response Time</b></label>
                                        <div class="input-form-radio-box">
                                            18/04/2023 20:40
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mt-2 ml-4">
                                <div style="color:orchid">Driver Stage</div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Method Creation Status</b></label>
                                        <div class="input-form-radio-box">
                                              Success
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Request Time</b></label>
                                        <div class="input-form-radio-box">
                                               17/04/2023 20:16
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Response Time</b></label>
                                        <div class="input-form-radio-box">
                                            18/04/2023 20:40
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row mt-2 ml-4">
                                <div style="color:orchid">Cover Stage</div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Method Creation Status</b></label>
                                        <div class="input-form-radio-box">
                                              Success
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Request Time</b></label>
                                        <div class="input-form-radio-box">
                                               17/04/2023 20:16
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Response Time</b></label>
                                        <div class="input-form-radio-box">
                                            18/04/2023 20:40
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row mt-2 ml-4">
                                <div style="color:orchid">Discount Stage</div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Method Creation Status</b></label>
                                        <div class="input-form-radio-box">
                                              Success
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Request Time</b></label>
                                        <div class="input-form-radio-box">
                                               17/04/2023 20:16
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Response Time</b></label>
                                        <div class="input-form-radio-box">
                                            18/04/2023 20:40
                                        </div>
                                    </div>
                                </div>
                            </div>


                                
                        
                           
                           
                        </div>
                    </div>


                    </div>

            </div>

            </div>

    </div>
</div>