.table .thead-dark th {
    color: #fff !important;
    background-color: #333a84 !important;
    border-color: #7d82b1 !important;
}
.customPadding{
    margin-left: 15px;
}
@media screen and (min-width:700px) and (max-width: 20000px) {
    .display2{
       display:none;
        }
        .smallclass{
            padding-left: 70px !important;
            padding-right: 40px !important;
        }
    }

 @media screen and (min-width: 280px) and (max-width: 700px) {
    .display1{
        display:none;
         }
         .vision-grid-column-2{
            grid-template-columns:none !important;
         }
         .smallclass{
            padding-left: 5px;
            padding-right:none !important;
        }
 }