<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="maan-grid customer-grid maan-grid-column-1">
             
            <div class="maan-grid-item">

                <div class="maan-grid-item-title">

                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="mx-1">
                                <i class="fas fa-user mx-1"></i>
        
                            </span> Customer Information
                        </div>
                        <div>
                            <!--<button class="custom-btn btn-6" (click)="onchange()"><i class="fas fa-user mx-1"></i>Change Customer</button>
                            <button class="maan-btn maan-btn-red" (click)="editChange()" style="margin-left:20px;"><i class="fas fa-edit" style="color:lightblue"></i></button>-->
                        </div>
                    </div>
                    </div>
                    <div class="maan-grid-item-body mt-3">
                        <div class="row mt-1 ml-4">

                            <div class="row ml-4">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Name</b></label>
                                        <div class="input-form-radio-box">
                                            {{clientName}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Civil Id</b></label>
                                        <div class="input-form-radio-box">
                                         {{idNumber}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Mobile No</b></label>
                                        <div class="input-form-radio-box">
                                           {{policyDesc}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                         

                            <div class="row mt-2 ml-4">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Login Id</b></label>
                                        <div class="input-form-radio-box">
                                               {{MobileNo1}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Application Id</b></label>
                                        <div class="input-form-radio-box">
                                              76453ASDF
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Email</b></label>
                                        <div class="input-form-radio-box">
                                              han@gmail.com
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            <div class="row mt-2 ml-4">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Occupation</b></label>
                                        <div class="input-form-radio-box">
                                               Cashier
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>City</b></label>
                                        <div class="input-form-radio-box">
                                               Chennai
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Address</b></label>
                                        <div class="input-form-radio-box">
                                              Eldams Road
                                        </div>
                                    </div>
                                </div>
                            </div>


                            
                            
                            <div class="row mt-2 ml-4">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Nationality</b></label>
                                        <div class="input-form-radio-box">
                                               {{Nationality}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Division</b></label>
                                        <div class="input-form-radio-box">
                                               {{Division}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Customer Code</b></label>
                                        <div class="input-form-radio-box">
                                               {{CustomerCode}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                                
                            <div class="row mt-2 ml-4">
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>CustomerCodeName</b></label>
                                        <div class="input-form-radio-box">
                                               {{CashCustomer}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Source Type</b></label>
                                        <div class="input-form-radio-box">
                                               {{So}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="input-control-container">
                                        <label class="input-form-label"><b>Source</b></label>
                                        <div class="input-form-radio-box">
                                               {{Ho}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>


                    </div>

            </div>

            </div>

    </div>
</div>



