<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="spancommon span_font_size">
                Cancelled Policies
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="userType == 'Issuer'">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="input-control-container">
                    <label class="input-form-label">Broker Name</label><span class="text-danger">*</span>
                    <ng-select class="input-form-select" appendTo="body" [(ngModel)]="brokerCode"  [items]="brokerList" bindValue="Code" bindLabel="CodeDesc" (change)="getExistingQuotes(null,'change')">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 ml-5">
                <ng-container *ngIf="quoteData.length!=0">
                    <app-commodity-table [cols]="quoteHeader" [start]="startIndex" [pageCount]="pageCount" [end]="endIndex" [pageNo]="quotePageNo" [totalQuoteRecords]="totalQuoteRecords" (onLoadPreviousData)="onPreviousData($event)" (onLoadNextData)="onNextData($event)" [data]="quoteData" [innerCols]="innerColumnHeader" [innerData]="innerTableData" (onEdit)="onEditQuotes($event)" (onAdd)="onInnerData($event)">
                    </app-commodity-table>
                </ng-container>
                <ng-container *ngIf="quoteData.length==0">
                    <div class="text-center spancommon span_font_size">
                        No Quote Available
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>